[2016-12-20 17:38] titaniumbones opened #1 "Progress Meter/Analysis Tool/Visualization"
We need better ways for volunteers to identify relevant areas of the target websites.  Primers provided to us from the policy analysis group will be really helpful. But it might also be really useful to hook up the [sitemap tool](https://github.com/guerrilla-archiving/epa) to the records of what's already been nominated, so we have some kind of visualization of what's already been done & where we

[2016-12-22 12:13] titaniumbones opened #2 "FOIA-a-tron"
If we're going to have FOIA-a-thons, we should either find or build a tool that provides boilerplate legalese for FOIA requests & makes it trivial to submit them. I actually think that those kinds of tools exist, haven't done any research yet, just didn't want to lose this idea.

[2016-12-23 16:13] titaniumbones opened #3 "Investigate/add in Webrecorder or brozzler info"
There have been a number of pointers to [webrecorder.io](https://webrecorder.io/) and the IA's [brozzler](https://github.com/internetarchive/brozzler) tool. We should investigate & figure outuse cases, then point to them from here.

[2017-01-06 18:06] dcwalk opened #4 "Add in link to Trello board"
We have a kanban-esque board for project management, this should be linked to: https://trello.com/b/owAePiFt

[2017-01-11 01:48] titaniumbones opened #6 "Review README changes"
I just committed them to master (gaah!) instead of submitting a PR. Nonetheless it would be good if you checked them over.  There are a couple of italicized sections that I'm hoping you can fill in; in general the language may need to be revised, too.

[2017-01-11 19:47] patcon opened #7 "Suggest GH team setup for access control"
I just kinda decided to use a lieutenant model like the linux project, which seemed simple given my experience. But I could imagine this part being much more confusing if a group didn't have an opinion on a way to manage access -- a GH team, done incorrectly, can in effect lock participants out of being able to work effectively, and so kill later momentum in the project.

How I operated:

* Create

[2017-01-12 16:17] dcwalk commented on #7
This is great @patcon! We've added into the Recommendations and Lessons Learned section and pointed to this issue for the full explanation. I'm closing this but it'll still be linked to!

[2017-01-12 16:17] #7 closed, assigned to nobody

[2017-01-12 20:12] dcwalk opened #11 "Confirm status of tools"
We have a preliminary pass on the [status of the tools](https://github.com/edgi-govdata-archiving/overview/blob/master/README.md#review-of-our-tools) coming out of the guerrilla archiving event... but there are a lot of unknowns

[2017-01-12 20:34] dcwalk opened #12 "Rename repos and add descriptions"
Just noticing we have a lot of tool names and descriptions that are not clear, especially for the ones that are tailored to specific agency.

I'd suggest:
- [x] consistently rename repos to link to specific datasets/agencies
- [x] update repo descriptions to make clear status and outcomes of tool

[2017-01-12 23:41] #4 closed, assigned to dcwalk

[2017-01-12 23:49] titaniumbones commented on #12
This is important, if you don't get to it tonight I'll try to start on it after my meeting (10ish, though I collapse around 10:30...)

[2017-01-13 02:01] dcwalk commented on #6
I think as a first pass this has been completed.

We should revisit after the next round of events if this can be improved, otherwise individual issues can address the elements we should work on

[2017-01-13 02:01] #6 closed, assigned to dcwalk

[2017-01-13 03:00] dcwalk commented on #12
I'll work on this now, ping me if/when you have time tonight!

[2017-01-13 03:47] #12 closed, assigned to nobody

[2017-01-13 05:15] dcwalk opened #15 "Streamling/review Checklist"
This could probably be made more succinct, and has some duplication with the readme

[2017-01-15 19:12] titaniumbones opened #16 "Add detailed recommendations about Github organizations & distributed workflow"
We should make stronger recommendations about the use of Github organizations as a structure for both individual events and the longer-term project.  In particular, we should outline forking/merging recommendations for a spoke-hub structure.

[2017-01-17 20:49] atesgoral commented on #16
I would also recommend the use of rebase over merge to keep commit histories clean.

[2017-01-17 21:05] titaniumbones commented on #16
(are you perhaps referring to my accidental-merging disaster, polluting all the commit histories for all eternity)?

[2017-01-17 21:40] dcwalk commented on #16
@atesgoral can you clarify the cases when you would prefer rebase?

I think some of this could be captured in: #10 contributor guidelines

[2017-01-18 04:44] atesgoral commented on #16
@dcwalk If everyone is strictly following a workflow through PRs (i.e. not committing directly to master), the only merge commits there would ever need to be are PR merge commits, which can be cleanly ported over if needed to other branches.

For synchronizing development streams with branches that are ahead, a rebase (strictly without squashing!) paints a better mental model than a merge because

[2017-01-18 05:33] dcwalk commented on #16
@atesgoral we had discussed and recommended working exclusively through PRs (as stubbed out in #10) and branches or local repos (tho this is something that can/should be discussed)

I think it would be good to provide some guidance to people on rebasing as we can't expect everyone will have lots of experience, however given that we are aiming to use PRs I'm not sure how or how critical that is to

[2017-01-18 05:40] dcwalk opened #17 "Use Parsehub as a Scraper"
Given requirements for outputs (WARC and/or wanting something in a format for download/browsing from a platform like ckan) I don't think that Parsehub is the right tool for the job. It adds a few additional layers of complexity/work, especially in converting outputs to WARC, which I think would be better served sticking to best practises from IA, in particular moving to WARC proxy to build the WAR

[2017-01-18 05:41] dcwalk commented on #17
(moved over from trello)

[2017-01-18 05:41] #17 closed, assigned to nobody

[2017-01-18 05:43] dcwalk opened #18 "Investigate grab-site for creation of WARCs"
(moved from Trello)

[2017-01-18 05:48] dcwalk opened #19 "Finalize WARC creation method"
We have been using `wget` in python scripts to generate WARCs with results from scraping.
It appears that for bulk results we should have a single resulting WARC instead of multiples.
*This is being worked on in** edgi-govdata-archiving/eis-WARC-archiver#4

Need to have well-formatted WARCs result from scraping tools... dropping some resources here:

- Anatomy of a WARC https://blogs.loc.gov/thesi

[2017-01-18 05:49] dcwalk opened #20 "Set up VM for testing/staging scrapers"

[2017-01-18 05:54] dcwalk commented on #20
Initial VM and storage on ComputeCanada established

[2017-01-18 05:54] #20 closed, assigned to nobody

[2017-01-18 05:55] dcwalk opened #21 "Verify we are properly creating WARCs"
Tools mentioned in this issue: edgi-govdata-archiving/eis-WARC-archiver#4
- https://github.com/ikreymer/webarchiveplayer
- https://warc.readthedocs.io/en/latest/master/warcat

[2017-01-18 06:01] dcwalk opened #22 "Should we revisit Heretrix?"
Per conversation at Jan 17 Civic Tech TO, question was whether we should revisit Heretrix and get an instance up and running for testing
(http://www.crawler.archive.org/index.html)

[2017-01-18 13:22] titaniumbones commented on #16
@atesgoral I think rebasing is just a little bit harder to understand for the less-technical (like myself).  OTOH there is some low-hanging fruit that could maybe go in a `contributing` document:

Contributors: before submitting a PR please :squash" your commits by doing an interactive rebase (as described, e.g., [here](https://github.com/edx/edx-platform/wiki/How-to-Rebase-a-Pull-Request#squash-y

[2017-01-18 17:27] dcwalk opened #23 "Migrate key documentation and tools from DataRefugePhilly event"
Based on conversation prior to the event, we hope to pull some of the key documentaiton and toolkit knowledge from [DataRefugePhilly](https://github.com/datarefugephilly/) back into this EDGI repo to aid future events

Currently some exists here:
- https://github.com/edgi-govdata-archiving/harvesting-toolkit

[2017-01-18 17:34] titaniumbones commented on #23
also here:
- https://github.com/datarefugephilly/bagit-how-to
- and here: https://github.com/datarefugephilly/workflow

It's taken me a while to realize that you guys had a 3-part workflow of which the harvesting part is just an intermediary step. I think we should communicate this to future organizers as effectively as possible.  It sounds like the pressure is off at least a little, though, b/c t

[2017-01-19 04:28] librlaurie commented on #23
We've been working on big improvements to the workflow docs over at https://github.com/datarefugephilly/workflow. I hope you'll take a look and add/correct/improve. Thanks!

[2017-01-20 03:19] dcwalk commented on #18
We are now using this as the method to generate warcs https://github.com/edgi-govdata-archiving/eis-WARC-archiver,

Closing.

[2017-01-20 03:19] #18 closed, assigned to nobody

[2017-01-23 01:22] dcwalk commented on #15
This was addressed in #24, closing

[2017-01-23 01:22] #15 closed, assigned to nobody

[2017-01-23 14:43] dcwalk opened #25 "Remove "Harvesting Toolkit" From EDGI github"
Workflow documentation now all lives in [datarefugephilly/workflow/pull/8](https://github.com/datarefugephilly/workflow/), I'd like to remove the old repo to minimize confusion.

[2017-01-23 14:47] b5 commented on #25
All Set

[2017-01-23 14:47] #25 closed, assigned to b5, dcwalk

[2017-01-23 20:15] dcwalk opened #26 "Add Contributing Guidelines to all active repos"
Add a link back to [overview/Contributing.md](https://github.com/edgi-govdata-archiving/overview/blob/master/CONTRIBUTING.md) so people will see the fancy contributing banner on the top of each repo!

[2017-01-23 20:17] dcwalk opened #27 "Test IPFS out as storage method for data"
See related [IPFS archiving issue](https://github.com/ipfs/archives/issues/104), there are multiple steps to work on!

[2017-01-24 23:08] dcwalk opened #28 "Script improvement to webpage version tracking workflow"
We need a tool to substantially reduce the manual labor of iinputting & evaluating changes to the web pages we're monitoring.

[2017-01-24 23:09] dcwalk opened #29 "Resolve data transfer issue between staging VM and individual downloads"
We are having some issues moving data to the staging VM, could be a problem with firewall/security policies. We are using OpenStack to manage VM instances.

[2017-01-25 01:21] judepark commented on #28
Have anyone checked out piwik? http://developer.piwik.org/guides/tracking-javascript-guide or https://github.com/ruipgil/scraperjs

[2017-01-25 04:24] dcwalk commented on #29
Did some troubleshooting on firewall config with globus. See https://docs.globus.org/how-to/configure-firewall-gcp/.

However moved toward using `scp` and setting up an s3 bucket to ingest data.

[2017-01-25 04:26] dcwalk commented on #28
I've used Piwik on projects for analytics, I'm not sure I see a fit but I wasn't in the group discussion. I think some of those conversations are in `#guerilla-archiving` if you are able to join in @judepark ?

[2017-01-25 04:27] dcwalk commented on #11
Conversation on https://github.com/edgi-govdata-archiving/epa-quantitative, we should update overview to indicate this is experimental but action is moving forward! (Also -- update tracking spreadsheet)

[2017-01-25 05:11] dcwalk opened #30 "Incorporate Feedback from last couple DataRescue events"
Feedback from Philly:

Feedback from Chicago:

     and/or elsewhere, and if someone in the room has a modicum of Python
     experience, Scrapy proved to be a effective and lightweight tool:
     https://doc.scrapy.org/en/1.3/intro/tutorial.html

     in first ... in
     order to make sure that the load can be handled and balanced. We
     experienced some service outages that I worry were cause

[2017-01-25 23:12] geppy commented on #30
I'm in favor of automated provenance metadata.  As far as how to encode that, my first thought would be [PROV (W3C standard)](https://www.w3.org/TR/prov-overview/).  If that sounds worth investigating, it may be worth talking to the [dokieli](http://dokie.li/) community about their experiences with it.  It may also be worth talking to the members of the old PROV WG and of [the Provenance IG](http:

[2017-01-25 23:21] geppy commented on #1
I agree.  Depending on the way the sitemap is presented, it may make sense to use annotations (as with [hypothes.is](https://hypothes.is) and/or the upcoming [Web Annotation spec](https://www.w3.org/annotation/)) or it may make sense to use some sort of URL-matching DSL.

[2017-01-28 00:25] dcwalk opened #31 "Implement solution for managing all workflow tasks at in-person events"
Based on feedback at the Ann Arbor event, there are many issues around the current spreadsheet task management workflow, to briefly summarize:

- too many people in the sheet causes it to perform slowly
- too many ranges have to be unprotected for work, leading to concerns of missing data, duplication, destruction of data
- many people unfamiliar/uncomfortable with UI (e.g., using filters)
- comme

[2017-01-28 18:19] jpmckinney commented on #28
What is this issue about? It has no description. Is it related to https://github.com/edgi-govdata-archiving/version-tracking-ui ?

[2017-01-28 18:20] jpmckinney commented on #2
* https://www.foiamachine.org/ https://github.com/cirlabs/foiamachine
* https://www.muckrock.com/
* http://alaveteli.org/

Any many others. I know a lot about this, so let me know if this issue is pursued!

[2017-01-28 18:25] titaniumbones commented on #28
Yes @jpmckkinney, https://github.com/edgi-govdata-archiving/version-tracking-ui resolves this issue, thank you!

[2017-01-28 18:25] #28 closed, assigned to nobody

[2017-01-28 18:26] jpmckinney commented on #31
Can a description be added to this issue?

[2017-01-29 15:07] dcwalk commented on #31
Yes, edited!

[2017-01-29 15:11] dcwalk commented on #29
We've moved of globus and this is no longer an issue, closing.

[2017-01-29 15:11] #29 closed, assigned to nobody

[2017-01-29 15:21] dcwalk commented on #30
@geppy I'm a little confused about how PROV works with WARC (or if it does?) We've had the comment come up again RE: automating parts of the metadata/provenance information.

Pinging @emilymae who might have experience with PROV?

[2017-01-29 15:23] dcwalk opened #33 "Automate provenance or metadata generation for downloading"
From feedback in #30, primarily a concern for people working in in-person events and using the [workflow](https://github.com/datarefugephilly/workflow) document

Chihacks:

[2017-01-29 15:23] dcwalk commented on #33
@b5 thoughts on this?

[2017-01-29 15:57] dcwalk commented on #30
Also, gonna bust that out into an issue as it was raised again at events (#33)

[2017-01-29 16:40] dcwalk commented on #30
Feedback from A2: https://gist.github.com/dcwalk/71791ea724395712ff4e572ed57fb0a5

[2017-01-30 20:02] dcwalk commented on #23
Just following up on this -- I'm marking this as won't do for now based on the approach we've taken: moving harvesting toolkit material into datarefuge workflow docs.

[2017-01-30 20:02] #23 closed, assigned to titaniumbones, b5, librlaurie, dcwalk

[2017-01-30 20:03] dcwalk commented on #19
We are working with grab-site as can be seen in our [EIS warc archiver](https://github.com/edgi-govdata-archiving/eis-WARC-archiver), once validated through discussion with IA I'll mark as complete!

[2017-01-30 20:06] dcwalk commented on #11
Pretty sure we have confirmed status, addressed in PR #34

[2017-01-30 20:07] dcwalk commented on #27
Kick-off meeting for tonight, should begin testing this week

[2017-01-30 21:38] emilymae commented on #30
when you're talking about provenance, what sort of metadata / provenance info do you mean exactly? Are you talking about crawlers that generate WARCs or not?

[2017-01-30 21:55] emilymae commented on #30
I know the DataONE folks have developed the PROVOne data model extending PROV for scientific workflows (see here: http://vcvcomputing.com/provone/provone.html), but not sure how you would implement something like that for crawlers.

[2017-01-31 00:56] dcwalk commented on #30
Thanks @emilymae 😀

[2017-01-31 00:58] dcwalk opened #35 "Support ongoing (remote) involvement"
We've had people who've attended events express a desire to continue to be involved in the project and we need to figure out a way to support that. As we move into longer-term projects we should prioritize ways to include previous participants. Currently we have:

- Contributor Guidelines (really just cover using branches)
- Overview repo

We should consider revisiting our first sprint conversatio

[2017-01-31 14:39] dcwalk commented on #11
I'm closing as done for now, just waiting on update RE: quantitative from @jrootham in that repo!

[2017-01-31 14:39] #11 closed, assigned to nobody

[2017-01-31 14:42] dcwalk opened #36 "Automate tracking version changes when monitoring website"
This is being worked on in [version-tracking-ui](https://github.com/edgi-govdata-archiving/version-tracking-ui), created issue to indicate this is an ongoing project

[2017-01-31 18:46] titaniumbones commented on #27
This seems like the most important doc: https://github.com/ipfs/archives/blob/master/tutorials/replicating-large-datasets/mirrors-instructions.md

BUt also this straight form the source:

[2017-02-01 01:40] dcwalk commented on #26
[WARC-archiver](https://github.com/edgi-govdata-archiving/eis-WARC-archiver/pull/7)

[2017-02-01 13:36] dcwalk opened #37 "Verify FTP crawl details and whether they are in IA before sending"
Got the update about sending off FTP urls:

Resources:
- https://archive.org/help/wayback_api.php
- https://github.com/internetarchive/wayback/tree/master/wayback-cdx-server

[2017-02-01 22:40] dcwalk opened #39 "Pull down baseline for Website Monitoring service"
Need to set up the cluster to begin monitoring changes

[2017-02-01 22:43] titaniumbones commented on #39
data is here: https://mega.nz/#F!xocXQSwZ!5-g4Hugx_cKgQb0IyxDjwQ

do we have URL's for scinet docs?

@atesgoral @sonalranjit I forget who exactly was working w dawn on the scinet cluster stuff before. If we can get this data onto the cluster & expose it to the web before Saturday... that would be a Really Good Thing.

[2017-02-01 22:58] dcwalk commented on #39
"Large transfers of data to or from SciNet can also be done from the datamover1 and datamover2 nodes (these nodes are also used by Globus behind the scenes). From any of the interactive SciNet nodes, one can ssh to datamover1 or datamover2. These machines have the fastest network connection to the outside world (by a factor of 10; a 10Gb/s link as vs 1Gb/s)"
https://wiki.scinet.utoronto.ca/

[2017-02-01 22:59] dcwalk commented on #39
No one was @titaniumbones, we can't provide this access. @atesgoral and @sonalranjit are on our VM, but don't have cluster access

[2017-02-01 23:04] titaniumbones commented on #39
Ok. Thx.

On February 1, 2017 5:59:14 PM EST, dcwalk <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-03 02:03] dcwalk commented on #33
Copying in @emilymae 's comments

[2017-02-03 02:05] dcwalk commented on #30
We've addressed most of the points from the first two events we can. Metadata generation is something that is being addressed in the new pipeline app for in-person (and soon remote) events :)

A2 feedback is touched on there and has also been brought forward into NYC event planning. Finally we have an issue in the workflow rep [datarefugephilly/workflow#24](https://github.com/datarefugephilly/work

[2017-02-03 02:05] #30 closed, assigned to nobody

[2017-02-03 02:08] dcwalk commented on #26
[DataRescueNYC](https://github.com/edgi-govdata-archiving/DataRescueNYC/blob/master/Contributing.md)

[2017-02-03 17:42] dcwalk commented on #31
We have a [Pipeline app](https://harvest-pipeline.herokuapp.com/)!

My wording was vague ("implement?1" 😕  ... implementation ongoing), but I'm gonna close this as issues for improvement are being added to the pipeline repository.

We've moved toward tagging, grouping urls, etc... that address this original concerns _and_ will be able to allow people to be involved remotely after this weekend.

[2017-02-03 17:42] #31 closed, assigned to nobody

[2017-02-04 02:05] dcwalk commented on #39
This was done!

We have a few that didn't dld, looks like they didn't decrypt, gonna QA to ensure!

[2017-02-05 11:53] titaniumbones opened #40 "Broad "Issues to Consider" Document"
Move towards a substtantive/broad ["Issues to consider"](https://hackmd.io/OwIwLApgrAJgbATgLQEMDMCJLCuAzJBAJjywWAjzBgQGMEAGOADiA===) document.

[2017-02-05 12:01] titaniumbones opened #41 "Recommend GH Issues to Event Organizers"
One outcome from NYC was the sense that we didn't have a good mechanism to collect and act on participant insights about event process. The [next-steps](https://github.com/edgi-govdata-archiving/DataRescueNYC/blob/master/next-steps.md) group recommended using Github Issues in a **lean, event-specific repositoriy** such as [DataRescueNYC](https://github.com/edgi-govdata-archiving/DataRescueNYC) for

[2017-02-05 14:16] titaniumbones commented on #41
Alternatively, we could make an "event-issues" repo to collect all reports, and allow participants to build on each others' experience. Not sure which is better.

[2017-02-05 14:17] titaniumbones opened #42 "Apply for Gogol SoC, deadline Feb 9, 12:00 EST"
We should get Summer of code students to work on this project! Here's what we stil lneed to do to make this happen:

- [x] Write application guidelines for students (1500 chars, copy from PL?)
- [x] create "Ideas" webpage where we describe possible projects; add link to application
   - [x] should include link to the Archivers public slack invite & instructions to joing the #gsoc-apply channel;
-

[2017-02-05 15:18] dcwalk commented on #42
Here is a high level overview: https://summerofcode.withgoogle.com/how-it-works/

[2017-02-05 15:21] dcwalk commented on #42
We release our material under an "[OSI-approved license](https://opensource.org/licenses)"!

[2017-02-05 15:23] dcwalk commented on #42
@titaniumbones I can't resolve that link, I think it is tied to each individual log in? I think this is a great idea and I hope we can do it :)

[2017-02-05 15:30] dcwalk commented on #41
I think we want the context of each event baked into feedback? Alternatively having people post issues where the workflow process lives might be better than rolling a new repo?

[2017-02-05 15:42] dcwalk opened #43 "Hold weekly standups for EDGI development"
**February 14, 7:45 PM EST** Call link: https://zoom.us/j/844613104

Post-NYC conversation about how to maintain development going forward, a key outcome is that we will begin testing out a weekly standup (of no more than **30 mins** [and maybe a goal to get that number lower]).

First iteration will be going around to ask the following questions to anyone who shows up:
1. Does anyone need help?
2

[2017-02-05 15:44] dcwalk commented on #43
cc @sonalranjit @atesgoral @jpmckinney @mi-lee @sharlychan @titaniumbones @b5 @danielballan  @jaclynweiser thoughts?

cc Ann Arbour people @edgi-govdata-archiving/a2 and @atkolkma

[2017-02-05 15:49] dcwalk commented on #43
^^ I missed a lot of conversations with people interested in ongoing work at NYC-- can you all loop in who you think is appropriate?

[2017-02-05 15:55] b5 commented on #43
A friend of mine runs this fantastic service intended to facilitate exactly this in an async fashion:
statushero.com
It has a super great slack-bot integration. Any interest in giving it a shot for say, a week?

[2017-02-05 16:01] dcwalk commented on #43
@b5 totally down to look at a service to support. I think we want some sort of in-person anchor given _how_ distributed our team is...? I could see an async more frequent check in and a weekly sync thing being complementary?

(Bias: I find quick meetings super effective as a way to build community)

@patcon I feel like you got a good perspective around this stuff, your thoughts?

[2017-02-05 16:03] dcwalk opened #44 "Prep "guide creation" tasks for upcoming events"
Repo has been set up: https://github.com/edgi-govdata-archiving/guides

Notes from NYC Next Steps group...
## Guide for Writing Guides

* How to call out the need for a guide?
    * create a GH issue in a "guides" repo?
* How to let people know you're working on it
    * claim the GH issue
* Where to put the guide
    * EDGI Github Repo (setup for gh pages)
    * contribution guidelines (ie. how t

[2017-02-05 16:04] dcwalk commented on #19
@IslandRum88 I'm tagging you here because I know you are looking at the EIS stuff!

[2017-02-05 16:05] b5 commented on #43
Couldn't agree more. I want to talk to all of you once a week :)

[2017-02-05 16:16] dcwalk opened #45 "Kick-start collaboration on improvement to the CKAN instance"
A [document of recommendations](https://docs.google.com/document/d/1TKEXyOqo8KliqMkmgTTxky6fmTNAmf0RtWM_wuWnziM/edit) came out of @jaclynweiser and co.s's session at NYC, my checklist of how to kickstart this from that conversation has:

- ~[ ] Onboard people to develop the CKAN instance~
- ~[ ] Streamline dev environment (Dockerize development?)  This is being done here: https://github.com/datare

[2017-02-05 16:17] dcwalk commented on #45
Pinging @oraclebill here as well to make sure EDGI work supports!

[2017-02-05 16:23] atesgoral commented on #43
Great idea!

With potentially lots of people on the standup, it will be important to maintain standup hygiene: keep conversations succinct and take them offline when needed.

[2017-02-05 16:30] patcon commented on #43
@dcwalk big +1 for getting face-time in remotely :) weekly video seems a sound choice for a minimum bar

Depending on numbers and how much e2e encryption fits the values/needs of the project, this Jitsi Meet video conferencing service is run by some good, trustworthy folks:
https://meet.calyxinstitute.org/
https://calyxinstitute.org/about/board

[2017-02-05 16:36] dcwalk commented on #43
Hah just realized I called a remote standup "in-person" ;)
@patcon -- I'm having trouble loading the service :(( But I am 💯 down for using the services that reflect the web I want to live in (aka e2e foss)

[2017-02-05 16:37] patcon commented on #43
If you _do_ decide on Google Hangouts, this might be a less interrup-y way of communicating aspirational timeboxes:
https://hangout-timer-app.appspot.com/
![screenshot of patcon being timed](https://imgur.com/BbNV3bY.png)

[2017-02-05 16:38] sonalranjit commented on #43
I'm all up for it

[2017-02-05 16:43] dcwalk commented on #43
that background looks familiar :)

[2017-02-05 16:49] dcwalk opened #46 "Migrate to single chat"
Based on discussion we will be going ahead with this, to mark as complete we need to:
- [X] Notify, create/rename new `#dev` channel in Archivers repo
- [x] Notify the participants in the other channels
  - [X] Civic Tech Toronto
  - [x] EDGI
  - [x] DataRefuge
- [x] Update overview documentation
- [x] Add details to EDGI website
- ~Test portal integration with established rooms in other orgs~

-

[2017-02-05 17:03] titaniumbones commented on #42
I **could** change the title but I'm gonna leave it up for a while.

[2017-02-05 17:05] titaniumbones commented on #42
updated to public link.  All assignees are also tagged as adminsin the application  so you should have access to it.

[2017-02-05 17:15] titaniumbones opened #47 "Develop Event Training Protocol"
Thinking about how to make this project sustainable: we need to find effective ways to train people to run events when the old crew (b5, dallan, MAT, etc) are not around.  Some ideas include:

- [x] pipeline walkthrough screencast
~~- up-to-date docs~~
~~- [ ]~~

(edit: _@dcwalk added:
- [x] review feedback from NYC event
- [x] update workflow docs to reflect Archivers App (in progress: `#dev-even

[2017-02-05 17:51] artlogic commented on #43
A couple of questions:
* Is this a good meeting for someone who's just getting involved, or is this more for the key contributors?
* Will there be some record of what was discussed for people that can't make it?

[2017-02-05 18:01] danielballan commented on #43
Sounds good to me. I second @artlogic's suggestion of keeping written minutes -- maybe a Google doc or hackpad.

[2017-02-05 18:24] patcon commented on #43
Again, an argument for Google Hangouts if you favour this sort of transparency over other values in this instance: Gittip used Hangouts-on-Air for our daily standups, so the video would be archived and reviewable on YouTube. (Could complement written minutes, which would be a real summary for busy people.)

https://plus.google.com/+gittip

Happy to help someone set up that routine. Accounts need t

[2017-02-05 18:30] b5 commented on #43
This is great. Scheduling time? If everyone could fill out their availability here, it'll speed up picking a time slot. The times are for next week, but ideally we'd pick a time slot we can host *weekly*: http://doodle.com/poll/niq3396gun334cv5

[2017-02-05 19:18] dcwalk commented on #43
@b5 -- We were aiming for Tuesday as that is when a good chunk of people have been syncing up, but better to pick now and hold to it. Appears our schedules aren't in sync 😢

edit: Sunday is in there twice, do we need to have that? I think it might be a bit confusing

[2017-02-05 19:25] dcwalk commented on #43
@artlogic: my hope is that the discussion is 'flat' enough that new people to the project as well as key contributors could join in, and have it open. (e.g. -- an answer to "where do you need help?" could be: finding my first issue to work on, finding a project that my skills suit, or landing some important feature)

I think however this should not be a first intro to the project, we need to impro

[2017-02-05 19:30] dcwalk commented on #47
Renamed, I agree we need to act on this.

[2017-02-05 19:44] danielballan commented on #47
As I was talking through the process ~10 times at our designated "Onboarding Bench," it occurred to me that a video version of this would be a good idea.

[2017-02-05 19:51] titaniumbones commented on #46
+10^3

On February 5, 2017 11:49:04 AM EST, dcwalk <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-05 20:30] dcwalk commented on #47
Yeah @danielballan we need to dld yr brain, ooooooor have you do a screencast

[2017-02-05 20:43] dcwalk commented on #46
I think we want for our **technical development** communications:
- stuff open for everyone to join,
- a _clear indication_ of where tool development conversations will happen
- something most of us are already using would be preferable, and
- bonus if it integrates well with github?

I think this is a priority before most of the upcoming events.

Do people think we want slack? Do we have a sense

[2017-02-05 20:44] danielballan commented on #47
Hehe. I'll do a screencast. I've seen enough episodes of Westworld and Dollhouse to be wary of "brain downloads."

[2017-02-05 20:51] titaniumbones commented on #46
I think we need to be clear that we talking here about **technical development activity**, not about general co-ordination of projects like EDGI and DataRefuge, or even (necessarily) event organization.  I quite liked the NYC model: co-ordinators discussiong on an open channel in an only-moderately-open slack team; but all event activity happening in a completely different, wide-open, no-invite-re

[2017-02-05 20:57] dcwalk commented on #46
Yes, thank you @titaniumbones for raising that point-- I meant only about technical development communication, I've edited above.

The other coordination, especially event, feels well handled by current approaches! Just trying to lump all our dev talk in the same place :)

[2017-02-05 21:48] sonalranjit commented on #46
Ya i agree with a single chat for all development. I would suggest to migrate to whichever slack has most of the devs, if its really scattered then create a new one?

[2017-02-06 02:28] aschn commented on #43
Hi all, new member here! I filled out the doodle based on my availability this week in Pacific time. I can probably make time on subsequent weeks in whatever slot you choose, even if I can't make it this week :)

[2017-02-06 03:23] dcwalk commented on #26
https://github.com/edgi-govdata-archiving/pagefreezer-tools/pull/3
https://github.com/edgi-govdata-archiving/pagefreezer-cli/blob/master/Contributing.md
https://github.com/edgi-govdata-archiving/harvesting-tools/pull/10
https://github.com/edgi-govdata-archiving/eis-WARC-archiver/pull/12
https://github.com/edgi-govdata-archiving/versionista-outputter/pull/2
https://github.com/edgi-govdata-archiving

[2017-02-06 04:11] dcwalk opened #49 "Revamp Event Documentation"
2017/02/20 Update: We are almost there... but are working with DataRefuge to finalize and collectively establish the event description. I'm going to close this for now and open a new issue to cover todos coming out of that collaboration.

Based on slack conversations on NY event debrief, @ebarry will lead a thorough review and reduce of all event materials. Wanted to throw an issue up so others wo

[2017-02-06 04:11] dcwalk commented on #49
Related issue coming out of NYC: https://github.com/edgi-govdata-archiving/overview/issues/47

[2017-02-06 04:15] dcwalk commented on #49
Before we head too far on the guide creation track, I want to make sure the work we are talking about here (https://github.com/edgi-govdata-archiving/guides/issues) aligns with a documentation revamp.

[2017-02-06 04:16] dcwalk commented on #49
~Also want to flag this repo as related: https://github.com/edgi-govdata-archiving/agency-primers~
EDIT: we deleted this for now

[2017-02-06 05:12] titaniumbones commented on #49
I just did this (have posted it about 3 places now b/c I am just catching up on all my gh notifications): https://github.com/edgi-govdata-archiving/workflow/tree/WIP-pipeline-refactor would love it if @ebarry can include this in the review.

[2017-02-06 19:37] dcwalk opened #50 "Perform security audit around development practices and tools"
While this is a bit vague as the objectives are part of a growing conversation, I wanted to drop this into an issue as a reminder.

Resources
- https://safetag.org/
- https://www.mozilla.org/en-US/moss/secure-open-source/
- https://www.opentech.fund/lab/engineering-lab

[2017-02-06 20:47] dcwalk commented on #43
@edgi-govdata-archiving/nyc Hi NYC people interested in ongoing development work! We are looking to set up a weekly (remote) standup based on everyone's availability. Please complete this [**doodle poll**](http://doodle.com/poll/niq3396gun334cv5): [http://doodle.com/poll/niq3396gun334cv5](http://doodle.com/poll/niq3396gun334cv5). 📆

cc: @stuartlynn @agillette @StephenAlanBuckley @mw1602 @mlauter

[2017-02-06 20:53] WestleyArgentum commented on #43
Awesome! Just a quick question @dcwalk -- are those eastern, central, or pacific times?

[2017-02-06 20:58] dcwalk commented on #43
Ugh, thanks for the catch @WestleyArgentum. They are EST. @b5 can you update without having people to resubmit responses?

[2017-02-06 21:37] atkolkma commented on #43
Are we an official 501(c)(3)? We could get some pricing breaks on
collaboration tools.

On Mon, Feb 6, 2017 at 3:58 PM, dcwalk <notifications@github.com> wrote:

[2017-02-06 21:42] b5 commented on #43
@dcwalk / @WestleyArgentum / @aschn unfortunately time zones aren't supported at all. Is it possible for everyone to confirm that they answer in EST? Pardon the East-coast centrism :/

[2017-02-07 01:30] mhucka commented on #46
My $0.02 is that I agree too, and have been having a hard time (= wasting time) trying to catch up periodically by looking in roughly 20 channels spread over 2 slack teams. So whatever we can do to consolidate would help, IMHO.

[2017-02-07 03:29] dcwalk commented on #43
@atkolkma -- my understanding is not currently. We were thinking Hangouts on Air and Youtube Streaming for the first ones?

[2017-02-07 13:55] titaniumbones commented on #42
Did some work on this; we've now done almost everything but the hard parts :-). Updated bug description w/ todo.

[2017-02-07 14:14] dcwalk commented on #42
~~We need something up on the website as well, or did I read that wrong?~~ nvm, saw you indicated 'page' above

[2017-02-07 15:48] danielballan commented on #50
We should also consider an accessibility audit. Some funding sources require it. https://www.w3.org/TR/2008/REC-WCAG20-20081211/

I know someone how might be willing to look at this, when the time comes.

[2017-02-07 16:15] titaniumbones commented on #50
I've just emailed citizenlab to see if they can help.  With luck they'll
give us a hand.

[2017-02-07 16:16] dcwalk commented on #50
@danielballan -- 💯 We could do some preliminary review using Chrome Developer Tools Accessibility audit tools

[2017-02-07 18:47] titaniumbones opened #52 "Apply to Open Technology Fund"
I htink rapid response:

https://www.opentech.fund/funding

[2017-02-07 20:02] mhucka commented on #22
Is there more information somewhere about the pros and cons of Heretrix and people's past experiences with it? Or to put it another way, why *aren't* people using it currently?

[2017-02-07 20:05] mhucka commented on #22
Related to this: have people tried [Brozzler](https://github.com/internetarchive/brozzler)? I see that it's not listed on the [page of harvesters](https://github.com/edgi-govdata-archiving/harvesting-tools) (but then neither is Heretrix, so maybe I'm not looking where such things might be listed).

[2017-02-07 20:38] dcwalk opened #53 "Set up Mailing Lists for events and alumni"
Recent events have set up a mailing list for planning and we anticipate more doing so. Thinking long term-- we don't want to have a bunch of scattered lists we are trying to maintain in multiple places.

Also, we want to support email but move to having most of our conversations on slack.

To mark this closed:
- [ ] make `lists.envirodatagov.org` to a place to sign up for mailinglists (investigate

[2017-02-07 20:40] dcwalk commented on #47
I just want to flag here that it is critical to address the feedback from the NYC event.

@danielballan would it make sense to share a skeleton of a screencast outline or something for us to make sure we are hitting the big notes?

[2017-02-07 21:40] danielballan commented on #47
Yep. In fact I thought I'd just try talking through it so we can all have something to criticize. Stand by....

[2017-02-07 21:52] dcwalk commented on #53
Also: mailman and configuring mailman correctly are not my favourite things. If someone has an AMAZING BETTER OPTION please share!

[2017-02-07 21:58] mhucka commented on #53
Not sure if you know, but you can have a closed Google forum/mailing list. I've personally switched all my projects away from mailman lists to Google. Maybe that's an option?

[2017-02-07 22:00] dcwalk commented on #53
The issue we want to deal with is longer-term management of these lists, merging, migrating etc... and folding back side lists into one main list is something that can do (or I've seen it used that way), but we've been recommended off google groups for that reason.

[2017-02-08 00:04] mhucka commented on #53
It _is_ possible to populate Google groups with archives of old mail. I've actually done it for several lists, but I have to say it's laborious if you want to preserve chronological order.

[2017-02-08 00:22] dcwalk commented on #43
Hi all, call link for this week: https://hangouts.google.com/call/k6cdgoboovfatopx52toh5ll2me

[2017-02-08 00:30] allanpichardo commented on #43
When is it?

On Tue, Feb 7, 2017 at 7:22 PM, dcwalk <notifications@github.com> wrote:

[2017-02-08 00:31] danielballan commented on #43
Allan -- We are just getting started.

On Tue, Feb 7, 2017 at 7:30 PM Allan Pichardo <notifications@github.com>
wrote:

[2017-02-08 00:36] stuartlynn commented on #43
Just filled out the doodle. Happy to have a weekly chat.

Cheers

On Tue, Feb 7, 2017, 7:31 PM Dan Allan <notifications@github.com> wrote:

--
*Stuart Lynn*
Head Of Research and Data

*Carto—Predict through location.*

201 Moore St, Brooklyn, NY 11206

T: +3123940797  Twitter: @stuart_lynn

W: www.carto.com

Live sessions to learn Carto

[2017-02-08 00:39] allanpichardo commented on #43
won't be able to join today, but if it's weekly on the same day, I can make
next week

On Tue, Feb 7, 2017 at 7:36 PM, Stuart Lynn <notifications@github.com>
wrote:

[2017-02-08 00:42] demitri commented on #43
Tried to jump on, but the call is full.

Demitri

[2017-02-08 01:16] danielballan commented on #47
Draft 1: https://youtu.be/6QWbtvqTQK0

I start off a little stilted but I warm up as it goes. :- )

I assume I will be redoing this *at least* once more before this weekend so don't hold back your suggestions.

[2017-02-08 01:51] dcwalk commented on #47
@sharlychan ^^

[2017-02-08 02:59] dcwalk commented on #47
Amazing @danielballan :))
I have very few comments, you have an excellent screen cast voice!

1. We should not use an Ann Arbour or previously researched one
2. (But perhaps showing an example of a well-researched one would be awesome?)
3. Can we link to the harvestor tools app?
4. I think we need a bit more discussion over harvesting, but maybe we split that into a second video?
We got a lot of f

[2017-02-08 04:03] danielballan commented on #47
1/2. Agree. I'll find a "clean" example and a near-finished one to show. If anyone knows of a particular good one, please let me know.
3. Just to be sure -- you mean the harvester tools github repo?
4. I think it would take about 2 more minutes to go through actually downloading the Zip Starter, showing its layout, putting in some dummy content, and uploading it. Probably worth doing.

I'll wait a

[2017-02-08 04:47] trinberg opened #54 "Website Tracking Dev Check-In"
As discussed, we wanted to set up a time to chat about the Website Tracking project before the SF Event (Sat. 2/11). On the agenda:
1) Briefly discuss progress
2) Compile technical questions for PageFreezer
3) Update @titaniumbones on the state of the pagefreezer-cli project and outline achievable goals for the SF event, assuming we're able to get a group of coders in a room.

Even if you couldn't

[2017-02-08 14:24] atkolkma commented on #43
Yeah, I tried last night too. Unfortunately, Hangouts has a max limit of 10
people.

On Tue, Feb 7, 2017 at 7:42 PM, Demitri Muna <notifications@github.com>
wrote:

[2017-02-08 14:38] titaniumbones commented on #43
So, obviously we learned something last night about how *not* to do
this. We'll try to figure it out more definitively in time for next
week.  Thanks for bearing with us!

On 02/08/2017 09:24 AM, Adam Kolkman wrote:

[2017-02-08 15:01] dcwalk commented on #43
Issues from last time:
- Hit roomsize limit (in part because we didn't share over Toronto people (looking into using Zoom)
- Background noise at Civic Tech was too high (spoke about using a breakout room the next couple weeks)
- 7:30 pm is too ambitious a start time for Toront crowd (may want to move to the 7:45pm time we'd originally indicated)

[2017-02-08 17:04] dcwalk commented on #44
This is almost resolved here: https://github.com/edgi-govdata-archiving/guides/pull/9
and
https://github.com/edgi-govdata-archiving/guides/pull/10

[2017-02-08 17:06] dcwalk commented on #44
Need to review and clean up guides: https://github.com/edgi-govdata-archiving/guides/issues?q=is%3Aissue+is%3Aopen+label%3Aguide

and I have a proposal for doing so here: https://github.com/edgi-govdata-archiving/guides/issues/11

[2017-02-08 17:10] dcwalk commented on #47
3. yeah I mean the github repo!

[2017-02-08 17:40] dcwalk commented on #26
This is done 🎉 🎉

[2017-02-08 17:40] #26 closed, assigned to dcwalk

[2017-02-08 17:46] patcon commented on #43
JitMeet 2014 thread: http://users.sip-communicator.dev.java.narkive.com/I2krM1po/jitsi-users-jitmeet-max-participants

So assuming things have only gotten better, the limits for [Calyx Institute's JitMeet service(https://meet.calyxinstitute.org) are probably hardware-based. I'd be happy to reach out to Nick to see whether he's ever stress-tested their limits. If he has time, I'm sure he'd be willi

[2017-02-08 19:37] patcon commented on #46
If it's valuable, after choosing the go-to slack team, you can still connect up "channel-to-channel portals" using this tool:
https://github.com/CivicTechTO/slackbridge

It might help keep your door open to folks not invested enough to sign into a specific slack team. But yes, more overhead ;)

_e.g. Civic Tech Toronto's slack has a `#portal-civictechottawa` channel and Civic Tech Ottawa's slack h

[2017-02-09 00:48] b5 commented on #46
Wow that slack bridge tool is _very_ appealing to me. I love the idea of bridging EDGI & DataRefuge into archivers so they can be kept abreast of ongoings. Would be a fantastic way to keep communities connected as well. @patcon are there any "technical hiccups" that make this less-than seamless?

[2017-02-09 01:22] titaniumbones commented on #46
should we give it a try with some test channels? Maybe the sf next-steps
channel?

On 02/08/2017 07:48 PM, b5 wrote:

[2017-02-09 01:38] titaniumbones commented on #46
and @patcon any chance you could help with setting this up?

[2017-02-09 03:09] dcwalk commented on #46
Okay, not seeing much more discussion I'll begin the migration to Archivers.

I'd like to rename the current `#next-steps` to `#dev` We can have `#dev-pagefreezer`, `#dev-pipeline` etc... as needed, but maybe `#dev` is where we test a bridge to DataRefuge and EDGI slacks?

Can we do a thumbs up/thumbs down on this? (Using the emoji on the comment?)

cc @sonalranjit @titaniumbones @mhucka @b5 et al

[2017-02-09 03:12] titaniumbones commented on #46
I see @dcwalk is undecided.

[2017-02-09 03:12] dcwalk commented on #46
Haha, no just cueing the vote :)

[2017-02-09 03:12] dcwalk commented on #46
(but generally yes)

[2017-02-09 09:17] ambergman commented on #54
Looks like not too many people were able to do the poll but, to account for work hours, @trinberg, @titaniumbones, and I will be having a quick meeting at **8pm EST today** to discuss the state of the pagefreezer-cli project and compile technical questions for PageFreezer. **Here's a link to the Zoom meeting: https://zoom.us/j/934485111**

If possible, we'll try to move our quick conversation into

[2017-02-09 14:42] stuartlynn commented on #54
Will be there

[2017-02-09 15:08] lh00000000 commented on #54
sorry i didn't get to the poll in time! i think i can make it tonight though

[2017-02-09 15:43] patcon commented on #46
@titaniumbones I'm spread a little thinly, but if I can't do it myself, I can walk someone else through the complicated parts, and update docs accordingly :)

[2017-02-09 15:55] titaniumbones commented on #46
I've installed heroku tools & git cloned the civic tech repo & will try, but am also pushing my limits so
if someone who is not @b5 can do it quicker than me go ahead!

Patrick Connolly <notifications@github.com> writes:

--

[2017-02-09 16:57] dcwalk commented on #46
I can take a pass at it, but in my mind it is not an immediate priority to get the portal up and running. I think the migration is more time sensitive and we should got ahead and do some mopping up next week?

@titaniumbones and @b5 Don't work on it now! Lets leave till next week, and I've some spare cycles so I'll aim for a first pass

[2017-02-09 17:08] titaniumbones commented on #46
I like that @dcwalk, I think you're right.

On 02/09/2017 11:57 AM, dcwalk wrote:

[2017-02-09 17:32] dcwalk commented on #42
Application is completed! There are a couple task related that I'm going to bust out into a new issue :) Congrats @titaniumbones 🎉

[2017-02-09 18:44] patcon commented on #46
@dcwalk :100: agreed. The portals I've set up have not been super-active. (That's largely because the slack teams on the other side aren't.)

[2017-02-09 18:45] dcwalk commented on #49
Personal aspirational link: "Writing Great Documentation" https://byrslf.co/writing-great-documentation-44d90367115a#.nryyloktb

[2017-02-09 21:22] dcwalk opened #56 "Update contributor communications channels links"
We need to finalize/update content for how contributors can join us on:
- [x] EDGI Website (related to GSOC application #42 `contact` `gsoc`, [draft gsoc page](https://hackmd.io/BwFgbADBCs0GYFoDMcCcAjBI7sQQ2gFMAmBOAdgGNoqwBGSsY4IA?both#))
- [x] EDGI Events Toolkit (related to #49, no action on this now)
- [x] Overview repo

[2017-02-09 21:22] #42 closed, assigned to titaniumbones, dcwalk, shapironick

[2017-02-09 22:44] dcwalk opened #58 "Can we add the Code of Conduct to the org?"
We have/had a code of conduct at our events. I'm wondering why we don't also feature it prominently as part of our online community?

[2017-02-09 22:50] titaniumbones commented on #58
uh, because no one has asked that question before...

[2017-02-09 22:53] dcwalk commented on #40
Some wonderful resources from @emilymae's talk:
- https://tspace-library-utoronto-ca.myaccess.library.utoronto.ca/handle/1807/74866
- http://www.researchobject.org/

Lots to think about RE: provenance and use

[2017-02-09 23:43] ambergman commented on #46
@dcwalk Thanks for taking lead on this - I'm sorry I got tied up with infinity other nonsense things and never really wrote out my reasons for why I prefer going to the EDGI slack, but I think this makes sense for now. I think working to build an identity for all of the different development projects is important, so that everyone feels like they're part of the movement not just a helper to it, bu

[2017-02-10 17:44] dcwalk commented on #54
This happened!

[2017-02-10 17:44] #54 closed, assigned to nobody

[2017-02-10 18:51] #58 closed, assigned to nobody

[2017-02-11 04:22] dcwalk commented on #1
@titaniumbones I feel like this is getting addressed in the pipeline app. Would it be alright if I closed this issue? Will do so if I don't get a response in the next couple days

[2017-02-11 04:23] dcwalk commented on #27
~~Did a test using our cluster and I'm having issues running the daemon. Sent a note and waiting to troubleshoot next steps~~
We're good, ready to test!

Dropping this here: https://github.com/ipfs/archives/blob/master/tutorials/replicating-large-datasets/mirrors-instructions.md

[2017-02-11 04:27] dcwalk commented on #35
Revisiting this---
(edit: moved checklist above)

[2017-02-12 01:22] dcwalk commented on #56
This is done!!! (for now)

[2017-02-12 01:22] #56 closed, assigned to dcwalk

[2017-02-12 17:37] dcwalk commented on #40
LOCKSS principles: https://www.lockss.org/about/principles/

[2017-02-13 15:51] dcwalk commented on #1
Closed, considering this an issue to raise directly in `pipeline`

[2017-02-13 15:51] #1 closed, assigned to nobody

[2017-02-13 15:54] dcwalk commented on #2
I know that FOIAs is an area that has been talked about as an emerging strategy, @titaniumbones I think slamdan is involved? We should discuss to determine whether/how tech team work can support

[2017-02-13 16:24] dcwalk commented on #16
I think this can be addressed as part of #49

[2017-02-13 19:14] dcwalk commented on #44
This has been done! :))

[2017-02-13 19:14] #44 closed, assigned to dcwalk

[2017-02-13 19:20] dcwalk commented on #49
Request on EDGI side in terms of what is needed for event toolkit doc here:

[2017-02-13 19:43] dcwalk commented on #43
Okay, update -- We are going to give this another go in a quieter room... a wee bit later, **7:45 EST on Tuesdays**, on Zoom, which doesn't have any call caps.

Here is the link for tomorrow, but it'll also live (and eventually move to) our slack:

[2017-02-13 20:46] b5 commented on #2
Agreed. In some of the talks I had at DRNY I asked specifically about building something like this. People who know more about FOIA than I made it clear that the relationship between the person who fulfills the request and the person making the request is very important for actually getting information, and that "stuffing the box" with requests would be a great way to make the request-fulfiller ir

[2017-02-14 13:10] birdage commented on #33
Id suggest looking at ISO compliance standards for the data ingest, and data download. I can say from experience that having the correct metadata is key.

https://www.ncddc.noaa.gov/metadata-standards/
https://geo-ide.noaa.gov/wiki/index.php?title=ISO_Data_Quality
http://cfconventions.org/

[2017-02-14 21:35] dcwalk commented on #35
I'm closing this for now and will bust out other issues as need to improve the process :)

[2017-02-14 21:35] #35 closed, assigned to nobody

[2017-02-14 21:36] mistermocha commented on #53
Forgive me for being late to the game... Rather than maintaining a mailman host, why not just set up a google group? It would be simpler and we could work out archiving as needed.

[2017-02-14 22:11] mistermocha commented on #50
Forgive me if I get some assumptions wrong, I'm still new here. If we're hosting stuff in amazon (saw the S3 storage bits), I presume we're doing something to grant permission to upload, unless the applications are doing uploads on unauthenticated user sessions.

And accessibility is separate thing, may I suggest a separate issue for that?

[2017-02-14 22:35] danielballan opened #63 "Perform Accessibility Audit"
Split off from a discussion in #50

[2017-02-14 23:11] dcwalk commented on #50
@mistermocha agreed about busting out Accessibility (thanks @danielballan :))

The security concerns extend beyond the storage of the data we download, but also to the infrastructure we are using to host our Archivers App and how to best approach that!

[2017-02-14 23:12] dcwalk commented on #2
Yeah, okay this is def. an area to pursue!

[2017-02-14 23:32] dcwalk commented on #53
@mistermocha -- We've been recommended off google groups for long term management by community managers (especially merging/migrating lists)...

I don't know of any better way than a 'heavier' sol'n where we have more control given the level of ongoing management we are imagining.

[2017-02-14 23:40] mistermocha commented on #53
OK, do we plan on hosting a listserv in AWS?

Also @mhucka makes a good-ish point. Migrating a mailing list into a GG is a one-time thing, so if it's a laborious effort that makes life easier, I'm all for it.

[2017-02-14 23:43] dcwalk commented on #53
My sense is that it will be an ongoing thing (i.e. migrating/merging lists over time. Maintaining a couple core separate lists)

We have institutionally-support VMs here (Toronto) that we can use. With some degree of support, but not actual list management that we can expect.

[2017-02-15 01:42] dcwalk commented on #43
I'm closing this, we're doing this! We'll keep on and revisit if we need to.

[2017-02-15 01:42] #43 closed, assigned to nobody

[2017-02-15 01:55] dcwalk opened #64 "Implement onboarding process for Archivers App (Event Preservation) development"
Coming out of our [Feb 14 Standup](https://hackmd.io/EYDgpg7ArAnDIFoAMUDGBmBAWd7gIEMCBGAEwVJHVQCYIQAzSiMIA===#), @danielballan is looking to open up development for the Archivers app, especially as we have more people interested in contributing.

TODOs to mark this complete:
- [x] kickoff meeting (see notes below)
- [x] security sign-off (related to #50) -- call with a plan to go ahead:
- [x] cont

[2017-02-15 02:01] dcwalk opened #65 "Kick-start development on Website Monitoring project"
Coming out of our [Feb 14 Standup](https://hackmd.io/EYDgpg7ArAnDIFoAMUDGBmBAWd7gIEMCBGAEwVJHVQCYIQAzSiMIA===#), @ambergman and @titaniumbones are looking to kickstart development for the Website Monitoring project.

TODOs to mark this complete:
- [x] established project management structure (Matt | @titaniumbones Tech Contact; Andrew | @ambergman l Tracking Team Contact)
  - Conversations in `#de

[2017-02-15 06:27] mistermocha commented on #53
I've been thinking much about this. I'd still like to strongly suggest using something like a google group. Having administered services like this and dealt with the challenge of a mail server, I can say it would be a detraction of our efforts and a poor use of our time. The sooner we file the effort over to a service that has it all figured out, then it will make our lives better.

Google groups

[2017-02-15 15:43] dcwalk commented on #53
@ebarry -- could you add some of your thoughts about managing multiple google groups?
I've only managed a few at a smaller scale.

[2017-02-16 05:52] titaniumbones opened #66 "New gh-pages repo for event-specific boilerplate"
I'd like to set up a gh-pages-only repo to serve as website boilerplate for individual events; event organizers can fork, modify yaml, prune/add as needed, and have an event website ready to go.  Some models  for what such a website needs to include:

- http://datarescuesfbay.org/
- https://datarescue-sea.github.io/DataRescue-SEA/
- https://github.com/edgi-govdata-archiving/DataRescueNYC/

[2017-02-16 12:43] Paradoxis commented on #65
Just some thoughts: What if you actually use GitHub for this; you could just scrape a website every hour, overwrite all previously scraped pages, and commit all changes to a repository.

That way you instantly get a side-by-side difference of all changed (or even removed all together) web pages, and it mitigates all issues of having to maintain a custom server with a database, you can even add web

[2017-02-16 15:31] dcwalk commented on #66
Hey, this is being addressed as part of #49. I'm working on a template repo from NYC, but I think we need to see how the "Guides" material will fit in. That is where the "Understanding the IA Web Crawler" and "Seeding" docs are moving, I've done a pass to make them current to our process and they are ready for review: https://github.com/edgi-govdata-archiving/guides/issues

Documentation for the p

[2017-02-16 15:47] titaniumbones commented on #66
Excellent. If you're up for it, that's amazing. Maybe stay in touch with @nic on datarefuge (from Seattle) and see if we can get it out to orgnaizers of the 24-5 events...

Do you need help from a designer?

[2017-02-16 15:53] titaniumbones commented on #66
(bc if you can use a designer, we should just put out a call on #dev)

[2017-02-17 01:58] chaoticsmol commented on #65
Looks like we're still inviting some user stories for this, but is there anyone who can provide at least a general overview for what this project's motivation is and what we hope to achieve with it?

[2017-02-18 15:50] dcwalk commented on #66
This is working in draft form:
- https://github.com/edgi-govdata-archiving/DataRescueTEMPLATE/
- https://edgi-govdata-archiving.github.io/DataRescueTEMPLATE/

I'm going to close this issue as completed, event-toolkit stuff will still live in #49 and any specific improvements should go to the Template Repo issues :)

[2017-02-18 15:50] #66 closed, assigned to dcwalk

[2017-02-18 18:00] chaoticsmol commented on #65
Although there has not yet been a detailed conversation about what exactly this tool is going to be expected to do, I figured I'd get started on something that I imagine ought to be a good approach. Check out [the repository that I've created](https://github.com/zsck/miru) if you'd like to keep up with the development and start contributing user stories as issues.

Here's a simple outline of the p

[2017-02-18 19:48] dcwalk commented on #65
Hey @zsck this is awesome :)) I had a chat with @titaniumbones this morning about how to move this forward (and should have updated this issue. Poor form on my part).

We have had some preliminary work done (spread out over a few repos, and I think languages :/). We are shifting off of the previous tool used for monitoring onto using Pagefreezer. My understanding is that the goal is to do full cra

[2017-02-21 00:25] dcwalk commented on #65
Updated the issue with the outcomes of a project management check in! We will do some wrangling starting tomorrow and expect to check in on this at the Stand Up

[2017-02-21 00:36] dcwalk commented on #64
We have a slick public issues repository :)) https://github.com/edgi-govdata-archiving/archivers.space

[2017-02-21 01:47] dcwalk commented on #47
@danielballan just pinging here on the status of that screencast. With recent changes to the archivers app do we want to make adjustments?

Maybe we work this into the FAQ for the app?

[2017-02-21 01:59] titaniumbones commented on #47
Videos were a high-priority request coming out of SF Bay -- we should
have one for hte Chrome extension too, if possible.

On 02/20/2017 08:47 PM, dcwalk wrote:

[2017-02-21 16:27] chaoticsmol commented on #65
I've been trying to keep an eye on everything that's been going on wrt discussion about this subject. I hadn't realized that PageFreezer is actually more in line with what we're looking to move _into_- I thought we were trying to move _away_ from it. My mistake!

I'd like to continue building the prototype of miru out and, when it's ready, demo its capabilities to anyone who might be interested in

[2017-02-21 17:48] dcwalk commented on #53
An inspirational link for tech movement building: http://www.progcode.co/

[2017-02-21 18:59] dcwalk commented on #65
@zsck -- I agree that there are a lot of interesting ideas in your prototype. Happy for you to continue in the way that you think will be most rewarding. My sense is we'll be doing a better job at being in communicative around this and there will be an update tonight. Hope to have a convo about it all if you are able to attend to sync up!

[2017-02-21 19:55] dcwalk commented on #49
2017/02/20 Update: We are almost there... but are working with DataRefuge to finalize and collectively establish the event description. I'm going to close this for now and open a new issue to cover todos coming out of that collaboration.

[2017-02-21 19:55] #49 closed, assigned to ebarry

[2017-02-21 20:03] dcwalk opened #71 "Sync up DataRescue Event Materials"
Based on conversations with DataRefuge we are coordinating to do one shared update of the Events documentation and planning materials, closed off #49 and ongoing efforts will fall under this collaboration.

(Tech Team) TODOs and steps for this to be completed:
- [x] Move to a website for workflow docs (https://datarefuge.github.io/workflow/)
- [x] Decision on 'place' for event materials
- [x] Upda

[2017-02-21 20:04] dcwalk commented on #71
I'm the tech contact and working with @mayaad on this from EDGI as well as DR people :)

[2017-02-21 20:12] dcwalk commented on #19
Closing as complete for now. We internally validated our warcs. We are not using WARCs to collect information about harvested data in the Archivers app

[2017-02-21 20:12] #19 closed, assigned to nobody

[2017-02-21 20:13] dcwalk commented on #52
@titaniumbones -- status on this? I believe this happened?

[2017-02-21 20:15] dcwalk commented on #21
Looks like we are able to create playable WARCs closing for now as we have moved away from WARCs in our Archiver app

[2017-02-21 20:15] #21 closed, assigned to nobody

[2017-02-21 20:17] dcwalk commented on #33
This to some degree has been addressed in the Archiver app, when using harvester tools metadata from the previous phases is already created. However a larger discussion around collaborating across metadata standards is emerging (https://github.com/edgi-govdata-archiving/dataset-registries)

[2017-02-21 20:17] #33 closed, assigned to nobody

[2017-02-21 20:20] dcwalk commented on #36
This is an entirely unhelpful issue. Closing as we have #65 to kickstart that development and will open meta-issues around coordinating the project here.

[2017-02-21 20:20] #36 closed, assigned to nobody

[2017-02-21 20:21] chaoticsmol commented on #65
Absolutely, @dcwalk! I look forward to it. 👍

[2017-02-21 20:22] dcwalk opened #72 "Investigate our ongoing community communication needs"
Per rich conversation in #53, to emphasize mailinglists is probably too narrow a scope. Will have a community management conversation after the Standup on Feb 21 to identify action items to move this forward.

[2017-02-21 20:30] dcwalk commented on #46
Update on this --
- The migration happened, dev convo is fairly regularly happening in "Archivers"
- Waiting on testing portals while confirming details with both EDGI and DataRefuge in terms of possible approaches

[2017-02-21 21:04] dcwalk opened #73 "Create video walkthroughs of event tools"
Repeated requests from event organizers to have a video of :

- [x] Archivers App walkthrough (@danielballan draft 1: https://youtu.be/6QWbtvqTQK0; draft 2: https://www.youtube.com/watch?v=tvSSILnHnpA)
- [x] Chrome Extension walkthrough (@mayaad's training session: https://youtu.be/Ro-f58Cecdg)

Broken off of #47

[2017-02-21 21:06] dcwalk commented on #50
Issue that came up, not 100 security (some sustainability thrown in), we should maybe do an audit of all the services/logins and who administers them. Some might need to be locked down, but other ones probably need extra admins added.

[2017-02-21 21:06] dcwalk commented on #47
Broke off a bite-sized issue: #73

[2017-02-21 22:10] titaniumbones opened #74 "Merge web monitoring repos"
It's great to see all the web-monitoring related code springing up on github, but it is currently scattered and difficult to track. We should bring all of the active efforts together into one rook so people can work more closely together.
- [x] rename pagefreezer-cli to a more inclusive name(https://github.com/edgi-govdata-archiving/pagefreezer-cli/issues/23) "EDGI Website Monitoring Software"
- [

[2017-02-22 15:34] danielballan commented on #73
I can't find the issue where you recently asked about the status of the YouTube video. I will rerecord again before this coming weekend. And maybe at this point we should include a link to the video in the app itself.

[2017-02-22 18:14] dcwalk commented on #72
After the Feb 21 standup we had a community management and mailing list convo (@mhucka @ebarry @ambergman @trinberg @titaniumbones @mayaad et al.)

The original thought was we wanted to create a centralized place for different event organizers to set up mailing lists:

Based on a range of feedback ( @mistermocha and @mhucka esp. around tech maintenance) we took a step and revisited what our goals

[2017-02-22 18:16] dcwalk commented on #53
Marking this stalled while we pause and investigate WHAT our communication needs are ☺️

[2017-02-22 20:26] dcwalk commented on #73
Wonderful! @danielballan 💃
I believe I pinged you in #47, but having the conversation here makes sense 😊

[2017-02-22 22:57] mistermocha commented on #72
OK so given the updated requirements, I'm going to suggest Google Groups again to manage a mailing list. How does GG meet our requirements:

- Publicly available (unless we pay for a private account)
- Manageable subscriptions - anyone can self-add or self-delete with relative ease
- Free - no point in wasting dollars that we don't have to spend
- Easy - the interface is pretty clear on how to use

[2017-02-22 23:15] dcwalk commented on #72
If we are thinking of it being potentially more "newsletter style" rather than a mailing list, I could see some of the composition features of a email newsletter/marketing service being desirable (I'm thinking tinyletter, constant contact, mailchimp)

[2017-02-22 23:30] mistermocha commented on #72
I'm not familiar with tinyletter, but I'm looking at the site and it looks like it might be what we need for just a mailing list. Constant Contact and Mailchimp are more business-y and come with an eventual price tag. For one-way distributions, tinyletter may be the win here.

[2017-02-23 17:01] dcwalk opened #75 "Revisit GitHub permissions"
We've grown to the size were I think we need to revisit our permissions structure and check in on whether it is working.

Questions I have:
- Are we creating too much noise for lieutenants?
- Are we creating a bottle neck? Is this too hierarchical? Should we be more distributed?
- What permissions should they have (currently: `write`)? too low?
- Is there a need for a separate role (e.g. `leads`)

[2017-02-23 17:02] dcwalk commented on #75
@patcon would welcome your thoughts on this in particular!

[2017-02-23 17:15] dcwalk commented on #27
Setting up the daemon--
https://gist.github.com/graffen/e0ff7ca4827959beedb15cf15a9df9d5
https://www.npmjs.com/package/ipfs-daemon or https://github.com/haadcode/ipfs-daemon

[2017-02-23 18:37] patcon commented on #75
I'm not actively involved in project dev, so I feel I should eavesdrop on the voicing of pain points before I contribute any thoughts :)

[2017-02-23 20:23] dcwalk commented on #75
I can say my pain points:
- I know I have spammed at least one person with unneeded repo notifications (and I tend to be noisy on github)
- I'm feeling like I don't have a strong sense of alignment between who IS and who FEELS like they can merge in PRs (have we centralized power too much?)
- I'm feeling like I don't have a strong sense of who is 'leading' different initiatives
- Based on previous

[2017-02-24 13:47] ebarry commented on #75
i might suggest that notifications aren't a problem until people stop
reading the firehose of "all notifications" and then miss the notifications
that are specifically "@ them". This is common on big projects so don't
feel bad. Does anyone know of a fix besides individuals going in and
unwatching repos one-by-one?

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Thu, Feb 23, 2017 a

[2017-02-24 16:42] patcon commented on #75
Addressing @dcwalk's concerns:

Great point @ebarry. I hadn't realized that Lieutenants should be hyper-aware from the start that they can and should unwatch repos they don't have a vested stake in.

Not that another tool is the right solution, but maybe [PullApprove](https://about.pullapprove.com/) could help with this -- active people "leading" different initiatives are lieutenants (with whom th

[2017-02-24 21:51] dcwalk opened #76 "Revisit reccomended license (and reccomending practices)"
We've had some questions around our approach to licensing. The decision coming out of Toronto's event was to GPLv3 everything and recommend that going forward.

Given the repo shake up some of those recommendations are buried/lost (were associated with event planning).

How do we want to address this as a community?
My plan was to have a discussion on `#dev` and reference at our Standup

[2017-02-26 18:23] dcwalk commented on #64
@danielballan or @b5 --
Could you provide a brief update on the outcomes from the meeting on Saturday?
Or point me at any notes/documentation?

[2017-02-26 19:12] kmcculloch commented on #64
@dcwalk No formal notes, although I believe @b5 recorded our conversation. @khdelphine and @titaniumbones also attended, and a couple of other folks I don't know yet.

Here's how I'd summarize what I heard:

- @b5 is working on the long-term vision for our tools, including standardizing metadata across efforts and addressing some of the issues in https://github.com/edgi-govdata-archiving/dataset-r

[2017-02-26 19:38] dcwalk commented on #64
@kmcculloch Wonderful, thanks for the detailed notes, and good to know you are in a project lead role for the app.

What is the status/thoughts around security review and opening the code?

[2017-02-26 19:59] kmcculloch commented on #64
@dcwalk Good question. We'll need to consult @b5 or get another volunteer who is qualified to do a security review of meteor code. Also, we still need to have a conversation about review and approval of pull requests and deployment--I don't know anything about the environment where the code is running or about backups, data recovery and so forth. The conversation on Saturday wasn't technical.

[2017-02-26 20:42] dcwalk commented on #64
Okay, shall we take up some of these questions via issues in the archivers.space repo?
We have standard contrib guidelines that could be extended to cover specifics for deploy.

I have worked on projects where we specify some elements of backups, infrastructure etc... in a public meta repo like [overview](https://github.com/edgi-govdata-archiving/overview) which works okay-ish.  Or we could add th

[2017-02-26 23:43] kmcculloch commented on #64
Here's an issue for the security review: https://github.com/edgi-govdata-archiving/archivers.space/issues/47

[2017-02-27 04:59] dcwalk commented on #73
Hey @danielballan as far as I'm concerned Draft 2 rocks! 🎉

We should use this for next weekend.
Can we change the title to "Archivers App Walkthrough" and add a link to the workflow and app in the description?

[2017-02-27 16:04] danielballan commented on #73
Great! Done: https://www.youtube.com/watch?v=tvSSILnHnpA

[2017-02-27 21:51] Mr0grog commented on #76
I’m generally biased towards the BSD 3-clause or MIT licenses, mainly because they are:

- Open to any sort of use and participation (in particular, I think it is generally good to invite industry participation by making it non-worrisome for private entities; for most code, I don’t find myself concerned with whether some people might use it to make money)
- Straightforward and clear

I’m not usual

[2017-02-28 03:57] dcwalk commented on #76
Thanks for the comments @Mr0grog...

In the chat we had a few people chime in for GPLv3, which is what we had previous agreed upon, a good reminder to copy out those thoughts here:

[2017-02-28 06:31] Mr0grog commented on #76
Heh, yeah, I didn’t see the Slack discussion until just after I made the comment, at which point my notes felt kinda redundant 😅

[2017-02-28 14:45] dcwalk commented on #73
@mayaad are you or someone on the primers team able to make a primers/chrome tool walkthrough?

[2017-02-28 16:29] dcwalk commented on #76
Not redundant! Thanks for the input, it is good to get a sense from a range of people

[2017-02-28 16:59] ebarry commented on #76
To clarify, there's no barrier to companies extending and also selling
their extension to a public (GPL) resource, it's that they can't enclose /
remove their work from the public.

--

+1 336-269-1539
@lizbarry <http://twitter.com/lizbarry>

On Tue, Feb 28, 2017 at 11:29 AM, dcwalk <notifications@github.com> wrote:

[2017-02-28 18:09] Mr0grog commented on #76
They *do* have to additionally make the source code of that work (which often comprises the majority of the work) available for free, though. It may not be a technical barrier, but most companies certainly view as one—it has the same affect on corporate behavior in most cases. (For example, as a former employee of a large computer company, I’ve had my share of unpleasant interactions with manageme

[2017-02-28 22:21] titaniumbones opened #78 "Set up Let's Encrypt for our Google cloud Resources"
This is something we'll need soon.

[2017-03-01 03:22] mayaad commented on #73
@dcwalk I can put it on the to-do list for this weekend. If you need it sooner, let me know. Also, I can ask an organizer if they wouldn't mind me recording a training session. That way we could have something up soon, and then I can try to make a cleaner copy this weekend.

[2017-03-01 05:16] dcwalk commented on #73
Recording a training session would be a great initial pass @mayaad! If that is at all possible, please :))

[2017-03-02 03:35] dcwalk commented on #73
The Agency Primers and Chrome extension video is up! https://youtu.be/Ro-f58Cecdg

[2017-03-02 20:39] dcwalk commented on #39
Closing this as the Website Monitoring baseline was dlded, initial set up is happening on Google Cloud infra.

[2017-03-02 20:39] #39 closed, assigned to nobody

[2017-03-03 05:14] ambergman opened #81 "EDGI Website Monitoring Dev Meeting"
We'll be having a meeting today (Friday, March 3) at 8pm EST for everyone interested in the ongoing work developing EDGI's Website Monitoring Software Platform. [Here's the link](https://zoom.us/j/259188871) for the Zoom meeting - please use the #dev-webmonitoring channel on the Archivers Slack or contact me directly with any questions.

Dan Allan (@danielballan), along with @titaniumbones, @Mr0gr

[2017-03-04 00:20] dcwalk commented on #71
While there may be changes to a "place" for event materials in the future, I'm closing as completed now as we have an interim solution implemented and have made major headway!

[2017-03-04 00:20] #71 closed, assigned to dcwalk

[2017-03-04 00:25] dcwalk opened #83 "Prep for GSoC"
We got accepted to Google Summer of Code (aiii!) Lots to do, TODOs in the next few days to mark this issue complete:
- [x] Mentor Guidelines posted DRAFT
- [x] Admin doc for year DRAFT
- [x] Mentor Recruitment callout
- [x] GSoC Student Call I (with @titaniumbones) Mar 08, 8-10am ET
   - [x] Update idea descriptions & application process based on call
- [x] First-timer issues in `archivers.space`

[2017-03-04 01:22] dcwalk commented on #83
Partially addressed in #84

[2017-03-04 20:32] dcwalk commented on #81
This happened! In the future can we post these in the web-monitoring repo @ambergman? It might be easier to have the events live closer to the project

[2017-03-04 20:32] #81 closed, assigned to nobody

[2017-03-04 20:35] dcwalk opened #86 "Recruit Mentors for GSoC"
We were accepted into Google Summer of Code :tada:, we are expecting to have 1-3 students with us over the Summer helping us with our Web Monitoring and/or Archivers App projects :computer: :desktop_computer: We are looking to recruit 5 mentors — please see the call below and dm me (@dcwalk) on our chat or respond here!

TODOs to mark as done:
- [x] have 3-5 mentors by Mar 15
- [x] update GSoC Org

[2017-03-04 21:42] dcwalk opened #87 "Revisit Weekly Standup Meeting Time"
We have a [weekly standup](https://github.com/edgi-govdata-archiving/overview/blob/master/protocol/standups.md) scheduled for *Tuesdays, 7:45pm* however are finding it difficult to make that time with the Toronto crew at Civic Tech Toronto.

I've created a poll to determine whether there is a better time we should be hosting this past on current contributors availability: https://www.when2meet.com

[2017-03-05 14:16] dcwalk commented on #74
@titaniumbones -- I think we want to leave versionista-outputter and version-tracking-ui separate as they are different codebases doing different things?

My understanding is that version-tracking-ui is no longer in use, if that is the case we should:
- Update project readme/description in repo
- Update project list in overview
...to handle that case

[2017-03-06 15:35] dcwalk commented on #65
Closing this as stale/complete-- we've definitely started :))

[2017-03-06 15:35] #65 closed, assigned to titaniumbones, dcwalk, ambergman

[2017-03-06 15:36] dcwalk commented on #41
Closing this as stale as our event process before/after has shifted significantly (and I expect will do so again in the next weeks)

[2017-03-06 15:36] #41 closed, assigned to nobody

[2017-03-06 15:38] dcwalk commented on #73
We've got videos up! I think this is a great first draft, I'll leave iteration improvements to be handled in the workflow documentation repo, etc...

[2017-03-06 15:38] #73 closed, assigned to nobody

[2017-03-06 15:40] dcwalk commented on #47
I'm going to close this a complete(ish) for now-- we have much improved documentation for events, with videos, app FAQ, and training process for event organizers. There is definitely room for improvement but I think we need to see changes to events in the coming weeks to identify further areas for improvement.

[2017-03-06 15:40] #47 closed, assigned to nobody

[2017-03-07 15:22] dcwalk opened #88 "Create Project Guidelines and add to Overview Repo"
We've had some great work in each respective repository/project to begin to formalize Code Style, Linting, and Testing practices. Would be good to upstream some of that structure into recommendations.

In addition, we need to codify License recommendation practices (GPLv3 and CC 4.0 BY-SA) per #76

[2017-03-07 16:58] dcwalk commented on #87
We have a new time, copied from Slack:

[2017-03-08 03:34] dcwalk opened #93 "Confirm documentation tools for code"
We currently are relying on Markdown and GitHub for most of our documentation

(see:
- [overview](https://github.com/edgi-govdata-archiving/overview)
- [datarefuge/workflow/](https://github.com/datarefuge/workflow/) (tho these are then generated into static html)
- [web-monitoring](https://github.com/edgi-govdata-archiving/web-monitoring))

As our code gets more mature, being able to comment inlin

[2017-03-08 03:49] dcwalk commented on #93
[Sphinx](http://sphinx-doc.org/) was mentioned in those chats.
We are using [MkDocs](http://www.mkdocs.org/) to convert for documentation-only repos

Other Markdown code documentation supports:
- https://github.com/lord/slate
- https://www.programmableweb.com/news/why-you-should-use-markdown-your-api-documentation/2015/02/19 RE: Swagger, RAML

[2017-03-08 03:50] dcwalk commented on #87
Our next meeting deets:

[2017-03-08 03:57] dcwalk commented on #87
Blurb about our standup:
[code]

[2017-03-08 03:58] #87 closed, assigned to nobody

[2017-03-08 19:23] dcwalk commented on #86
I've sent out emails inviting mentors to our acct! I'm gonna leave this open as a reminder for another couple days to make sure we've got people on our Google Summer of Code acct

[2017-03-10 01:44] dcwalk commented on #76
This was addressed in #92, closing for now!

[2017-03-10 01:44] #76 closed, assigned to nobody

[2017-03-10 01:45] dcwalk commented on #88
This was addressed in #92, closing for now!

[2017-03-10 01:45] #88 closed, assigned to dcwalk

[2017-03-12 04:14] dcwalk commented on #74
Sitting on decision about webdiff-ui and the move over to the db for versionista before finalizing the remaining two TODOs

[2017-03-12 13:36] dcwalk opened #98 "Create reproducible ways for collecting Event Preservation statistics"
Currently we haven't computed the per=event breakdown of seeds, would be good to set up a reproducible way to do so. @trinberg mentioned using a Jupyter notebook in the Mar 11 dev weekly standup--

TODOs to mark this complete:
- [x] Identify what event stats we could generate
- [x] Create notebook for: event seeds
- [x] Publicly post for feedback! (new github repo?)
- [x] Generate the stats!

[2017-03-12 13:37] dcwalk commented on #98
@trinberg maybe we create a repo for this stuff? I thought there were two possible sets of stats you were thinking about, but can't remember the second 🤔

[2017-03-12 23:10] dcwalk opened #99 "Share DataRefuge S3 bucket metadata"
Is there a way that we can coordinate with Dat Projects Svalbard? Per https://github.com/datproject/svalbard/issues/6:

[2017-03-13 14:16] b5 commented on #99
Yes I think there is! I'll reach out to project Svalbard today.

[2017-03-17 15:14] #86 closed, assigned to nobody

[2017-03-18 20:44] kmcculloch commented on #64
The security review is complete and the archivers.space code is now public.

[2017-03-18 21:11] dcwalk opened #101 "Confirm status of various event repos"
We have a bunch of repos listed as related to [event preservation](https://github.com/edgi-govdata-archiving/overview#event-preservation). However at least one is no longer an active part of our event workflow.

TODOs to mark this complete:
- [x] confirm status of listed repos
- [x] mark/update those that are archived and no longer actively used

[2017-03-24 20:14] mhucka commented on #83
For more ideas of materials and things to say about GSOC, the following might be useful: http://www.nrnb.org/gsoc.html

[2017-03-25 23:28] dcwalk commented on #83
Great resource @mhucka, adding to the admin resources :)

[2017-03-25 23:28] #83 closed, assigned to nobody

[2017-03-25 23:33] dcwalk commented on #72
This has been happening and strategized as part of a larger effort with the EDGI group, I'm closing this for now as 'investigated' as I think the work will continue in a larger way!

[2017-03-25 23:33] #72 closed, assigned to nobody

[2017-03-25 23:40] dcwalk commented on #64
Great, I'm remiss in adding the adding the middleware suggestions to the Project Guidelines... opening a PR #105. Gonna close this as onboarded 🎉 y'all rock :)

[2017-03-25 23:40] #64 closed, assigned to nobody

[2017-03-26 16:12] ChaiBapchya opened #106 "Discussion on Content Moderation"
While searching for tools similar to _Versionista_, this is what I found. I stumbled across a different (from **Tracking / Monitoring changes**) yet (I think a bit relevant) term - **Content Moderation**

As we talk about meaningful changes, tracking changes, finding diffs and prioritizing them, one of my searches led me to AWS Marketplace products such as WebPurify Image Moderation, etc which mod

[2017-03-27 12:06] danielballan commented on #106
Yes, I think there's a useful analogy here.

[2017-03-27 12:26] danielballan commented on #106
Having just caught up on https://github.com/edgi-govdata-archiving/web-monitoring-processing/issues/28 it looks like there are strongly analogies in other prior art, like analyzing Wikipedia edit history.

[2017-03-27 21:15] dcwalk commented on #106
Awesome, I agree with @danielballan that there are strong analogies to this and monitoring and it seems like we should definitely be paying attention to how projects are working on moderation to help us think through features of our web monitoring system!

We tend to use the issues in this "overview" repo for meta-organizing across all our projects, but as I interpret this as being about the web m

[2017-03-27 21:17] dcwalk opened #108 "Create Roadmap for Community Building"
EDIT: Coming out of the [DataRescue Town Hall](https://www.youtube.com/watch?v=TzQKC4-gGEo) in April we identified some potential working groups to move toward identifying milestones around growing our archiving work (at a minimum) as a community.

However, things took a bit of a shift and at the end of June we posted an update on our new direction: ["Next Phase of Archiving: Data Together"](https

[2017-03-27 21:17] dcwalk opened #109 "Create roadmap for transition to Archivers 2.0"

[2017-03-27 21:18] dcwalk opened #110 "Perform post mortem for DataRescues and Archivers.space"
Originally kicked off by [`datatogether/roadmap/issues/3`](https://github.com/datatogether/roadmap/issues/3):

We (hope to) collect the following into a draft doc:
- [x] general event feedback from event organizers,
- [x] issues/pain points identified in the archivers repo
- [x] reflections on 'lessons learned' from archiving team
- [x] technical discussion about drawbacks to original archivers 1.

[2017-03-27 21:23] ChaiBapchya commented on #106
I'm glad this finding is relevant and useful.

Alright sure. Will move it to web-monitoring. @dcwalk

[2017-03-27 21:26] ChaiBapchya commented on #106
This issue was moved to edgi-govdata-archiving/web-monitoring#29

[2017-03-27 21:26] #106 closed, assigned to nobody

[2017-03-28 22:22] titaniumbones commented on #106
@danielballan @ChaiBapchya does anyone on this thread actually know where the wikipedia content moderation code is?

[2017-04-19 05:00] dcwalk opened #118 "Create document reviewing crawlers and challenges"
Main outcome with our call with DCI was that a report on the challenges we faced with web archiving tools would be valuable to the web archiving community.

Beginning to collect notes here: https://docs.google.com/document/d/1dbxHYyhBFV6jUZEQ8zpLB9AagU7vpDH7HSF9QV1QnZI/edit#

Imagined steps:
- selection of crawlers
- first draft mid-May
- feedback ??
- final draft **Jun 10**

[2017-04-19 05:01] dcwalk commented on #16
I am closing this as stale, we've (many times) revamped event workflow. Our next iteration will handle this stuff differently as well!

[2017-04-19 05:01] #16 closed, assigned to nobody

[2017-04-19 05:03] dcwalk commented on #45
This never happened, closing issue as stale

[2017-04-19 05:03] #45 closed, assigned to nobody

[2017-04-19 05:05] dcwalk commented on #52
Closing as stale, also these issues will be handled by Steering Committee on the EDGI slack in the future

[2017-04-19 05:05] #52 closed, assigned to nobody

[2017-04-19 05:09] dcwalk commented on #53
We wound up going ahead with a single mailing list. Closing as wont do, but we got somewhere similar

[2017-04-19 05:09] #53 closed, assigned to nobody

[2017-04-19 05:12] dcwalk commented on #118
This will actually address #3 and #22 (nice loop back!)

[2017-04-24 15:19] titaniumbones opened #119 "Complete EPA downloads"
With the EPA in crisis, we need to finish off our efforts to gather EPA datasets together.

*Minimum success criterion:*  archive copies of all known EPA datasets currently available on the open web.

*Stretch goal:* recreate opendata.epa.gov and potentially other developer & user interfaces as well.

*Resources*
- [List of EPA datasets on the Open Web](https://edg.epa.gov/data.json)
- [EPA Digita

[2017-04-24 17:06] titaniumbones opened #120 "Establish how many EPA datasets we have identified, and determine their disposition"
Update 2017/08/17 (from @dcwalk): This depends on #199, once that happens this can be resolved!

---

Our records regarding which EPA  datasets we care about and have tried to acquire are scattered. We need to create as definitive as possible a list of these. This means, at a minimum, reconciling the following information sources:

(edit-@dcwalk merged in their list:)
- pre-datarefuge list of uncr

[2017-04-24 17:31] dcwalk commented on #120
A sketched out timeline:
- [x] @b5 EDG (edg.epa.gov) set up in alpha.archivers.space **ASAP 0424**
- [x] @b5 de-dupe a list of EPA we know about and status across sources of datasets **ASAP ~~0424~~ 0428**
- [x] @dcwalk and @patcon proposed model for downloading **TUES 0425**
- [x] @dcwalk audit and check-in hanging uncrawlables in archivers.space 1.0 **TUES 0425**
- [x] @b5 add remaining uncrawla

[2017-04-24 17:47] dcwalk commented on #120
Other things to check:
- EDG FTP against [Internet Archive Collections](https://archive.org/search.php?query=edg.epa.gov)
- IA API: https://archive.org/wayback/available?url=www.example.com
- Developer Central: https://developer.epa.gov/
- Open Data: http://opendata.epa.gov/

[2017-04-24 17:49] titaniumbones opened #121 "Where's the data?"
We're often asked this question, and we often have a very hard time answering, because the "data" might be in any of several places. We should incrementally improve our capacity to answer this question, with:

- [x] a web page that gives a frank answer (look in CKAN, look in IA, look in archivers 1, look in archivers 2, look in azimuth, etc.)
- ~a search form or chatbot that executes most of those

[2017-04-24 20:14] b5 commented on #120
Ok notes regarding above:
* datarefuge.org & archivers 1.0 should be properly linked, I'll do some work in the coming days to confirm, but the list in archivers 1.0 should be more usable, as it also contains links marked "crawlable", and connections to final s3 urls.
* We're now crawling edg.epa.gov, will report back soon
* What is the "Internal EDGI EPA tracking sheet"? Can someone DM me on slack

[2017-04-24 21:15] dcwalk opened #122 "Update Github owners and lieutenants"
Related to #75, we have had some members of the project become inactive over the last while, who are still listed as *Owners* and *Lieutenants,* I'd like to revisit and update these groups to reflect those currently active

@edgi-govdata-archiving/lieutenants could you all respond here by **April 30** if you are still interested in serving in a pull review, admin and/or maintainer capacity?

Thank

[2017-04-24 21:17] sonalranjit commented on #122
interested

[2017-04-24 21:18] b5 commented on #122
well, if @sonalranjit's interested, consider me interested.

[2017-04-24 22:04] wdenton commented on #122
You can drop me.

[2017-04-25 00:42] louh commented on #122
I haven't had time to keep up, unfortunately :(

[2017-04-25 13:36] mi-lee commented on #122
Sure, I'd be interested, although I've had limited experience with the rest of the repos.

[2017-04-25 13:38] ebarry commented on #122
I'm still around.

[2017-04-25 15:59] shabscan commented on #122
Interested

[2017-04-25 16:19] murphyofglad commented on #120
For lists of EPA datasets that exist, there is:
- the [json.ld](https://edg.epa.gov/data.json) file from the EPA.  Even if links are dead it is a comprehensive list
- [Max ogden's list](https://gist.github.com/maxogden/405f8d57d63444f785c46f859d91ad4b), the parsed list from the  environment data gateway json.ld file
- The [spreadsheet](https://docs.google.com/spreadsheets/d/1OAjMPkW0H9fSdoCHUxrByW

[2017-04-25 18:46] b5 commented on #120
So over the last 12 hours or so the lists of urls to examine have kept pouring in, and the number of deduplicated urls to examine remains in the thousands. Sorting, prioritizing, and checking this list is going to take some time, as I don't want to just hand over a list of thousands of urls without engaging in at least some grouping, checking & deduplicating before passing off for fine-grained exa

[2017-04-27 18:35] dcwalk opened #125 "Deploy EDGI chatbot v2"
Going to paste in chatbot convos from `#community_building`:

Update the slackbot welcome message to include a link to our welcome materials: (@dcwalk posted about this in SC)

- [ ] code of conduct and any slack policy
- [x] edgi intro survey (already written)
- [x] sentence with good starter channels and actions (e.g., introduce yourself)
- [ ] link to the website page with a list of current pro

[2017-04-28 03:08] titaniumbones commented on #125
I haven't been part of this convo but this is awesome, thx Dawn, look
forward to seeinghtis when I get back.

At some point demo thisfor Michelle, maybe we can do something similar
for EDGI!

dcwalk <notifications@github.com> writes:

--

[2017-04-28 13:13] kmcculloch commented on #122
I've been AWOL but haven't lost interest in being involved.

[2017-04-28 14:39] dcwalk commented on #125
This is gonna be for the EDGI slack :) I think we definitely should make sure both slacks benefit!

[2017-04-28 16:35] b5 commented on #120
Ok, so I really need to double check this work, but I have some preliminary results:

**TL;DR; We've archived 37% of the EPA datasets we know about**

* _total urls:_ 18476
* _total archived:_ 6842
* [gist of results](http://gist.github.com/b5/75f087b1229d74655c0da83381eaa585)

I'm planning on doing a deep dive on this in the near future, as there are lots & lots of insights to talk about.

### In

[2017-04-28 17:17] murphyofglad commented on #120
@b5  does it make sense to reach back to Max Ogden with these findings and see what of this list the Dat Project already has captured?  That could cut it down list further.

[2017-04-28 17:37] b5 commented on #120
If I'm not mistaken the Dat project isn't directly engaged in archiving work, but I'm going to be in Portland for csvconf on Monday, I'll try to sync up with the Dat folks IRL.

Either way we'll start into this list over the weekend and see what shakes out.

[2017-04-28 21:43] shapironick commented on #122
I'm still here but don't need to be a lieutenant or an owner as I don't do my EDGI work on github. It's just a remainder from the early days

Sent on the move

[2017-04-28 21:45] murphyofglad commented on #122
Hi all
I am still here!
Michelle

Sent from my iPhone

[2017-05-02 23:22] dcwalk commented on #121
Hey @shaqsingh-- would love to fold your visualization work into addressing these concerns. Maybe writing some of those notes about places could happen as you pull together stats?

[2017-05-09 18:29] dcwalk commented on #122
Thanks all who responded, permissions updated :)

[2017-05-09 18:29] #122 closed, assigned to patcon, dcwalk

[2017-05-09 18:31] dcwalk commented on #101
After review I'm leaving this open for the time being, we'll want to revisit GitHub and repo organization when future of event conversations conclude.

[2017-05-09 18:31] #101 closed, assigned to nobody

[2017-05-09 18:32] dcwalk commented on #75
We've updated our GitHub owners and lieutenants, I'm comfortable leaving it at this for now, we may want to revisit the [member privileges](https://github.com/organizations/edgi-govdata-archiving/settings/member_privileges) in the near future, but I see that as post-"future of events" conversations

[2017-05-09 18:32] #75 closed, assigned to nobody

[2017-05-10 18:54] dcwalk commented on #46
Yoooooo @patcon -- this is that stalled issue, lets get this ball rolling! :)

[2017-05-11 03:38] dcwalk commented on #121
Update on this:

- The "Archiving" EDGI page reflects part of this: https://envirodatagov.org/archiving/
- We have a nascent way to visualize the "coverage" in: https://alpha.archivers.space/coverage

[2017-05-11 03:39] dcwalk commented on #121
Really got to think about improving the way people could unpack this answer -- @shaqsingh and @patcon  would love to discuss tomorrow!

[2017-05-18 21:16] dcwalk opened #127 "Register EDGI project for Mozilla Global Sprints on Jun 1-2, 2017"
From May 11 Community Call (and Slack):

I’d love for us to get something scoped and ready for Mozilla’s Global Sprint on June 1-2: https://mozilla.github.io/global-sprint
A couple possibilities that were mentioned:
1. Diffing services for Web Monitoring
2. All of Web Monitoring
3. Writing scraper scripts (this one likely requires more up front work to get us ready in time)

[**Project Requirement

[2017-05-23 22:19] patcon opened #130 "Create Awesome lists for our tool tracking needs"
I've been trying to understand the tool landscape for EDGI the organization (ie. admin tools like Zoom, Hangouts, etc.), as well as the landscapes of web page diffing and web page archiving. In some ways they differ, but in many ways all these tools are part of the same high-level wondering -- what do we know about? what do we use? what has already been discussed?

We have a few approaches:

- tra

[2017-05-24 00:23] dcwalk opened #131 "Register for Mozilla Global Sprint"
We should participate in the Jun 1-2 Mozilla Global Sprint, details: https://mozilla.github.io/global-sprint/project-lead/project-requirements/

TODOs:
- [ ] complete registration
- [ ] take the Open Leadership 101 training
- [ ] ensure we are listed as a featured project
- [ ] advertise/send out emails (TRU; announce at Civic Tech TO, Slacks)

[2017-05-24 01:45] dcwalk opened #132 "GSoC Community Bonding"
Goals for the community bonding period:

- [x] update [GSoC page]()
- [x] add student bios (and pics?) to GSoC page
- ~contributing guidelines walkthrough?~

Moving to GSoC Phase II work:
- ~add community member insight to GSoC page~
- ~swag picking~
- ~add GSoC Flair to the repos :))~

[2017-05-24 21:35] dcwalk commented on #131
Whoops, already had an issue #127 , closing this one

[2017-05-24 21:35] #131 closed, assigned to nobody

[2017-05-26 04:04] dcwalk opened #134 "Adopt pw manager/vault for managing services and logins"
We have a growing number of services with a few cases that require shared logins or secrets. This is a tracking issue for an ongoing conversation in `#handling_keys` on EDGI slack.

@dcwalk's summary of issue:

[2017-05-26 04:28] dcwalk opened #135 "Document project deployments and map services"
Related to #134, this is a tracking issue for an ongoing conversation in `#handling_keys` on EDGI slack.

@dcwalk's summary of issue:

Also see https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/50

TODO:
- [x] ✅ each service verified
- ~web monitoring deployment documented~
- ~archivers.space deployment documented~

[2017-05-26 18:59] dcwalk commented on #127
PRs merged in!

- [x] We just have to mark as "Ready to Launch" with mozfest: https://github.com/mozilla/global-sprint/issues/102

[2017-05-26 19:02] titaniumbones commented on #120
@b5 We're (@patcon @dcwalk @shaqsingh) all just sitting here thinking about EPA and I'm looking at your old next-steps list from a month ago:

- [ ] *Point the archivers 2.0 crawler at the JSON-LD urls list.* A lot of those links are dead / useless based on some initial spot-checking.
- [ ] *Examine the list of non-404 urls reported post-crawl, confirm those are in archivers.space*
- [ ] *Build a

[2017-05-26 19:02] dcwalk commented on #74
UPDATE: `webdiff-ui` has been superseded by a react prototype in [`web-monitoring-ui`](https://github.com/edgi-govdata-archiving/web-monitoring-ui)

[2017-05-26 22:07] dcwalk opened #137 "Establish bi-weekly meeting time for EDGI Archiving WG"
Set up bi-weekly meetings with Archiving Working Group call where progress updates for the above, as well as more ‘internal’ archiving WG activities

[2017-05-26 22:11] dcwalk opened #138 "Do Post Mozilla Sprint Cleanup"
I'll assume we've rocked it (we're awesome 🥀 )

A couple TODOs come to mind:
- [x] undo the following documentation PRs:
  - #136
  - https://github.com/edgi-govdata-archiving/web-monitoring/pull/33
  - https://github.com/edgi-govdata-archiving/web-monitoring-processing/pull/43
- [x] _perhaps_ write a blog post celebrating our accomplishments? 🎉

[2017-05-26 22:13] dcwalk commented on #138
(blocked until after the event 😁 )

[2017-05-29 15:22] dcwalk commented on #127
@patcon and @titaniumbones can you announce the Global Sprint participation at CivicTechTO on tuesday?

[2017-05-29 15:23] dcwalk commented on #127
Also spoke with @titaniumbones and Michelle about sending out to the facebook page or any Toronto event attendees

[2017-05-29 15:50] titaniumbones commented on #127
For sure.

On May 29, 2017 11:22:51 AM EDT, dcwalk <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-05-30 06:38] patcon opened #139 "Deploy halpy bot on Archivers slack"
It's hard to depend on chatbot features that only exist in 1/2 the chat space.

I think we can create a new heroku app hosting another bot, but have them both share the same redis brain. This will keep some of the nice features in sync, and shouldn't have negative consequences.

### Caveats

- if the per-channel rss notifier is used in a channel on one slack that is also present on another, it mig

[2017-05-30 22:23] b5 commented on #120
just a quick update on this, I've been working on the JSON-LD crawl, should have more to report on this by the end of the week. I haven't forgotten, and will report back here!

[2017-06-01 01:31] dcwalk commented on #127
Marking this as closed-- we've done all we can :)

[2017-06-01 01:31] #127 closed, assigned to nobody

[2017-06-01 01:34] dcwalk commented on #135
We've set up a prelim version using Dropbox Paper and will be trialing it over the next few months. Thanks @patcon for kicking off the services documenting, we are still aways out...

[2017-06-01 15:00] titaniumbones opened #143 "trello-based onboarding to webmonitoring dev"
@patcon is prototyping a self-onboarding Trello system for
- ~~(a) EDGI in general~~
- ~~(b) EDGI subprojects, e.g. web monitoring, archiving, etc.~~

(@patcon EDIT: h/t @cswc for [TeamKit trello](https://trello.com/b/bFmn2b3y/teamkit-team-project-tools-orientation) inspiration from DemocracyKit project)

Looks pretty neat, though of ocurse it also adds YAT (Yet Another Tool) which I guesss is not

[2017-06-01 15:14] titaniumbones opened #144 "Contribute to Data Together visioning docs"
As a founding partner in Data Together, EDGI should contribute for formulating the vision for the project.

[2017-06-01 16:34] patcon opened #145 "Reach out to other web-archiving projects about collab on our tool comparison resource"
@mhucka has gone to great efforts to create an comparison resource:
https://github.com/archivers-space/research/tree/master/web_archiving

It would be great if we could lure other FOSS projects into collaborating on this with us on this :)

One way to do this might be to write some boilerplate copy for how this would fit into a README (perhaps copying that into the research README), and then open

[2017-06-02 00:57] titaniumbones opened #146 "Office Hours/Googe Hangout for distal co-working"
The possibility of remote co-working either through fixed "office hours" or an informal open-a-google-hangout-when-we-can practice was raised in [the June 1 Community Call](https://hackmd.io/JwEwTAHGBm3AtAQxBa8AsBjdJ7AEYAMi8hAbIYQMyY1hlnBA?view).

Let's use this issue to discuss the idea and maybe identify a good process (can the slackbot help us? Should we just drop a hangout link in #dev when we

[2017-06-05 11:48] titaniumbones commented on #138
We ended up changing the README's several times... so it seemed like less work to push new commits rather than undoing the ones you'd pointed to.  And I've written a version of the blog post, so I think I'll close this up!

[2017-06-05 11:48] #138 closed, assigned to titaniumbones

[2017-06-05 18:10] dcwalk opened #148 "Add contributors to readmes"
Per @Mr0grog's wonderful lead in https://github.com/edgi-govdata-archiving/web-monitoring-db/pull/75#pullrequestreview-42108668, it would be great to add the stripped down [all-contributors](https://github.com/kentcdodds/all-contributors/) to our core active readmes...

[2017-06-06 19:48] patcon commented on #146
Two options, **depending if we want to easily record** when something important is being discussed.

1. if we **don't** care about recording:** create a gcal event for distant future, add a hangout to that event, and use that link forever. (this is a well-known tactic.) Perhaps make a short link. people always jump into that for office hours / coworking: https://productforums.google.com/forum/#!to

[2017-06-06 20:06] patcon commented on #146
If we just want a video call perma-link without recording, ie (1), then I created an event with link:

https://hangouts.google.com/hangouts/_/w4745br4lzdr7mndmkayjuakyme

bitly-ized: http://bit.ly/edgi-archivers-hangout

![screenshot of calendar event](https://i.imgur.com/HY8VMen.png)

[2017-06-08 23:47] patcon opened #149 "Set up visual script-runner platform"
Often when someone wants tasks to run regularly, they set up a script to run via "cron" on a server. This is convenient, but is also very hard to share. Is the script failing? Do people know it's running? What's the log output? What environment variables are set? What servers is it acting on? All of this information is by default hidden away on the system, accessible only to privileged technical p

[2017-06-09 00:08] patcon opened #150 "Democratize ability of community members to run video calls"
We use Zoom Meetings. There are some inconvenient aspects:
- Hosting these meetings involves a privileged account.
- Recording a video can be done two different ways, both of which require some steps on the hosts laptop. Uploading that video to youtube requires YouTube account access.
- The meetings can be set up in many different ways, with various features turned on and off that may or may not s

[2017-06-09 12:13] dcwalk commented on #78
Closing this in favour of https://github.com/edgi-govdata-archiving/web-monitoring/issues/2

[2017-06-09 12:13] #78 closed, assigned to nobody

[2017-06-09 12:14] dcwalk commented on #37
Closing this as stale-- FTP crawls were completed by IA and Archive team :)

[2017-06-09 12:14] #37 closed, assigned to nobody

[2017-06-09 12:15] dcwalk commented on #109
This transition is going ahead under the "DataTogether" 🎉  umbrella so closing for now, will reticket out DT tasks as they emerge

[2017-06-09 12:15] #109 closed, assigned to nobody

[2017-06-09 12:20] dcwalk commented on #63
I'm going to mark this as stale/won't do as I think this was a legacy from when we were using this repo closer to Archivers, it would make sense to address [i18n](https://en.wikipedia.org/wiki/Internationalization_and_localization) and [a11y](http://a11yproject.com/) in issues closer to the codebases and projects they are applied do.

Feel free to reopen if you disagree and think we want a meta is

[2017-06-09 12:20] #63 closed, assigned to nobody

[2017-06-09 12:25] dcwalk commented on #40
Hey @titaniumbones cycling back on this, I think we might wind up moving away from generating this "issues to consider" doc, but instead pull some of this into the Post Mortem (#110) and also see what speaks to DataTogether still? #144

I'll close this issue within a week unless I hear otherwise!

[2017-06-09 12:44] dcwalk commented on #149
I dig this,

My only thought: I think it might be nice to sketch out a few different immediate cases where we can switch to using this before going ahead-- given our track record with taking up tools for one use and then never finding an additional one (e.g. over complexifying our tool landscape)

[2017-06-14 21:51] patcon commented on #143
Renamed just to make this more actionable and closeable :) will reticketed for other onboarding boards

[2017-06-14 21:52] patcon opened #151 "Trello-based onboarding for EDGI membership"
Reticketed from #143

[2017-06-14 21:56] patcon opened #152 "Trello-based onboarding demo for archiving project dev"
Reticketed from #143

[2017-06-14 21:56] patcon opened #153 "Trello-based onboarding demo for analysts"
Reticketed from #143

Create a PoC for self-directed onboarding via Trello, based off of approach pioneered by the very sucessful DemocracyKit project within the CivicTech Toronto community.

Similar to webmon dev onboard process: https://trello.com/b/FCGGEaQq/edgi-web-monitoring-project-onboarding

[2017-06-14 22:02] patcon commented on #143
100% yes. Having said that, one point that @titaniumbones and I have discussed in person (and which I think @ebarry might be sympathetic to, given some of our conversations), is that passing new folks through Trello-land (though we're "abusing" its intended usage) might be an **interesting way to introduce EDGI to a shared task tracker**. Specifically, in a way which current members might develop

[2017-06-15 04:42] patcon commented on #153
Just had onboarding docs shared with me: https://drive.google.com/drive/u/0/folders/0B2c5ivzmTMB0b2hCeEFHaERJV2c

Thanks @lightandluck!

[2017-06-15 04:42] patcon commented on #153
~@KrishnaKulkarni~ @KrzysztofMadejski had a bullet point related to this here: https://github.com/edgi-govdata-archiving/web-monitoring/issues/44

[2017-06-15 05:46] patcon commented on #46
Going to close this as largely done, and create a new ticket for slack bridge :) Feel free to re-open if that feels wrong

[2017-06-15 05:46] #46 closed, assigned to patcon

[2017-06-15 06:53] patcon opened #154 "Experiment with EDGI <=> Archivers Slack bridge"
Reticked from #46

This is the free tool we can host on Heroku: https://github.com/civictechto/slackbridge

These are the evolving notes and plan: https://hackmd.io/CYTgHATArAjARmAtAFmMgDC6BmRIBsMApngMaFREggDs+AhmEA==?view

Slack context: https://edgi.slack.com/archives/G5R52CRD3/p1497403127198175?thread_ts=1497362861.018496&cid=G5R52CRD3

cc: @murphyofglad

[2017-06-15 06:59] patcon commented on #154
caveat: (re: @b5's question in last thread)

setup is a little tedious -- each bidirectional bridge (they can be one direction) requires the following tedious envvar config:
https://github.com/CivicTechTO/slackbridge/blob/heroku-deploy/sample.env#L4-L15

but once it's set up, it's pretty nice. it's a bit more intuitive when people have the same usernames on each slack, so we might want to coach fo

[2017-06-15 11:08] titaniumbones commented on #154
So this seems like a great idea to me.

that's exactly the kind of slight friction that I would be so very glad to see diminish.

I wonder if we can choose, as a test, a channel in EDGI that already has a very open feel. Web monitoring in some ways feels like the obvious choice, but I haven't noticed if maybe the web monitoring analyst team sometimes shares semi-private stuff there.

archiving_tec

[2017-06-15 15:50] patcon commented on #154
good thought!

cc: webmon reps @trinberg @ambergman @mayaad @Mr0grog @lightandluck @danielballan

[2017-06-15 15:54] patcon commented on #154
just to clarify for those @-mentioned above: it's arbitrary whether we create a new channel for "sharing" or just stitch the existing ones on each team together where sensible. I prefer the ~former~ (oops!) latter (ie. less fragmentation, not more) but whichever.

I could imagine connecting _existing_ channels across slack teams (ie. no special new one), and if ppl ever feel a tension of not being

[2017-06-15 17:33] Mr0grog commented on #154
I think @titaniumbones is right on with experimenting on one or two channels; we should not force any EDGI members who feel uncomfortable with this into it.

While I both #archiving-techne and #web-monitoring (not #web-monitoring-team) seem like good candidates to me. In the #web-monitoring case, we should definitely make sure people there are cool with it. The conversation on the EDGI one is pret

[2017-06-15 17:34] Mr0grog commented on #154
(As a side note, this is **SUPER COOL,** thank you for finding it, @patcon!)

[2017-06-16 10:04] dcwalk commented on #154
I agree with Rob's points, RE: web monitoring and taking care in moving forward.

`#archiving_techne` was the channel originally proposed waaaay back when we were attempting this before. I'd like to vote for that as a first pass as we already have a sensitive channel, there are some links that maybe wouldn't get dropped immediately, but my hope is it wouldn't impact it too much. I think this could

[2017-06-16 10:07] dcwalk commented on #137
This has been set for Mondays at 15:00 ET! We've got the first one slated for Jun 19. Closing for now :)

[2017-06-16 10:07] #137 closed, assigned to dcwalk

[2017-06-16 10:10] dcwalk commented on #74
Going to mark this as done! The phasing out of `versionista-outputter` is cleanup to do after v0/v1 so not going to sit on this

[2017-06-16 10:10] #74 closed, assigned to nobody

[2017-06-16 10:13] dcwalk commented on #98
I'm not sure what this even mean :( But I'm pretty sure this was addressed in https://github.com/edgi-govdata-archiving/analysis... which I think we need to rename and probably regig a bit.

Closing this for now...

[2017-06-16 10:13] #98 closed, assigned to nobody

[2017-06-16 10:16] dcwalk opened #155 "Review GitHub repos and clean up"
Just looking through stuff we have a few repos we should probably mark as archived, improvements to documentation, adding readmes and contributing docs, and renaming for clarity.

e.g.: #98 and https://github.com/edgi-govdata-archiving/analysis

TODOs to mark this round as done:
- [x] review all repos descriptions
- [x] add tags
- [x] review pinned repos
- [x] add description to those repos missin

[2017-06-16 10:18] dcwalk commented on #125
@patcon what was the final decision for how to track chatbot work?

My sense is that we are going to run the two bots separately? How should this issue be updated to reflect that? (potentially closed?)

[2017-06-16 10:19] dcwalk commented on #134
We have a trail for LastPass. @patcon and @titaniumbones what are your thoughts after testing it out there past few days?

[2017-06-17 22:15] KrishnaKulkarni commented on #153
@patcon I'm not sure I follow your comment.

[2017-06-17 22:36] patcon commented on #153
Sorry, Krishna. Typo :/

[2017-06-18 07:09] janakrajchadha commented on #125
@patcon , this looks interesting. Is it a rule based bot or does it use other NLP techniques to answer questions?

[2017-06-18 20:06] patcon opened #156 "Onboarding feedback"
@linamnt gave the following feedback on [our webmon onboarding](https://trello.com/b/FCGGEaQq/edgi-web-monitoring-project-onboarding) in a Slack message. Thanks Lina!

[2017-06-20 04:42] patcon opened #157 "Upload archiving/tech meeting video to youtube"
From EDGI Zoom account
https://zoom.us/recording/detail?meeting_id=c6CG2NOLQuWd150l2%2B7UtA%3D%3D

As per @dcwalk request, crop beginning and end.

(I'm on mobile and can't upload big video right now)

[2017-06-20 16:44] Mr0grog commented on #154
@patcon where are we on this for `#archiving_techne`?

Should I post to `Archivers#dev-webmonitoring` and `EDGI#web_monitoring` about this? (Will also bring up at Analyst meeting tomorrow for vote/decision on the EDGI slack side.)

[2017-06-21 15:45] dcwalk commented on #145
Post-IIPC I think we want to actually start contributing what we know to their [Awesome Web Archiving](https://github.com/iipc/awesome-web-archiving) list.

Great minds 😂

[2017-06-21 15:53] mhucka commented on #145
That awesome list seems to have been started on June 16. Was it literally the result of a discussion during IIPC? If so, were you there by any chance, and do you know more background?

[2017-06-21 16:25] dcwalk commented on #145
Yeah it was @mhucka, tho to my understanding there was a previous list hosted on the IIPC site. I think the context was just that there is a lack of current resources to let new people to web archiving, and also people in specific areas, to understand the breadth of web archiving tools.

[2017-06-21 22:46] patcon commented on #75
Oh hey, when we revisit this, this might be a helpful thingy -- basically a standard format for saying who's in charge of what files, and a github automation piece that automatically @mentions users/orgs/teams in new issues based on that file

https://github.com/probot/probot work-in-progress github automation bot run by github
https://github.com/bkeepers/owners a standard for saying who owns bits

[2017-06-22 18:44] patcon opened #158 "Create Trello Powerup for copying onboarding boards"
The copying phase is a little awkward: https://trello.com/c/KIFn3CtG/18-copy-this-trello-board (heard this from both people who used board)

## Goals

- Make it simpler for users to copy board with correct settings (ie readable by others)
- Let team know when someone has started a self-led onboarding, so that they can check in and make sure things are going well.

## Proposal

We could build a [Tr

[2017-06-22 19:32] patcon commented on #156
Just noting that the first point here is being tracked in #158, so going to check that off

And added checklists for all the active cards (some work-in-progress cards don't have them). This is my new favourite card :) https://trello.com/c/ZoaSMbpy/8-explore-the-live-app

[2017-06-22 19:40] patcon commented on #154
Started making notes/plan here a few days ago: https://hackmd.io/CYTgHATArAjARmAtAFmMgDC6BmRIBsMApngMaFREggDs+AhmEA==

Totally agree not to force.

Key thing I realised while writing that doc is that **the goal is prob not to "merge and minimize channels", but to (when possible), ensure same  @mental/social space exists regardless of which slack we're in**. So that might involve actually _creating

[2017-06-22 19:55] patcon commented on #154
@dcwalk re: `edgi#archiving_techne`

1. Should we indicate the connectedness via a suffix, like `-portal`?
4. Given the channel inventory linked above, what feels right to connect to `edgi#archiving_techne`?
2. Should we try to make channel name consistent across both (less cog load)?
3. Should we consider renaming `edgi#archiving_techne` while we're at this? (I;ve realized I have no idea what it

[2017-06-22 20:39] Mr0grog commented on #154
We actually talked through this on the call yesterday; `Archivers#dev-webmonitoring` is not really super technical and already serves as the space for technical and non-technical discussion about web monitoring on Archivers… plus, we still have `#dev-webmonitoring-ui`. _So we probably don’t want a separate/new channel for this._

If it works out poorly, it takes approximately 30 seconds of work to

[2017-06-22 20:42] titaniumbones commented on #154
@patcon the discussion yest (6/21, not sure if video is up yet) at the web-monitoring meeting was helpful on this:
- General feeling was that `#web-monitoring` and `#dev-webmonitoring` were a good match
- @suchthis made an excellent and very helpful point: that we dont want to overgeneralize channels, but instead ensure that everyone is subscribed to precisely those channels that matter most to th

[2017-06-22 22:25] patcon commented on #154
Perf. Will do this next. Thanks both.

[2017-06-24 21:22] dcwalk commented on #154
Hey, I'm still game to have the `#archival_techne` bridged, but I'm actually having a hard time finding a 100% match.

RE: Techne, my read is it is akin to 'craft' but I think when it is used now it speaks to a stance and set of intellectual/critical commitments around broadening/reflecting on the skills and knowledge pulled in.. sorta..?

Sooo.... my backup suggesting is `#community_building`, as

[2017-06-29 19:37] patcon opened #159 "Connect Slack(s) to CodeForAll network"
Not sure if this makes sense for us, but putting it out there.

Could do Archivers and/or EDGI. It can just be a single room (ie. not connecting to the main `#general` channel or anything.

Connection link:
https://slackline.io/shared_channels/qQKCwG9gViYVxYuhoU3ZhQ

[2017-06-30 14:50] patcon opened #160 "Add EDGI credit card to Heroku"
I am very uncomfortable with my Heroku account being used for hosting apps that may be important to EDGI. Frankly, my credit card situation is unstable, and so being tied to my account is an accident waiting to happen.

Specifically:
- the halpy chatbot
- the video call landing page
- soon, the slack bridge

The apps above are all free right now, but if Heroku ever can't pull a payment for **any o

[2017-06-30 14:59] titaniumbones commented on #160
Although there have been some issues with this in the recent past (!), I
think we could probably put this on my credit card. tagging
@murphyofglad since it belongs to both of us!

On 06/30/2017 10:50 AM, Patrick Connolly wrote:

[2017-06-30 15:27] patcon commented on #154
- [x] Created heroku app: `edgi-slackbridge`
- [x] Added to [Service and Deployment](https://paper.dropbox.com/doc/Services-Deployment-pTsHUVIb2JuFHo8KVfpq2) doc
- [x] Added `enviroDGI@gmail.com` as app collaborator (anyone else want perms?)
- [ ] create heroku team for owning apps (Related critical issue imho: https://github.com/edgi-govdata-archiving/overview/issues/160)
- [x] created portal: `e

[2017-06-30 16:00] trinberg commented on #154
Quick note: you probably know this, but you currently can't edit or delete the message that was posted in the parallel channel. Any chance that could be fixed? Could lead to some embarrassing moments :)

Also note that in-thread commenting doesn't work on the parallel channel. It would be great to keep encouraging folks to discuss in thread!

@patcon

[2017-06-30 16:29] titaniumbones commented on #154
Hmm, one partial solution would be to recommend leaving the parallel channel?

I don't think slack recognizes the 2 88thusers as the same entity, so the issue is unlikely to be fixable by some setting on the bridge.

On June 30, 2017 12:00:05 PM EDT, trinberg <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-06-30 16:34] patcon commented on #154
caveats so far:
1. reaction emoji don't go through portal (might be simple and really useful to address)
2. threaded messages get "unthreaded" (prob pretty hard to address)
3. can't see `user is typing` notification (doesn't seem worth resolving?)
4. can't edit messages (h/t @trinberg ). agree with @titaniumbones, i can't imagine this being easily solvable. the messages are technically by a bot, a

[2017-06-30 16:36] patcon commented on #154
Fuzzy fix for (1), (2), (3) is to encourage ppl to favour one side of bridge for now. I lean toward Archivers side, as that's where most people can get access (given relative ease of sign-up)

[2017-06-30 16:38] patcon commented on #154
Other fuzzy fix: recommend that people be wary of important edits in "portal" channels.

We should make a pinned message for things like this.

[2017-06-30 16:50] patcon commented on #154
Currently investigating whether https://slackline.io resolves any of this.

Connected their "help" channel as [`archivers#slackline-chat`](https://archivers.slack.com/messages/C62EFS30D/), and asking there.

Also, their FAQ says that they sometimes work with non-profits. Their pricing is $30/month for 5 "portals".

http://sameroom.io/ is a similar service fwiw, but not just slack. (and $50/month)

[2017-07-03 16:47] dcwalk commented on #145
Hey -- I feel like you are getting this ball rolling @patcon :)
It seems to me like maybe this could be closed when you feel ready? As it is sort of moving out of a `first-timer` task?

[2017-07-03 16:59] dcwalk commented on #159
Hmmm, I think EDGI wouldn't be a fit...? I could see it working with Archivers (and actually maybe seeing if ProgCode does something similar?)

[2017-07-03 17:00] dcwalk commented on #160
I could also probably if needed.

I'd love to do a prelim consolidation of heroku stuff too this week if possible! I think I have one and we have the EDGI acct. Would be good to set up the team properly :)

[2017-07-03 23:31] patcon commented on #160
Seems that teams are kinda limited:
https://devcenter.heroku.com/articles/heroku-teams#pricing-and-limits

- free for 5 people
- $10/month for up to 25 people
- can't have free apps in team (ie. $7/month, but this seems odd, so worth confirming by testing)

So given the above, I suggest:
1. We attach one credit card to both the team, and to enviroDGI@gmail.com account
2. We test teams to confirm t

[2017-07-04 14:08] dcwalk commented on #157
This was done: https://www.youtube.com/playlist?list=PLtsP3g9LafVsmicfDxSGxB9imUgZODCGg
Cut off the last 30 and first ~5mins (also-- we had an odd artifact of someone elses recording at the beginning 👻 _spooky_

[2017-07-04 14:08] #157 closed, assigned to nobody

[2017-07-06 14:51] dcwalk opened #162 "GSoC Phase II (July) Admin Tasks"
Phase I of GSoC is done, TODOs for Phase II (June 30 - July 24):

- [x] swag picking DEADLINE AUG 12
    - [x] created form with selections
    - [x] distributed form
    - [x] review responses
- [x] add GSoC Flair to the repos :))
- [x] update on GSoC Page from Students
- ~add community member insight to GSoC page~

Resource link: http://beta.hackfoldr.org/edgi-gsoc

[2017-07-06 14:52] dcwalk commented on #132
Closing in favour of #162 as we move into Phase II :)

[2017-07-06 14:52] #132 closed, assigned to dcwalk

[2017-07-06 15:06] dcwalk commented on #162
Hey @suchthis -- if you are able to help with the swag picking, that would be amazing! I'll follow up in Slack :)

[2017-07-06 19:02] patcon opened #163 "Implement new format for community call"
## To Do

- [x] research/refresh on resources for community calls
- [x] host discussion about thoughts and feelings on community calls
- ~Integrate and/or address @lightandluck's [feedback for community call format](https://archivers.slack.com/archives/C4HNJTTL6/p1498793490166698)~
- ~Update [guidelines](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/community_calls.md)

[2017-07-07 12:29] patcon opened #164 "Share mailchimp access with @patcon"
Just want to poke around and see what's possible analytics-wise :)

Related: https://paper.dropbox.com/doc/Services-Deployment-pTsHUVIb2JuFHo8KVfpq2

[2017-07-07 14:50] patcon commented on #157
I know! I saw that! Weird. If @zoomvideo actually had any _people_ listed on their github, i would @mention them so they could investigate, but alas... :)

[2017-07-07 22:31] patcon commented on #154
Slackline has confirmed in `archivers#slackline-chat` that their service doesn't address any of our caveats, so then it's only perk is ease of setup (ie. non-technical)

[2017-07-07 22:55] patcon commented on #135
https://paper.dropbox.com/doc/Services-Deployment-pTsHUVIb2JuFHo8KVfpq2

[2017-07-08 20:22] patcon commented on #154
~~New realization: We might be limited in the number of channels we can bridge, due to limitations on how slackbridge works, and bc slack limits the integrations for free teams. I've opened a rlated ticket here: https://github.com/ossobv/slackbridge/issues/9~~

EDIT: no longer a concern. see https://github.com/edgi-govdata-archiving/overview/issues/154#issuecomment-315137248

[2017-07-08 20:53] patcon opened #165 "Experiment with in-slack decision-making protocol"
Thought maybe we could try something for in-slack decision-making. This is my proposal, which is open to suggestions, and is certainly expected to change after we try it:

1. I'll make a post asking a clear question.
1. I'll use `@channel`.
1. I'll link to any larger context. (GitHub, etc.)
1. I'll be clear about the decision timeframe. (ie. point after which action will be permitted if supported.

[2017-07-08 20:55] patcon commented on #165
In particular, curious whether anyone has thoughts on emoji: are there better alternative emoji? Could the "legend" use better terms? Should there be less or more?

(Keep in mind: Slack's differ slightly, but we can also upload our own.)

[2017-07-08 21:14] patcon commented on #165
cc: @titaniumbones (i thought we had an related issue... but can't find anything!)

[2017-07-08 22:39] patcon commented on #134
I feel like lastpass is working for us, but mostly because of that Dropbox Paper "Services & Deployment" doc, since it tells me who to ask for a lastpass share. (I hope this access list to be more open eventually.)

My understanding is that we're still not using an enterprise features, right?

[2017-07-08 22:40] patcon commented on #134
Perhaps if we're no longer feeling any tensions related to that aspect of password sharing, we could consider closing this out? (then again, maybe we should ask a newly onboarded person about this, as I've long-since gotten the access i needed :) )

[2017-07-10 16:27] dcwalk commented on #154
Oh shoot, this feels like it could be a big block :/

[2017-07-10 16:34] dcwalk commented on #164
This is done! (and Services are updated)

[2017-07-10 16:34] #164 closed, assigned to dcwalk

[2017-07-10 16:43] dcwalk commented on #134
I think we want to check in with @danielballan and @Mr0grog (maybe at the call today?) as there was an original need that this came out of which feels unfulfilled to me

[2017-07-10 16:56] Mr0grog commented on #134
Hmmm, I should probably transition the Postmark stuff to an account under EDGI’s name and give you credentials for it.

With our stuff at Heroku, AWS, and Google Cloud, we can manage access via normal access controls for those platforms, so we don’t need a shared vault for them.

I don’t think there are any other third party accounts currently used by web-monitoring infrastructure right now.

[2017-07-11 16:33] patcon opened #166 "Configure and document IRC bridge for Archivers Slack"
Reticketed from https://github.com/edgi-govdata-archiving/web-monitoring/issues/36#issuecomment-305651869.

@neiljp asked:

There was also [Slack convo](https://archivers.slack.com/archives/C3XS9LPJN/p1496362907790262) back at the start of June.

## To Do

- [x] configure Slack IRC gateway (h/t @b5?)
- [x] document and link from relevant places

cc: @titaniumbones @neiljp @Mr0grog

[2017-07-11 16:33] patcon commented on #166
I think @b5 enabled the gateway earlier, so available here to every Slack member:
https://archivers.slack.com/account/gateways

[2017-07-11 16:51] patcon opened #167 "Update the vulnerable Archivers "slackin" invite app"
There is a vulnerability that can be a huge hassle if spammer discovers our Slack invite form:
http://slackout.github.io/

Basically, it can flood our invites and make us hit an invite quota that will can the form to fail for many real users, in a way that we can't fix without registering a whole new slack and migrating the community :/

cc: @b5

### To Do

- [x] get access to slackin app (on hero

[2017-07-11 16:53] patcon commented on #166
Since webmon onboarding is somewhat authoritative, added details to card here:
https://trello.com/c/WeZ7FLNa/3-join-archivers-slack-chat

It should go elsewhere in high-level static docs though before this is done.

[2017-07-11 16:59] patcon commented on #166
@neiljp curious where you personally think the info in that trello card would best fit, so that it was on your critical path when you came on.

Also, we're all ears if you have any other tips on how to improve the details on that Trello card :)

[2017-07-12 18:30] b5 commented on #167
yo yo just gave you access on heroku @patcon, I have no idea where/if the repo lives on GitHub, maybe `git pull` from the heroku endpoint, feel free to modify / push to that heroku box as necessary.

[2017-07-12 19:28] patcon commented on #154
As per @shapironick's suggestion [on Slack](https://edgi.slack.com/archives/C57QL8M1T/p1499821773562174), added `#data-together` bridge to the hackmd doc linked in original issue. Great idea!

[2017-07-12 21:01] patcon commented on #154
`#community-building` channels are now bridged

[2017-07-12 21:17] lightandluck commented on #163
*Copy/pasted with small edits*

1) Set aside 5min for demos or project overviews. _Demos don't have to happen at every meeting. Maybe when something new comes out or if we have new people at meetings._ A lot of terms and projects are bandied around like Climate Central, Data Together, etc. which not everyone knows about. At least not me! It would be nice to have general introduction/overview of th

[2017-07-12 21:45] patcon opened #168 "Create ical proxy to filter out non-public events"
Would be rad if we could maintain as few calendars as possible, but still share some events in there more freely.

If we created a filter proxy app, we could give it the private ical url, and get a filtered calendar.

This app could do one of two approaches:
1. it could **skip** any events with a tag like `#private` in the description
2. it could **only include** events with a tag like `#public` i

[2017-07-12 21:46] patcon commented on #168
fwiw this is already a thing, but written in .NET, and not quite what we need, and probably not worth patching.
Source: https://github.com/taurit/CalendarProxy
Hosted: https://todoistcalendar.azurewebsites.net/

Tested the service, and it worked for skipping events with keywords, ie. approach (1), but would need a new feature for approach (2) to work. Also, critically, **this app would reveal the

[2017-07-12 21:55] patcon commented on #163
Thanks!

Some resources I was hoping to catch up on:

- [How to run a Community Call](http://www.zythepsary.com/learning-materials/how-to-run-a-community-call/)
- [Mozilla Learning Community Calls](https://learning.mozilla.org/en-US/community/community-call)
- [Mozzilla Science Community Call](https://science.mozilla.org/programs/events/community-call-aug-10-11-et)

[2017-07-12 23:13] patcon commented on #167
Done and done. Turns out the invite app was actually completely different, and I didn't realize until after. but anyhow, we've now got source code here: https://github.com/datatogether/archivers-slack

There are a couple more features:
- active and total user counts
- captcha

Things I did:
- set up google reCAPTCHA
  - sent an invite to co-own the client keys to your personal gmail @b5
- added th

[2017-07-12 23:25] patcon commented on #167
Actually, auto-deploy doesn't seem right here. I don't want to fork their code just to doc that in our fork's readme, but otherwise, it would be unexpected behaviour -- someone could accidentally break things while pushing to github

[2017-07-12 23:25] #167 closed, assigned to patcon

[2017-07-13 03:24] dcwalk commented on #134
Hey @danielballan do you have any thoughts? The takeaway from Monday's call is that we might just work to verify who has access and do some consolidation/regigging of admin accts (Heroku being the big one it seems) but that otherwise things are okay to sit for a month at least before revisiting.

Is there a use case we are not handling at the moment? I think a bunch of the deployment details haven

[2017-07-13 03:26] dcwalk commented on #166
@patcon -- can you also add details to the README in this overview repo? As the trello onboarding is project-based ATM there are still people who are new who don't visit trello.

[2017-07-13 06:46] patcon commented on #154
ok, bridged `#datatogether` with edgi as well!

[2017-07-13 12:35] b5 commented on #167
<img width="447" alt="screen shot 2017-07-12 at 7 28 05 pm" src="https://user-images.githubusercontent.com/1154390/28166469-051d2580-67a6-11e7-8b24-f8866c59046e.png">
🤔

[2017-07-13 13:20] danielballan commented on #134
Yes, I think that's a good way to proceed. The deployment details still change almost weekly. While they'll never be "done," I think they will be more stable once Version 0 is out the door and at that point we should take stock and document.

[2017-07-13 16:52] patcon commented on #154
And GREAT NEWS! Confirmed that an arbitrary number of "incoming webhooks" and "outgoing webhooks" still just count as **two** integrations! So this approach isn't limited!

[2017-07-13 17:05] dcwalk commented on #168
@patcon -- we have a public EDGI calendar: https://envirodatagov.org/events/ (airtable backend) and I know @lourdesvera was excited about using a wordpress event manager as well at some point in the future, that airtable events link exports fairly easily for that... we did some prelim testing in April.

Is there someway that we could just publish to that instead of a new service?
Airtable has an A

[2017-07-13 17:39] patcon commented on #154
Created a little note to link as part of a pinned message in each bridged channel. It's general and not EDGI-specific.
https://hackmd.io/s/BJWOLQBrZ#

The pinned note text I've been using on the EDGI side:

[code]

[2017-07-13 19:38] patcon commented on #168
Ah, I totally forgot about that! Thanks! :)

The calendar I'm wishing we had is one that everyone liberally adds to... I'm not sure airtable feels like that place:

Here's a couple facts informing/weighing on my feelings here:

:mag: EDGI already uses Airtable.
:mag: EDGI already uses Google Calendar.
:mag: Airtable has unlimited users so long as we're in free tier.
:mag: Airtable [pricing](http:/

[2017-07-13 19:51] patcon commented on #168
:mag: Airtable seems to put effort into modern visual look.

[2017-07-13 20:05] patcon commented on #168
Sorry, tl;dr -- calendars feel important to a community, and so I have lots of personal feels on where they could live and how we all interact with them :) would love to chat more fully in a less niche space as this! :heart:

[2017-07-13 20:11] patcon opened #170 "Create a template resource for repos"
reticketed from https://github.com/datatogether/roadmap/issues/16#issuecomment-315141403

h/t @mhucka

did I capture it in the right place?

[2017-07-13 20:15] patcon commented on #170
I had great luck with this tool in the past: https://github.com/audreyr/cookiecutter

Other applications:
- config/docs for heroku review apps
- config/docs of things like https://github.com/probot/configurer, which allows
  - labels
- our pattern of using stub docs (for "amendments"), and linking to fuller EDGI ones like CoC or whatever

[2017-07-13 20:19] patcon commented on #167
confuzzled, I'm seeing it work fine at both http and https.
You using a domain besides https://archivers-slack.herokuapp.com/ ?

![slack invite form captcha working](https://imgur.com/caVauFK.png)

[2017-07-13 21:20] b5 commented on #167
oh, there is also url that points to this same thing: http://slack.archivers.space, must be the issue

[2017-07-13 21:32] patcon opened #171 "Auto-backup onboarding trellos"
:mag: trello has a [json export feature](https://i.imgur.com/bcdmy86.png)
:heart: trello feels great for onboarding
:mag: static docs can be version controlled and managed via pull request
:mag: trello doesn't do change management very well
:mag: difficult to follow when someone changes content of trello

Would be awesome if we ran a nightly task to copy the public trello json output for our board

[2017-07-13 21:47] patcon commented on #167
ah cool! added that one too. tooltip says it could take up to 30 min to take affect. thx!

[2017-07-13 23:25] mhucka commented on #170
I've seen CookieCutter before but never tried it. Might work for this purpose.

[2017-07-14 23:17] dcwalk commented on #163
@patcon -- do you have a sense on when you are thinking of moving on this? I think starting to trial and get feedback on different formats could be great! (Especially with the support of other regular project calls and the archiving call)

(edit: typos :()

[2017-07-15 17:07] dcwalk commented on #134
Okay, I'm closing this because we've adopted a pw manager. We can ticket out the other issues!

[2017-07-15 17:07] #134 closed, assigned to nobody

[2017-07-15 21:50] dcwalk commented on #144
Just an update that this has been ongoing, with a tentative mid-July deadline for the first vision docs

[2017-07-17 18:05] dcwalk commented on #3
I'm going to close this as won't do, as the scope of this question isn't a fit with the current way we are orchestrating projects. Would assume questions about crawlers to take place in the ambit of Data Together (https://github.com/datatogether/roadmap/issues), if someone thinks this should be revisited let me know!

[2017-07-17 18:05] #3 closed, assigned to nobody

[2017-07-17 18:06] dcwalk commented on #22
I'm going to close this as won't do, as the scope of this question isn't a fit with the current way we are orchestrating projects. Would assume questions about crawlers to take place in the ambit of Data Together (https://github.com/datatogether/roadmap/issues), if someone thinks this should be revisited let me know!

[2017-07-17 18:06] #22 closed, assigned to nobody

[2017-07-17 18:09] dcwalk commented on #145
ping @patcon -- I think this has happened (and we've seen some initial fruits of that outreach!)

Unless I hear otherwise I'm going to close this issue as done after 48 hours so say by Thurs, July 20 (and specific future plans can be ticketed out)?

[2017-07-17 18:11] dcwalk commented on #166
Just looking at the checklist @patcon -- what other "relevant places" should we be documenting IRC gateway in for now?

[2017-07-17 18:13] dcwalk commented on #150
@patcon just circling back on this -- what is the status of the todos, are there any blockers? I'm just realizing we've created a whole other area of EDGI projects that are this support infra structure and I'm not entirely sure the status of all these projects. What might be a good way to track 'em?

[2017-07-17 18:14] dcwalk commented on #153
Is this issue (and the other demo one #152) pertaining to _just_ demoing the web monitoring onboarding workflow?

Maybe we can schedule these for next weeks meetings if you feel like that timing works?

[2017-07-17 18:15] dcwalk commented on #152
Is this issue (and the other demo one #153) pertaining to _just_ demoing the web monitoring onboarding workflow?

Maybe we can schedule these for next weeks meetings if you feel like that timing works?

[2017-07-17 18:17] dcwalk commented on #154
@patcon I feel like we are close to moving out of "experimentation" phase on this, what are the remaining todos to get us there? I'm happy to pitch in, but not sure the status!

[2017-07-18 15:57] dcwalk commented on #154
@patcon, it looks like the bridge is one way for `#datatogether`:

EDGI --> Archivers working
Archivers --> EDGI is not (both my messages and @machawk1's not heading back)

[2017-07-18 16:37] dcwalk commented on #154
whoa -- plot thickens! The Data Together bridge is wire-crossed with `#dev-webmonitoring`

So, what I'm seeing is:
EDGI `#datatogether` --> Archivers `#datatogether`
Archivers `#dev-webmonitoring` --> EDGI `#datatogether`
EDGI `#web_monitoring` --> Archivers `#dev-webmonitoring`

[2017-07-18 16:40] Mr0grog commented on #154
Uhoh. I’ve been signed out of EDGI `#web_monitoring` but now that I’m checking I’m seeing the same. Wonder if this has been the source of some miscommunications.

[2017-07-18 16:43] dcwalk commented on #154
@Mr0grog -- I think this may have started when the Data Together bridge was set up, so 5 days ago? (per @patcon's comment above)

I am going into a meeting but can crash through this aft if @patcon doesn't get to it first 🙏 🙏

[2017-07-19 15:46] dcwalk commented on #154
Update:

I believe I have corrected the cross-channel messages, which were a result of a missing outgoing webhook on the Archivers side. In addition the `#dev-webmonitoring` webhook token was reused in the config var for that `PORTAL` causing some strange-ish loop with messages.

Just did a very basic test and it appears to be working...? Would welcome confirmation from @patcon when they get the c

[2017-07-19 17:03] dcwalk commented on #135
I've run through and tried to confirm details, add notes in the doc. I think a little be more kicking the ball down the course and we'll have verified what services we're using!

[2017-07-19 19:05] patcon opened #172 "Decide on some default labels for probot configurer plugin"
I've added the ["probot: configurer" plugin](https://github.com/apps/configurer) to a few repos -- this basically allows repo config to be set from a yaml file in code, ie. by anyone who can submit a PR :)

https://github.com/edgi-govdata-archiving/edgi-hubot/pull/27

I've been using it for repo descriptions/urls, but we can also use it for labels.

The one label I would 100% use across all our re

[2017-07-19 19:48] patcon opened #173 "Implement hackfoldr backup"
Would be nice to ensure we have backups of hackfoldrs that we might be using for project work. Hackfoldr keeps a revision history via ethercalc, but would be nice to keep it in git to make it more transparent.

g0v should have something we can steal, as they definitely had this concern as well.

Related: #149

[2017-07-19 21:12] dcwalk commented on #172
1. I'd suggest `first-timer` mostly because it is shorter and we've already implemented across a few repos.
I know a couple projects use a range of labels so I don't see a clear more popular one? (e.g., http://up-for-grabs.net/ or http://www.firsttimersonly.com/)

2. Just keen on stars as a difficulty indicator.

Just to zoom out a bit: what motivated the move to probot?

[2017-07-19 22:08] dcwalk commented on #139
Just want to link this to convo in https://github.com/edgi-govdata-archiving/edgi-hubot/issues/17 about delaying deployment. Seems like with bridging work this might be less urgent.

[2017-07-24 15:05] #145 closed, assigned to nobody

[2017-07-31 17:07] dcwalk commented on #144
The Data Together site is up! http://datatogether.org/
@flyingzumwalt is looking at the final steps to get this over the line.

[2017-07-31 17:16] dcwalk commented on #143
Could I check in on the status of this? @patcon have you looked at those other checklist items and/or can I facilitate anything?

[2017-07-31 17:31] dcwalk commented on #118
EDGI has moved on and this is no longer a goal, recent Data Together conversations have picked up around test suites, etc... as well as existing academic research. In addition, #110 covers concerns about the postmortem.

Closing as wontdo

[2017-07-31 17:31] #118 closed, assigned to nobody

[2017-07-31 17:39] dcwalk commented on #166
ping @patcon this seems like a small-sized issue and I'd love to close it out, but not sure where else you want to document?

[2017-07-31 17:41] dcwalk commented on #153
Hey @patcon ping! Can you update here and on #152 about status? This seems like a small-sized issue I'd love to move forward?

[2017-07-31 17:55] dcwalk commented on #130
Hey @patcon just wanted to check in on this... it seems like with the joint iipc list for web archiving that awesome list is probably something we want to merge with.

Revisiting this issue however, I feel like there are 2 different things you are addressing here. The first half being far more about onboarding. Do the current round of trello onboarding experiments obviate the need for a seperate t

[2017-07-31 18:08] dcwalk commented on #154
Okay, I'm going to close this for now, we _are_ experimenting, and things that need to be resolved should be ticketed as necessary

[2017-07-31 18:08] #154 closed, assigned to patcon

[2017-07-31 18:09] dcwalk commented on #150
ping @patcon

[2017-07-31 18:10] dcwalk commented on #156
Hey @patcon can we reformulate this issue (title) so it can be resolved? Not sure what the next steps here are, if any.

[2017-07-31 18:12] dcwalk commented on #160
@patcon can we connect on this? Seems important :)

[2017-07-31 18:15] dcwalk commented on #139
ping @patcon is this something we can close as `wontdo`?

[2017-07-31 18:21] dcwalk opened #174 "Clean up issues and setup cycle milestones for fall"
Per July 10 [Archiving/Tech Working Group meeting](https://hackmd.io/MwDgRgrAJg7AnCAtANlTRAWEUCGjtzArARgDGFAZgKYBMAjDkA==#), we are going to:

- [x] clean up current issue labels in overview repo
- [x] review and close out issues that no longer reflect current projects/ways of working
- [x] add milestones to begin to experiment with tracking planning/goal cycles

In addition I'd like to
- [x] ping

[2017-07-31 18:22] dcwalk commented on #174
Hey, this might have been a noisy day for @titaniumbones and @patcon -- if so here is why!

[2017-07-31 18:26] dcwalk commented on #174
Issues that may be resolved, potentially `wontdo` or unclear about status/next step:
- ~#139~
- ~#150~
- ~#156~
- ~#130~
- #166
- #143

[2017-08-01 03:19] dcwalk opened #175 "Create "where's the data" landing/search page"
From @titaniumbones in #121:

Our current status is:
- The "Archiving" EDGI page reflects part of this: https://envirodatagov.org/archiving/
- We have a nascent way to visualize the "coverage" in: https://alpha.archivers.space/coverage

In (old) convos on this a couple of thoughts were tossed around including
- those "help me pick..." one page sites (e.g. https://takenet.github.io/ ; whatthef*shou

[2017-08-01 03:20] dcwalk commented on #121
I'm going to close this issue for now, as I think we've updated this on our website.

The last idea: of a search/chatbot is awesome, but out of scope and so deserves its own issue, reticketed: #175!

[2017-08-01 03:20] #121 closed, assigned to patcon, dcwalk, lourdesvera

[2017-08-01 04:34] dcwalk commented on #155
First pass review uncovered the following repos to further address:
- [x] **Website Monitoring**
    - [x] https://github.com/edgi-govdata-archiving/web-monitoring-differ (description?)
    - [x] https://github.com/edgi-govdata-archiving/go-calc-diff (rename? description?)
- [x] **Website**
    - [x] https://github.com/edgi-govdata-archiving/edgi-website (readme? contrib? description? rename?)
- [

[2017-08-01 11:34] dcwalk commented on #155
Hey @b5 --

Just going through and trying to clean up our no longer used repos, close out issues, update descriptions, etc...

For the Archivers space stuff, would it be alright if I:
1. prepend `archivers-` [`zip-starter`](https://github.com/edgi-govdata-archiving/zip-starter), [`s3-upload-server`](https://github.com/edgi-govdata-archiving/s3-upload-server), and [`harvesting-tools`](https://githu

[2017-08-01 17:57] dcwalk opened #176 "Document web monitoring project deployment"
As a carry-over from #135, we need to revisit and update our [Services & Deployment Documentation](https://paper.dropbox.com/doc/Services-Deployment-pTsHUVIb2JuFHo8KVfpq2) to reflect the current state of the project deployment.

Original context:

[2017-08-01 17:58] dcwalk commented on #135
I've done another pass, we decided to defer documenting web monitoring deployment until Fall, so I'm going to reticket that as #176 and add to our Fall Milestone (beginning)!

[2017-08-01 17:58] #135 closed, assigned to nobody

[2017-08-01 18:12] patcon commented on #139
Making as `wontdo` pending https://github.com/edgi-govdata-archiving/edgi-hubot/issues/17#issuecomment-313881100

h/t @dcwalk

[2017-08-01 18:12] #139 closed, assigned to patcon

[2017-08-01 20:13] b5 commented on #155
I think all of the above sounds like a great idea! Of all of them, the `s3-upload-server` has the best chance of being useful in outside contexts IMHO.

But yes, you have my fullest support in doing all 4, let me know if you need a hand!

[2017-08-01 23:34] dcwalk commented on #155
Okay! I'll do 1-3.

Do you have a sense of a place for that `dataset-registries` convo? It was interesting! But maybe at this point mostly historical?

[2017-08-03 16:04] dcwalk opened #178 "Finalize first iteration of Tech/Archiving "How we work" document"
Coming out of a few things, we've been working on finalizing out "How we work" document which covers:

- How we work
- Membership
- Where we work
- Our Meetings
- Partnerships and External Outreach

Draft here: https://docs.google.com/document/d/1LgeB_2SBdxecKlKtDjH1scuOrCl-O0pAcly-Xy9Plr0/edit#heading=h.jkj1nyib8wf1

We are editing using the EDGI Protocol recommendations

[2017-08-03 16:06] dcwalk commented on #178
Trying to figure out justin's gh name 😅 because he was willing to add in some stuff around roles!

edit: ping @jschell42

[2017-08-03 18:07] dcwalk opened #179 "Improve ability for first time contributors to get involved"
See conversation in #172 about standard labels. Being more accessible to new contributors has been brought up in slack a few times now, but winds up backburnered.

I think we should make a first attempt at this, proposing the following to mark complete:
- [ ] Add first-timer labels to active project repos and assign *at least* 1 issue
  * [x] [overview](https://github.com/edgi-govdata-archiving/ov

[2017-08-03 20:25] dcwalk commented on #155
I transferred `dataset-registries` to Data Together org: https://github.com/datatogether/dataset-registries

[2017-08-05 13:31] #155 closed, assigned to dcwalk

[2017-08-07 20:48] patcon opened #182 "Create "research group" on littlesis.org"
Reminded about this by convo in https://github.com/edgi-govdata-archiving/100days/issues/43

[Research groups](https://littlesis.org/groups) allow LittleSis analysts to work together on research projects.

This is a manual process, I've already submitted, but they emailed back asking for more details for the "profile":

[2017-08-07 20:59] patcon commented on #182
Thinking this:

**URL Slug:** envirodatagov
**Tagline:** (from [EDGI front page](https://envirodatagov.org))
An international network of academics and non-profits addressing potential threats to federal environmental and energy policy.
**Description:** (merged two paragraphs from [EDGI About page](https://envirodatagov.org/about/))
The Environmental Data & Governance Initiative (EDGI) is an intern

[2017-08-07 21:49] dcwalk commented on #119
Current status as of 2017-08-07:

- ~300 in archivers.space as URLs to research
- crawling from datatogether informing https://github.com/datatogether/coverage
- see #120 for discussion of how coverage is being calculated/generated

[2017-08-07 23:26] patcon opened #183 "Add patcon SSH key to Compute Canada"
yeow! ssh key: https://github.com/patcon.keys

This is the minimal that I would need to move my Jenkins instance from my personal DigitalOcean account into an EDGI-controlled environment.

This is related to https://github.com/edgi-govdata-archiving/overview/issues/149

[2017-08-07 23:36] patcon opened #184 "Add patcon account to Compute Canada"
Bonus points above #183

As a contractor, patcon now has a UTORid card: connol31

Caveat: might only be valid until September 1st. Assuming they're on the ball with removing access (which they may not be), then perhaps it's not worth the trouble of setting this up.

[2017-08-08 02:12] dcwalk commented on #160
My card is on this now, we'll regroup in September and see if it could/should be adjusted. Closing!

[2017-08-08 02:12] #160 closed, assigned to nobody

[2017-08-08 17:44] patcon commented on #149
Experimented with RunDeck and Jenkins. Leaning toward Jenkins only because I have experience using it, and RunDeck is new to me.

This issue now waiting on https://github.com/edgi-govdata-archiving/overview/issues/183 cc @dcwalk

[2017-08-08 18:39] dcwalk opened #185 "GSoC Phase III (August) Admin Tasks"
Phase I & II of GSoC is done, TODOs for Phase III (July 25 - Aug 29):

- [x] homestretch meetings (completed Aug 7)
  - [x] data visualization
  - [x] web monitoring
- [x] EDGI weekly meeting presentations **AUG 18**
- ~add community member insight to GSoC page **AUG 21**~
- [x] final blog post from GSoC Students **AUG 25**
  - [x] added as final update on GSoC Page from Students **AUG 25**
- [x]

[2017-08-08 18:45] dcwalk commented on #174
Hey @patcon this is the collector github issue I was talking about!

[2017-08-08 19:03] patcon commented on #149
Currently have my testing instance set up with a self-signed cert on digital ocean: https://104.236.121.54/

Currently, jobs are hidden because we have some sensitive credentials in plaintext parameter fields, and so they're not screened from job run output. Small tweaks will make it so that script runs can be more transparent, if we choose that approach (ie. no login needed)

[2017-08-08 20:54] patcon commented on #172
I'll open a new ticket explicitly for probot:settings plugin discussion, because you're totally right that it didn't get convo :)

I see that this repo now has priority-star labels, so that seems dealt with

Clear success criteria in #179, so that's better than this one.

In light of above, closing! :heart:

[2017-08-08 20:54] #172 closed, assigned to nobody

[2017-08-08 21:03] dcwalk commented on #179
There are some other "newcomer friendly" OS project registries but I've lost 'em recently. I believe [OpenHatch](https://openhatch.org/search/) is no longer active.

Anyone else have ones in mind?

[2017-08-08 21:08] dcwalk commented on #179
And a link-dump:
- https://yourfirstpr.github.io/
- https://medium.com/@kentcdodds/first-timers-only-78281ea47455
- https://github.com/MunGell/awesome-for-beginners
- https://manishearth.github.io/blog/2016/01/03/making-your-open-source-project-newcomer-friendly/
- http://makeapullrequest.com/
- http://www.codenewbie.org/

[2017-08-08 21:28] patcon opened #186 "Add probot:settings plugin to EDGI repos"
Re-ticketed from https://github.com/edgi-govdata-archiving/overview/issues/172#issuecomment-316518948 (previous ticket was unfocussed)

Some relevant facts and background:

:mag: "Probot" is an in-development project of GitHub staff.
:mag: Probot's intended to be like an extension layer for automating GitHub actions in a safe, scoped fashion. (eg. a plugin can ask for access to a single file)
:mag

[2017-08-08 21:32] patcon commented on #179
Just to say it in the right place, I do lean toward `first-timer-only`, as I think it's more self-documenting of intention, but happy to kick that convo to a later time in the interest of not bikeshedding (because everything else is very actionable!)

[2017-08-10 14:10] patcon commented on #163
I'm planning to cap today's Community Call by leading a final discussion to workshop the community call format -- I feel I need a little more feedback on feelings before putting forward a proposal, as it's potentially quite a big change.

For posterity, here is the deeplink to the YouTube video from last month where we had the first convo: https://www.youtube.com/watch?v=wEvcC46pl-0#t=25m35s

Here

[2017-08-10 15:43] patcon commented on #150
thanks! updated checklist to remove non critical things. added some links to issues where the work can be tracked (that might still be worth doing in the future, just not now) :)

[2017-08-10 18:19] dcwalk commented on #184
I looked into this and I can't add you to any accounts.

You have to complete the steps to get you added, not sure if your are eligible:
1. https://ccdb.computecanada.ca/ "Register"
2. apply to be added to a project (Michelle is the only one who can PI)
3. if request is approved, apply for access to East Grid: https://east.cloud.computecanada.ca/
4. have that acct linked with the project ID

This

[2017-08-10 18:19] #184 closed, assigned to patcon

[2017-08-10 21:04] b5 commented on #110
Is it fair to say we've had a proper discussion on the technical drawbacks of archivers 1.0? Should we try to assemble this into a cohesive doc?

This one gets us part of the way there:
https://github.com/datatogether/roadmap/blob/master/reference/workflow_changes.md

[2017-08-10 21:30] patcon opened #187 "Pin disclaimer to message in each bridged channel"
Related: https://github.com/edgi-govdata-archiving/overview/issues/154

Slack context: https://edgi.slack.com/archives/C4H23J40J/p1502400481729122?thread_ts=1502381075.026913&cid=C4H23J40J

For ease of updating, I have to text in one place in a hackmd notepad: https://hackmd.io/s/BJWOLQBrZ

# To Do

- [x] Add disclaimer link in pinned post to all channels
- [x] Create ticket upstream to track this

[2017-08-10 23:15] dcwalk commented on #187
In addition to Pinning @patcon, can we edit the purpose & topic? I find that I almost never see the Pinned messages until much later when joining a channel, some prompt in the description would help

[2017-08-11 00:03] patcon opened #188 "Make Zoom event listings more accessible to non-admins"
Currently, Zoom calls must be manually added the the EDGI organizational calendar. This is prone to being forgotten about, for many valid reasons.

There was some conversation around having halpy's call creation command (`zoom me`), auto-add things to calendar, but that's a little messy.

There might be a more unixy approach: Write a tiny heroku app that uses the Zoom API key to rewrite event list

[2017-08-11 00:07] Mr0grog commented on #188
Your simple approach of having an ical feed that is just the result of calling out to Zoom’s API sounds great to me!

[2017-08-11 21:39] patcon commented on #174
Do you think `stalled` label can be applied to `blocked` issues? Should there be a distinction?

[2017-08-11 21:51] patcon commented on #156
Updated [UI demo card](https://trello.com/c/2zugEagn/9-review-analyst-training-video) to address lina's second comment.

Previous version:

Current version:

Related: https://github.com/edgi-govdata-archiving/overview/issues/171 (re: manually documenting trello changes.)

[2017-08-11 21:53] #156 closed, assigned to nobody

[2017-08-12 02:12] mhucka opened #190 "Bad link in CONTRIBUTING.md"
The file has the text "We have project guidelines for all of the projects hosted in our GitHub Organization", in which "project guidelines" is a link, but the link destination does not exist and clicking on the link produces a code 404.

[2017-08-12 23:01] patcon commented on #130
You're totally right that the mentioning above of both the spreadsheet/awesomelist and the trello board was conflating purposes.

1. spreadsheet/awesomelist: things we're aware of (perhaps no intention to ever use)
2. trello: for communicating tools we're investigating/using/abandonning

I think they could go a long way to helping with tool confusion -- as in, if we use a tool, it should be explai

[2017-08-12 23:01] #130 closed, assigned to patcon

[2017-08-13 12:25] dcwalk commented on #174
Hmmmm, I think they are distinct, and don't have strong feelings either way about adding another label if that feels more descriptive!

That said the outcome (no ability to move forward) is the same, which I think is the status I'm more concerned in capturing! I'd understand that with two or one labels tho.

[2017-08-13 12:49] dcwalk commented on #186
I've been reading through the docs and this one line sticks out:

Given that EDGI has been sort of a big tent GitHub org this did make me nervous, or second guess all of our permissioning/team settings. I'm thinking in particular about our default setting and lieutenants teams as needing review if we go ahead.

Also wondering about whether/how this will gracefully fail?
See: https://github.com/edg

[2017-08-13 12:51] dcwalk commented on #163
Just to flag that here is where we codified the process: https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/community_calls.md

So that should be updated with the new format :)

[2017-08-13 12:56] dcwalk commented on #188
At first I was wondering if iCal would lead to standing calls not getting "upstreamed" to the org calendar, but now I think a seperate feed makes the most sense!

Assuming this would just be for the EDGI Zoom acct, as it is the only one halpy interfaces with?

[2017-08-13 13:23] dcwalk commented on #162
Yay, done!

https://envirodatagov.org/gsoc/ has mid project updates

[2017-08-13 13:23] #162 closed, assigned to dcwalk

[2017-08-13 15:29] dcwalk commented on #178
This has been done! We'll revisit in September hopefully with some new eyes 👁

[2017-08-13 15:29] #178 closed, assigned to dcwalk

[2017-08-14 18:33] patcon opened #192 "Create a visual EDGI timeline"
I usually spend the first 20 minutes of a hacknight intro explaining the history of EDGI / Guerrilla Archiving. It always seems to do well to ground the later specifics of projects.

As it stands, this quick fly-through only seems possible when an EDGI member is available in-person. I wonder whether we might benefit from having some visual timeline for new people (or media) to cruise.

## Resource

[2017-08-14 19:19] dcwalk commented on #152
Add as a step to #143 demoing to us!

[2017-08-14 19:24] dcwalk commented on #166
We discovered this is done! I'm closing 🎉

[2017-08-14 19:24] #166 closed, assigned to patcon

[2017-08-14 19:27] dcwalk commented on #27
Recommendation from @patcon: re-ticket longer issues when scope changes. Aim to talk about about in Sept 11, meeting.

@jschell42 offered to assist

[2017-08-14 19:41] dcwalk commented on #119
Reviewed this issue at Aug 14 archiving call:

_Note: This is related to Doris Duke deliverables (need an issue to track that)_

TODO:
- [ ] Doris Duke in Datatogether @b5 (ticketed to #194)
- [ ] Refresh our machine-readable list of who has what (coverage repos) opportunity for peer work? (@b5 @patcon) (ticketed to #196)
- [ ] Review intersection of archives.space and datatogether.org ?? (wait on

[2017-08-14 20:27] dcwalk commented on #174
This has been done! The conversation around `stalled` v `blocked` can be moved to a new issue (reticketing!)

[2017-08-14 20:27] #174 closed, assigned to dcwalk

[2017-08-14 20:33] dcwalk opened #193 "Create a core set of labels across projects"
It would be good to have a core set of labels that we document and (attempt to) use in the same way across all our active EDGI projects (and Data Together potentially too!).

Relevant convos are #174:

and

It was raised during the Aug 14 Archiving/Tech WG meeting.

---

TODOs:
- [x] Have shared conversation to generate proposed set of labels
- [x] Decide on implementation (a strong contender is [

[2017-08-14 21:32] #190 closed, assigned to dcwalk

[2017-08-14 23:18] patcon commented on #27
Can anyone add context on the comment about this becoming the "Stanford" collaboration issue? Is there any link to context?

[2017-08-15 13:20] dcwalk commented on #27
Prior conversation exists very early in `#archiving_techne`, but mostly happened in person and in emails.

Here is the IPFS perspective: https://github.com/ipfs/archives/milestone/1 and https://waffle.io/ipfs/archives?milestone=Data.gov%20(aka%20300%20TB%20Challenge)

[2017-08-15 17:20] dcwalk opened #194 "Archive pertinent datasets for Doris Duke"
Spinning out of #119 it looks like we don't have a place where we are tracking out progress/intention to complete archiving datasets as part of our work around the Doris Duke grant.

There are previous [in-Slack](https://edgi.slack.com/archives/C32V5KUBA/p1497535812665513?thread_ts=1497085512.418775&cid=C32V5KUBA) conversations around this.

[2017-08-15 17:23] dcwalk opened #195 "Research integrating our coverage map with Project Azimuth, Climate Mirror, and IA"
From #119, and Aug 14 conversation we talked about:

as part of wrapping out our coverage/downloading of the EPA site.

[2017-08-15 17:25] dcwalk opened #196 "Update and script our list of sources for Archiving Coverage Mapping"
From #119 and meeting on Aug 14 we indicated our intention to:

[2017-08-15 17:28] dcwalk opened #197 "Review EPA data in archivers.space against Data Together node"
From #119 and meeting on Aug 14 we indicated our intention to:

This requires #196 be completed first.

[2017-08-15 17:53] dcwalk commented on #120
@b5 provided an update [in Slack](https://archivers.slack.com/archives/C534A6NGZ/p1502818894000401) --

Crawling JSON-LD and review of post-crawl report hasn't happened. This isn't stalled per se, but the goal is to get Data Together crawler closer to the WARC spec before crawling.

@b5 will get a milestone & issues for WARC parity going, and I will reticket appropriate tasks from this here. ETA *

[2017-08-15 22:39] patcon commented on #192
TimelineJS sample: https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1R6yfJwNZ1F5AOkec2Lfax1hwzZlpEZTPDUGp_vELwgk&font=Default&lang=en&initial_zoom=2&height=650

Source spreadsheet: https://docs.google.com/spreadsheets/d/1R6yfJwNZ1F5AOkec2Lfax1hwzZlpEZTPDUGp_vELwgk/edit?usp=sharing (current link is editable for simplicity)

[2017-08-16 09:22] patcon opened #198 "Wind down issue queues without disappearing prior issues"
Related to https://github.com/datatogether/archivertools/issues/5#issuecomment-320113956

["Probot: Workflow" plugin](https://github.com/probot/workflow) could be enabled across the github org, and dropping a specific custom `.probot.js` file could:

1. Auto-respond saying that the repository has been deprecated.
2. Close the issue.
3. Lock it?

Alternatively, we could decide not to disable issue

[2017-08-16 11:25] dcwalk commented on #198
@patcon -- I think that might have been a one off problem the day that github was choking on pretty much every request... the issue was merely closed: https://github.com/edgi-govdata-archiving/archivers-harvesting-tools/issues/8

[2017-08-17 16:08] dcwalk opened #199 "Use Data Together Sentry to crawl EPA data.json"
Picking up from #119 and #120, in order to further identify datasets the EPA has both to:
1) Map the amount we've downloaded ("coverage"), and
2) Download those we don't already have

... we want to use Data Together's sentry to crawl the EPA's Environmental Dataset Gateway [data.json](https://edg.epa.gov/data.json) JSON-LD. In order to get there, @b5 wants to get sentry to feature parity with the

[2017-08-27 16:46] dcwalk commented on #144
We held another vision doc session on Aug 25, with the takeaway that we'll aim to share some individual work and tighten together from there (with asking for more feedback from emerging partners) by Aug 27 and Aug 29

[2017-08-27 16:48] dcwalk opened #200 "Attend Data Together Partners Meeting on Aug 29"
Taking advantage of many people being in Boston, we are planning a meeting to hear partner updates, define our partnership model, and begin to trace out project governance needs longer term.

[2017-09-03 22:59] dcwalk commented on #185
Almost done! Just gotta cross-post the blog posts and update the GSoC page :)

[2017-09-03 22:59] patcon commented on #186
Looking through the [settings plugin docs](https://github.com/apps/settings), I'm not seeing permission to do anything scarier than _pushing to master_, which by definition we already give them. It's just toggling non-destructive settings as far as I can tell (ie. no delete or transfer permissions). Turning off "branch protection" could be harmful, but we don't use that anyhow.

But I did some thi

[2017-09-03 22:59] dcwalk commented on #194
@b5 can you give an update on this?

[2017-09-05 02:56] patcon commented on #184
Yeesh. How did I miss this?

Currently awaiting information for registration from @murphyofglad via Slack: https://archivers.slack.com/archives/C5E8PS7U2/p1504578201000100

[2017-09-05 12:09] dcwalk commented on #200
This was done! We have todos flowing from the meeting captured here: https://github.com/datatogether/datatogether

[2017-09-05 12:09] #200 closed, assigned to titaniumbones, dcwalk

[2017-09-05 12:10] dcwalk commented on #196
Hey @patcon and @b5 how is this going? We still in line for next week as a target?

[2017-09-05 12:11] dcwalk commented on #163
Hey @patcon how are things going with this? any next steps I can assist with?

[2017-09-05 15:24] dcwalk commented on #144
Here is the issue on Data Together for tracking this: https://github.com/datatogether/datatogether/issues/13

[2017-09-05 19:10] dcwalk commented on #186
Hm, I'm not sure about whether rolling it back is worth it, but it does seem like a slow roll out (aka pause for awhile before adding to more) would make sense.

I've won't fixed this for now and am leaving open.

[2017-09-11 01:52] dcwalk commented on #144
I'm gonna say we've done that! Our drafts are in, we've participated throughout the process, and things are moving toward the next step :3

[2017-09-11 01:52] #144 closed, assigned to titaniumbones

[2017-09-11 17:34] patcon commented on #158
Some resources I've been learning with:

- http://tech.trello.com/power-up-tutorial-part-two/
- http://tech.trello.com/power-up-tutorial-part-three/ (adds third-party auth)
- https://gitlab.com/gitlab-org/trello-power-up/ (an example of a powerup doing third-party auth in wild)
- https://larry-price.com/blog/2014/03/18/connecting-to-the-trello-api/
- https://github.com/Droplr/trello-power-up (powe

[2017-09-11 23:53] b5 commented on #194
Update time!

After examining the list, I think for the of a number of these urls we should focus on building collections. A trivial example uses this url from the listed EPA sheet: https://www.epa.gov/endangered-species/biological-evaluation-chapters-chlorpyrifos-esa-assessment
which, after archiving & adding as a collection, will look like this: https://archivers.co/collections/6cfbb25c-3ff1-456

[2017-09-12 01:22] dcwalk commented on #153
Based on the [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), I'm marking this as wontdo for now, and we can refile an issue around demoing onboarding as it moves forward.

[2017-09-12 01:22] #153 closed, assigned to nobody

[2017-09-12 01:22] dcwalk commented on #152
Based on the [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), I'm marking this as wontdo for now, and we can refile an issue around demoing onboarding as it moves forward.

[2017-09-12 01:22] #152 closed, assigned to nobody

[2017-09-12 01:24] dcwalk commented on #143
Based on the [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), it sounds like there are still things that could be done, and this issue needs to be updated. especially for access.

@patcon does that match your understanding?

[2017-09-12 01:24] dcwalk commented on #163
Based on the [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), it sounds like there are still things that need to be formalized and this issue needs to be updated.

@patcon does that match your understanding?

[2017-09-12 01:27] dcwalk commented on #196
During our [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), this was indicated as an ongoing and important priority. Moving to the [Fall Work Cycle](https://github.com/edgi-govdata-archiving/overview/milestone/2) milestone

[2017-09-12 01:27] dcwalk commented on #199
During our [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), this was indicated as an ongoing and important priority. Moving to the [Fall Work Cycle](https://github.com/edgi-govdata-archiving/overview/milestone/2) milestone

[2017-09-12 01:27] dcwalk commented on #194
During our [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view), this was indicated as an ongoing and important priority. Moving to the [Fall Work Cycle](https://github.com/edgi-govdata-archiving/overview/milestone/2) milestone

[2017-09-12 01:28] jeffreyliu commented on #194
I'm free Thursday before/after community call and yes, this does sound like
it'd be a good fit for the archivertools package and also would be cool to
learn go from this. I'll create an issue in that repo for the porting work.

On Mon, Sep 11, 2017 at 7:53 PM b5 <notifications@github.com> wrote:

[2017-09-12 01:29] dcwalk commented on #120
Once #199 and #196 are resolved, I think this is good to close. In the interim, moving to the [Fall Work Cycle](https://github.com/edgi-govdata-archiving/overview/milestone/2) milestone based on our [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view)...as this was indicated as an ongoing and important priority.

[2017-09-12 01:30] dcwalk commented on #119
Once #194, #196, #197, and #199 (maybe #195) are closed this can be resolved.

In the interim, moving to the [Fall Work Cycle](https://github.com/edgi-govdata-archiving/overview/milestone/2) milestone based on our [September 11 Archiving call](https://hackmd.io/GwFgJgRgrGCMCGBaAxgU1WRIDMFP1gA4B2FeCEAgTm3mAAZgg===?view)...as this was indicated as an ongoing and important priority.

[2017-09-15 04:45] dcwalk commented on #185
Done!!! Posts up

[2017-09-15 04:45] #185 closed, assigned to dcwalk

[2017-09-20 15:55] patcon commented on #154
FYI, slack is now beta-testing an official feature called Shared Channels: https://slackhq.com/introducing-shared-channels-where-you-can-work-with-anyone-in-slack-8c5d2a943f57

The beta is only available to paid teams, but worth watching in case it's useful to us later.

[2017-10-10 21:53] patcon opened #206 "Rename `mozsprint` label to `Hacktoberfest`"
Slack context: https://archivers.slack.com/archives/C3XS9LPJN/p1506974925000248

[Hacktoberfest](https://hacktoberfest.digitalocean.com/) could definitely do with more thought, but at the very least, we should rename our labels and catch some folks who are searching github anyhow.

## Action Items

- rename for the following repos
  - [x] web-monitoring-db
  - [x] web-monitoring
  - [x] web-monito

[2017-10-10 21:53] #206 closed, assigned to nobody

[2017-10-10 21:58] patcon commented on #206
Related: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/154

[2017-10-11 01:37] Mr0grog commented on #206
🙌

[2018-01-08 15:19] dcwalk commented on #194
Okay, so this happened, closing!

[2018-01-08 15:19] #194 closed, assigned to b5

[2018-01-08 15:22] dcwalk commented on #27
Okay, closing this per conversations above, will ticket new bits for upcoming work within the "EDGI" scope

[2018-01-08 15:22] #27 closed, assigned to nobody

[2018-01-08 15:23] dcwalk commented on #176
Hey @weatherpattern maybe this is something we discuss at an upcoming call, but was reviewing issues and wanted to flag this as an issue within your purview!

[2018-01-08 15:24] dcwalk commented on #143
Hey @patcon just hoping to get a brain dump on this, as I know you've mentioned shifting your focus. Can you maybe summarize what you see as left before we can mark this issue as complete?

[2018-01-08 15:25] dcwalk commented on #163
Hey @patcon just hoping to get a brain dump on this, as I know you've mentioned shifting your focus. Can you maybe summarize what you see as left before we can mark this issue as complete?

[2018-01-21 09:43] patcon commented on #149
TravisCI, a free continuous integration service for open source, now offers [scheduled (cron) tasks](https://blog.travis-ci.com/2016-12-06-the-crons-are-here). This means that we can lean on this free (and already maintained) infrastructure to run our youtube upload script daily.

* no more need to host a jenkins instance
* we currently run every 15 minutes, but would instead run daily on travis
*

[2018-01-21 11:08] patcon commented on #149
Going to close this as we can now use travis with no maintenance burden:
https://github.com/edgi-govdata-archiving/edgi-scripts#usage-via-travisci

[2018-01-21 23:35] dcwalk commented on #149
Nice @patcon ! I'm not sure where to best place this, but @danielballan brought up on slack that we already have CircleCI. It looks like they have some sort of workflow scheduling capability: https://support.circleci.com/hc/en-us/articles/115015481128-Scheduling-jobs-cron-for-builds-

So maybe we confirm whether we can do the same with one fewer service?

[2018-01-26 17:52] patcon commented on #149
Great suggestion! I actually tried to switch over to CircleCI from TravisCI (which was already working).

However, it seems that circleCI is (1) not building on new commits to master, and (2) not running the scheduled task like I tried to configure it to do. So basically, I can't get it to work at all, and no meaningful errors are being thrown.

So currently, all the README docs point to CircleCI

[2018-01-26 17:53] patcon commented on #149
https://circleci.com/gh/edgi-govdata-archiving/edgi-scripts
https://github.com/edgi-govdata-archiving/edgi-scripts/blob/master/.circleci/config.yml

[2018-02-16 14:54] dcwalk commented on #150
I'm gonna call this closed @patcon -- I think some of the checklist items might no longer fit? Please re-open if it should be

[2018-02-16 14:54] #150 closed, assigned to nobody

[2018-02-16 14:55] dcwalk commented on #176
Okay, so I'm gonna close this as I think the work is largely happened in web monitoring. Feel free to re-open if needed

[2018-02-16 14:55] #176 closed, assigned to nobody

[2018-02-16 14:56] dcwalk commented on #198
I'm going to close this as handled, per my comment above. If you feel like it should be re-opened, or there is something I've missed, please let me know!

[2018-02-16 14:56] #198 closed, assigned to patcon

[2018-02-16 14:57] dcwalk commented on #143
@patcon Just circling back on above -- Can you maybe summarize what you see as left before we can mark this issue as complete?

[2018-02-16 14:57] dcwalk commented on #163
Circling back @patcon -- Can you maybe summarize what you see as left before we can mark this issue as complete?

[2018-02-16 14:59] dcwalk commented on #108
This has floated around as a task for a long time, and given current trajectory within edgi, I don't think this is something that belongs as a "comm tech" project, rather handled and worked on jointly within the org.

I'm going to close right now as a result. If you think this is in error, let me know! feel free to re-open!

[2018-02-16 14:59] #108 closed, assigned to nobody

[2018-02-16 15:00] dcwalk commented on #146
Hey @titaniumbones is this still something we're thinking of doing? My sense is likely not in the near future. If so I'm wondering if we can close the issue for now?

[2018-02-16 15:02] dcwalk commented on #40
It was a long week 😓 , closing!

[2018-02-16 15:02] #40 closed, assigned to nobody

[2018-02-16 15:03] dcwalk commented on #99
I'm closing this as a previous potential todo that doesn't reflect current archiving efforts :)

[2018-02-16 15:03] #99 closed, assigned to b5

[2018-02-16 15:05] dcwalk commented on #183
After our chat yesterday @patcon I think it is safe to close this! Let me know tho if you'd like it re-opened and to get you on compute canada stuff :)

[2018-02-16 15:05] #183 closed, assigned to dcwalk

[2018-02-16 15:07] dcwalk commented on #159
I'm going to go ahead and close this as won't do, as there didn't wind up being continued discussion. Let me know if you think this should remain open however!

[2018-02-16 15:07] #159 closed, assigned to nobody

[2018-02-18 12:11] patcon commented on #158
Code for a proof-of-concept stub that's working:
https://github.com/patcon/trello-powerup-board-copier/issues/9

Currently running on: https://trello.com/b/ET8wNxE9/data-together-dev-onboarding

[2018-02-19 04:50] dcwalk commented on #149
This is alllllmost ready to close 🎉

[2018-02-19 20:38] patcon commented on #149
haha aaaactually, i think I'd call this done. It's running successfully, just final clean-up and implementation details :)

[2018-02-19 20:38] #149 closed, assigned to nobody

[2018-02-20 07:41] patcon commented on #163
Hey @dcwalk, this deserves a fuller response, but the short of it was that I was starting to feel that community call (though perhaps valued) was not quite as important as onboarding. And then we had a few weeks in a row after the holidays where no one showed up, so I think I lost a bit of energy there. (Though to be fair, I could have rallied people more on seeing that other weren't showing up, s

[2018-02-20 07:45] patcon commented on #143
I feel that the best approach would be to add finishing touches to this "board copier" powerup:
https://github.com/edgi-govdata-archiving/overview/issues/158#issuecomment-366511590

The main feature of that is that it drops a link into the slack channel whenever someone copies the board and starts working through.

With that enabled, the webmon team will have a bit of a sense of if/when the onboar

[2018-02-21 15:16] weatherpattern commented on #163
Maybe this could be a monthly thing and open to new comers and long time volunteers.

The Web Monitoring Team has started infrequent once every two months or so, social hangoutlcalls. We've had 3 so far. They are fun way to get to know the team. It is more relax and a really good break the pressure of getting through an agenda on the weekly call. Having them infrequently make them more of a specia

[2018-02-21 20:02] patcon commented on #163
That's a good thought ray. I did like them a ton! Currently organizing a civic hackathon in Toronto, so I need time to plot timeline for that. (I feel it needs some prep time that I won't have until after Mar 3)

[2018-04-17 15:02] weatherpattern opened #207 "Review Code of Conduct"
A new contributor on another repo didn't see a code of conduct and suggested one based on this:
http://contributor-covenant.org/version/1/4/

@danielballan and I like it because it describes specific promoted and unacceptable behaviors. Also it add a point of contact.

I think some of this was also brought up in our working with partners best practices.

Thoughts?

[2018-04-17 16:04] dcwalk commented on #207
Hey @weatherpattern, two things!

1) Each repo should reference the CoC in the readme, I thought that was indicated in the [Project guidelines](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md), but it appears not.

2) We are using the EDGI CoC that cuts across all events, spaces etc... so I think this conversation might have to happen at a different

[2018-04-17 16:06] dcwalk commented on #163
Hey all, I think we might want to close this issue as it doesn't appear to be an active conversation and an area that we are interested in implementing (e.g., updating the guidelines).

I think anythings like the call/ask will happen in another venue and we can create new issues at that time

[2018-04-17 16:06] #163 closed, assigned to patcon

[2018-04-17 16:11] weatherpattern commented on #207
Thanks @dcwalk

1. So, in the short term, I can make sure the current CoC is referenced everywhere.

2. Yes,  not surprised that this is a larger conversation. Maybe our repos have a combination of the two, a general one like we have now, but then also a supplement with open source code specific guidelines.

[2018-04-17 16:12] dcwalk commented on #146
I'm going to close this as no one responded to my comment above! Maybe the new PM can strategize around how to best facilitate this :)

[2018-04-17 16:12] #146 closed, assigned to patcon

[2018-04-17 16:14] dcwalk commented on #168
Hey! This happened by other means :))))

The website now reflects the EDGI events: https://envirodatagov.org/events/

[2018-04-17 16:14] #168 closed, assigned to nobody

[2018-04-17 16:18] dcwalk commented on #207
+1 to adding the reference, maybe submitting a PR on the guidelines in this repo and thinking about connections to some of the issues that @patcon was thinking of last summer #170 #179 #186?

Also-- I think all the things you talked about RE: CoC the GitHub (and EDGI's) should have. So I think a near term goal would be improving the CoC (I'm thinking like proposal-driven model so show a draft of w

[2018-04-20 16:30] patcon opened #219 "Add CLA bot to all repos"
We should probably talk about this at some point, My understanding is that it applies to us too, even though we're not a traditional company

https://github.com/ColinEberhardt/cla-bot

https://www.clahub.com/pages/why_cla

[2018-05-02 18:07] Mr0grog commented on #219
This is a reasonable thing to talk about, but it affects everything in the edgi-govdata-archiving org. I’m not sure it’s really a Web Monitoring discussion.

[2018-09-01 15:41] dcwalk commented on #173
We've officially retired the hackfoldr after many conversations on slack, closing as `wontdo`

[2018-09-01 15:41] #173 closed, assigned to nobody

[2018-09-01 15:43] dcwalk commented on #165
It appears that we settled on a biweekly coordination call for Archiving and Web Monitoring has weekly meetings. I'm marking this as `wontdo` for now but I'm also leaving this open while the Archiving WG transitions as maybe we want to revisit :))

[2018-09-01 15:46] dcwalk commented on #151
From what I understand this did not happen and we just recently decommissioned the prototyping board on trello for the other areas, I'm marking as `wontdo` and closing, but if this gets revisited by @lightandluck and Aparna then it should be reticketed/reopened (not sure best etiquette here!)

[2018-09-01 15:46] #151 closed, assigned to nobody

[2018-09-01 15:47] dcwalk commented on #199
As far as I have been updated this happened. I think larger discussions about the future of this node/where this data lives are on the horizion. I'm going to close this for now, as I imagine those conversations will pick up further along/reframe future work

[2018-09-01 15:47] #199 closed, assigned to b5

[2018-09-01 15:51] dcwalk commented on #196
This has been ongoing, the [coverage repo](https://github.com/datatogether/coverage/issues) reflects known other sites (and issues reflect adding services for them).

I'm closing this to reflect that we did the research phased and identified it elsewhere, but also want to flag that we _did not_ implement services for them.

I think there is a broader question that needs to happen, coming out of th

[2018-09-01 15:51] #196 closed, assigned to patcon, b5

[2018-09-01 16:00] dcwalk opened #208 "Review and update this repository to reflect current Archiving/Comm. Tech efforts"
We've gone through a quieter period over the last ~6 months, but are at the start of a more sustained period of attention.

Would be good to update this repository to reflect that, drawing on existing EDGI documentation:
- Archiving Roadmap
- Archiving Process

(potential) TODOs to mark as complete
- [x] update readme to remove inactive projects
- [x] close stale issues
- [x] provided updates on o

[2018-09-06 02:14] dcwalk opened #209 "Update contributing guidelines template to reflect web monitoring mention of coc"
In https://github.com/edgi-govdata-archiving/web-monitoring/pull/112 the minimal template web monitoring modifiy now reflects that we have a coc, we should consider updating our [template](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#minimal-contributing-guidelines) because this seems like a general improvement!

[2018-09-22 00:36] Frijol commented on #207
Re ensuring CoC visibility in every project, I've seen top-of-readme badges like this one [![Code of Conduct](https://img.shields.io/badge/%E2%9D%A4-code%20of%20conduct-blue.svg?style=flat)](https://github.com/edgi-govdata-archiving/overview/blob/master/CONDUCT.md) work well

[2018-10-15 17:10] #209 closed, assigned to nobody

[2018-12-11 18:49] Frijol opened #212 "Need standard policy on stale issues and repos"
## Edit:
Checklist of repos that need this policy applied:

* [x] [overview](https://github.com/edgi-govdata-archiving/overview)
* [x] [edgi-scripts](https://github.com/edgi-govdata-archiving/edgi-scripts)
* [x] [edgi-hubot-halpy](https://github.com/edgi-govdata-archiving/edgi-hubot-halpy)
* [x] [web-monitoring-processing](https://github.com/edgi-govdata-archiving/web-monitoring-processing)
* [x]

[2018-12-12 15:53] dcwalk commented on #212
1. 180 days seems as good as any other limit to start
2. given the scale of our repos I feel like "Simple" might be enough with lower effort, but no strong preference
3. I think there should be a policy that is distinct for Repos. In particular we have a couple (e.g., 100 days) where there isn't active development, but the site is still served (therefore not "stale") and it seems that the repo sho

[2018-12-12 19:46] Mr0grog commented on #212
1. I’m down with 180 days.
2. I’d prefer the “considered” approach, especially since I know we have quite a few old issues that *are* important in Web Monitoring. I think this GitHub app will do all that for us (plus tagging!) and it’s free: https://probot.github.io/apps/stale/
3. Agree with @dcwalk that we need to distinguish between a dead/unmaintained/unused repo and one that is largely idle, b

[2018-12-14 16:16] lightandluck commented on #212
1. +1 180 days
2. I also would prefer the "considered" approach, because progress moves so slowly that I wouldn't want issues that are important but lagging, to be closed automatically.
3. It sounds like we need to come to agreement on what repos need to be archived and do it manually rather than have an automated process for them.

[2018-12-17 23:51] Frijol commented on #212
Sounds good! Based on this feedback, I'll make a PR to the project guidelines doc incorporating:

1. 180 day policy
2. "Considered" approach
3. Not include policy for repo archiving, that can be done case by case

I'll implement per @Mr0grog's excellent suggestion of https://probot.github.io/apps/stale/ (update: someone has to approve it, but I've requested it be added)

[2018-12-18 18:49] Frijol commented on #193
Re what the label should be for first-timers, I'd like to propose `good first issue` because it is a [default label in Github](https://help.github.com/articles/about-labels/#using-default-labels)

[2018-12-19 18:08] Frijol commented on #2
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:09] Frijol commented on #50
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:11] Frijol commented on #93
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:12] Frijol commented on #110
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:12] Frijol commented on #119
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:13] Frijol commented on #120
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:13] Frijol commented on #125
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:14] Frijol commented on #143
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:14] Frijol commented on #148
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:15] Frijol commented on #158
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:15] Frijol commented on #170
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:16] Frijol commented on #171
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:16] Frijol commented on #175
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:16] Frijol commented on #179
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:17] Frijol commented on #182
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:18] Frijol commented on #186
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:19] Frijol commented on #188
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:19] Frijol commented on #192
Per our new [stale issues policy](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/project_guidelines.md#stale-issues-policy):

In the future, a robot will take care of this process!

[2018-12-19 18:34] Frijol commented on #192
I think this might be a good idea as a couple-of-hours small project, potentially useful for onboarding (I would have liked one, and I think it might help other new contributors understand context). @lightandluck what do you think? Want to see if you & I could put something together in a working session?

[2018-12-19 18:44] Frijol commented on #179
We should still do this! I might have some time this week

[2018-12-19 18:46] Frijol commented on #175
This is an issue we're still hearing a lot. I think we should spend some time thinking about this (and the coverage repo) as an org and especially within Archiving WG. cc @lightandluck

[2018-12-19 18:53] Frijol commented on #170
This still seems like a good idea! Do we have a spec somewhere (this repo?) that says what all the things are that should go in each EDGI repo?

[2018-12-19 19:02] Frijol commented on #120
Closing because https://github.com/edgi-govdata-archiving/overview/issues/199 and https://github.com/edgi-govdata-archiving/overview/issues/196 are closed

[2018-12-19 19:02] #120 closed, assigned to b5, dcwalk