[2018-12-19 19:05] Frijol commented on #119
Per @dcwalk 's [comment above](https://github.com/edgi-govdata-archiving/overview/issues/119#issuecomment-328704864), all the issues mentioned are closed except https://github.com/edgi-govdata-archiving/overview/issues/197 and https://github.com/edgi-govdata-archiving/overview/issues/195 (which is stale).

[2018-12-19 19:14] Frijol commented on #110
Is there more to be done here, or does it feel (a) resolved by https://github.com/datatogether/roadmap/blob/master/reference/workflow_changes.md or (b) like it happened so long ago that it's not useful to pursue this further?

[2018-12-19 21:19] Frijol commented on #2
@titaniumbones is this a discussion we'd like to pursue per the discussion around the DoI/NARA request?

[2018-12-19 21:35] Frijol commented on #148
Was thinking about this with @lightandluck today– I'm very pro- the philosophy of this, but I'm wondering if there is a simpler/more maintainable way to go about this. What do you think of linking to https://envirodatagov.org/about/members/ from readmes?

[2018-12-19 22:49] Mr0grog commented on #148
Dunno about this repo, but for all the code repos, at least, project contribution and EDGI membership are very different groups. For example, [this list](https://github.com/edgi-govdata-archiving/web-monitoring-db#contributors) is *mostly* non-EDGI people.

[2018-12-20 15:19] titaniumbones commented on #2
I don't really think so.  @b5 and perhaps @lightandluck can weigh in, maybe -- it's possible that the NYC connection has reawoken interest in FOIA.  But nothing that I am/should be committed to has a substantial FOIA component, and I don't really know how to do FOIAs myself.

[2018-12-20 15:21] titaniumbones commented on #110
I'm inclined to close.  There is a feeling of unfinished-ness, but... it's a long time ago and any new effort will probably be built largely from the ground up.

[2018-12-20 17:30] Frijol commented on #197
@titaniumbones suggests we still do this as a way to test our Canadian infrastructure

[2018-12-20 18:21] lightandluck commented on #2
Sarah and another lawyer are helping Interviewing with their FOIA requests. They are already experts and don't need any templated stuff.

If the DOI/NARA stuff was moving forward and there was a need to help many people do FOIA requests we might think of of doing this.

But as Brendan mentioned, and what I learned at the FOIA conference, it's more building relationships and constant contact with F

[2018-12-20 18:46] dcwalk commented on #187
I think this might be a good thing to verify at least on the EDGI end, also quick. Thoughts @lightandluck?

[2018-12-20 18:50] dcwalk commented on #188
Two cents :moneybag: : I think this is valuable! there are many issues in the [`halpy repo`](https://github.com/edgi-govdata-archiving/edgi-hubot-halpy/issues): https://github.com/edgi-govdata-archiving/edgi-hubot-halpy/issues that could also align with improving access

[2018-12-20 18:51] lightandluck commented on #170
I haven't seen a spec. But what I've seen copied across repos is CONDUCT, CONTRIBUTING, and LICENSE. Do you have suggestions for other things to include?

I'm also not sure how often we'll be spinning up new repos. It might make sense first to get a list and make sure current repos have everything included.

[2018-12-20 18:52] dcwalk commented on #125
Also two cents :moneybag: : it seems like an improved chat bot would be a huge boon for onboarding, and other aspects of EDGI. There are some minimum upgrades incl https://github.com/edgi-govdata-archiving/edgi-hubot-halpy/issues/36 and https://github.com/edgi-govdata-archiving/edgi-hubot-halpy/issues/39 that are time-sensitive and should also be done

[2018-12-20 19:01] dcwalk commented on #186
This seems like a mid-convo issue and some sort of resolution on the update/rollback should occur

[2018-12-20 21:40] lightandluck commented on #188
I'll shop all the bot issues/ideas to our Sys Admin whenever they come onboard

[2018-12-20 21:56] lightandluck commented on #192
Yea, let's chat about this sometime! The first steps of work I'm thinking of is getting events for each working group. I spent most of my time in WM, so not sure the history of other WGs

Not sure how detailed or resolution of events we're thinking of here

[2018-12-20 22:02] lightandluck commented on #158
@Frijol I'd like to get your thoughts about Trello onboarding in a chat after the holidays

[2018-12-20 22:05] Frijol commented on #2
thanks for the input! Closing.

[2018-12-20 22:05] #2 closed, assigned to titaniumbones, shapironick

[2018-12-20 22:24] Frijol commented on #125
cc @lightandluck per the onboarding conversation

[2018-12-20 22:32] Frijol commented on #170
Yes, I agree re not spinning up a lot of new repos + wanting to standardize– seems unlikely we'd need to automate at this moment. What about a `REPO-TEMPLATE.md` in this repo that

* References the docs you list above (CONDUCT, CONTRIBUTING, LICENSE) to canonical versions in this repo
* Provides template copy for the readme e.g. linking back to this repo, referencing CoC
* Lists what labels we use

[2018-12-20 22:37] Frijol opened #216 "Improving EDGI's onboarding process"
@lightandluck has been doing a lot of work on improving EDGI's onboarding into the community. I thought it might be helpful to group some issues (some surfacing during the new stale-issue policy) that surface around this conversation. Please feel free to add 2 cents/aspects or issues you've thought about/other relevant Github issues to this issue.

My hope is that we can use this issue for discuss

[2018-12-21 00:20] lightandluck commented on #175
Agree, this is an aspect of the Archiving WG that I've never gotten a handle on, so would love to improve clarity for anyone interested in this question (which includes me!)

[2018-12-21 00:25] Frijol commented on #193
Towards the first of @dcwalk's TODO list, I thought I'd put together a proposal for our core set of labels.
I realized I don't know what most of these labels mean! So please feel free to counter-propose. Ideally we can end up with a standard set per https://github.com/edgi-govdata-archiving/overview/issues/170 which (if needed) explains what the labels mean.

## Proposal for core set of labels
| L

[2018-12-21 19:58] lightandluck commented on #125
Agree, I think this is something we hope the Sys Admin can help tackle

[2018-12-21 22:55] Frijol commented on #212
Reopening because although this policy is piloted here on the Overview repo, it should be applied across all open repos to truly be resolved.

[2018-12-21 23:10] Frijol opened #217 "EDGI Repo Audit"
Update: repos were discussed at 1/9/19 cross-team dev meeting & outcomes are:

## Archive
* [x] edgi-trello-backups
* [x] datavis-projects
* [x] url-proxy
* [x] s3-upload-server
* [x] analysis
* [x] go-calc-diff
* [x] guides
* [x] fiscal

## Delete
* [x] warcprox(fork)
* [x] grab-site(fork)
* [x] dolley-madison(fork)

## All other repos
Active & should be maintained!
(Breaking out components of sp

[2018-12-21 23:12] Frijol commented on #179
[This spreadsheet](https://docs.google.com/spreadsheets/d/1IcPchZkOGjQnTUqRb9oH01Q9B7zZSAKtdU1F9mA51QA/edit?usp=sharing) notes which of EDGI's active repos have/don't have Contributing.md and issues marked for first-timers

[2018-12-26 21:11] #195 closed, assigned to nobody

[2018-12-26 21:12] #171 closed, assigned to nobody

[2018-12-26 21:12] #182 closed, assigned to nobody

[2018-12-26 21:12] #93 closed, assigned to nobody

[2018-12-26 21:12] #143 closed, assigned to patcon

[2018-12-26 21:12] #50 closed, assigned to nobody

[2018-12-27 22:38] #158 closed, assigned to nobody

[2018-12-28 20:48] Mr0grog commented on #212
👍 would you please add a checklist of repos to the original post? That way we can all see what needs to be done where and pitch in. (And having it in the original post means it shows up as “x of y subtasks done” in the issue listing page.)

[2019-01-01 23:30] Frijol commented on #212
@Mr0grog yes, good idea! I think we should resolve https://github.com/edgi-govdata-archiving/overview/issues/217 to get a full list of repos this should apply to. Will add the ones I'm certain of, in the meantime

[2019-01-02 00:13] Frijol opened #218 "Standard template for Contributing on other repos"
~As part of fulfilling https://github.com/edgi-govdata-archiving/overview/issues/179 (make sure all active repos have contributing guidelines) I started looking at what repos do/don't have guidelines.~

~Lots of them don't (see the repo audit at https://github.com/edgi-govdata-archiving/overview/issues/217)! The ones that do have them don't match but express different useful ideas– let's make a te

[2019-01-02 18:14] Frijol commented on #218
Here's a proposed template based on ones we already have:

---

# Contributing Guidelines

We love improvements to our tools! EDGI has general [guidelines for contributing][edgi-contributing] and a [code of conduct][edgi-conduct] for all of our organizational repos.

## Here are some notes specific to this project:
Use this section for any contributing guidelines specific to the repo. For example:

[2019-01-09 01:38] lightandluck commented on #193
I agree with all of the proposals except merging `coordination` with `infrastructure`. I don't know exactly what they were used for prior, but my sense looking at closed issues is that `coordination` seemed to be for high-level, project management tracking and `infrastructure` for tooling.

I guess what we do with `coordination` depends on whether we continue to use issues to track tasks, but I wo

[2019-01-09 19:02] Mr0grog commented on #217
We did a run-through of the red lines in the sheet in the cross-team meeting today. We had two that we didn’t think should be archived and thought someone should give the forks a slightly closer look first:

- If everything in the fork got merged upstream, maybe just delete it.
- If it didn’t get merged upstream (or even proposed), should it be? Does it need a shepherd? (If no, archive.)

[2019-01-09 19:27] Mr0grog commented on #217
I went through and checked on the changes in the forks and updated the sheet with what I think we should archive vs. delete. None of them appear to need any shepherding.

[2019-01-09 20:37] Frijol commented on #218
Suggestions for inclusion in standard Readmes:

* Highlight "ready" label on issues (pending https://github.com/edgi-govdata-archiving/overview/issues/193) to mean "this is an issue that is ready to work on and needs an owner"
* Add badges to the top including [![first-timers-only](https://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](https://www.firsttimersonly.co

[2019-01-09 23:39] Mr0grog commented on #212
Done for all the `web-monitoring-*` repos.

[2019-01-10 18:44] Frijol commented on #193
Thanks, Kevin– will update above to reflect re coordination & infrastructure

X-team dev meeting on 1/9 decided on "good first issue" as something we can implement, so I'm going to go ahead with that for purposes of https://github.com/edgi-govdata-archiving/overview/issues/179

[2019-01-10 18:54] Frijol commented on #170
Suggestions for inclusion in standard Readmes:

* Highlight "ready" label on issues (pending https://github.com/edgi-govdata-archiving/overview/issues/193) to mean "this is an issue that is ready to work on and needs an owner"
* Add badges to the top including [![first-timers-only](https://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](https://www.firsttimersonly.co

[2019-01-10 19:00] Frijol commented on #179
I added a checklist of active repos based on https://github.com/edgi-govdata-archiving/overview/issues/217

[2019-01-10 19:08] Mr0grog commented on #218
We should link (or include) the style guide for the code, if there is any.

[2019-01-14 14:19] danielballan commented on #110
Agreed with @titaniumbones. The lessons learned have at this point been absorbed as EDGI institutional knowledge and are being applied in ongoing work. I think the doc linked by @Frijol captures the big ideas, and the value of going into more detail for the sake of completeness is low.

I'm going to close; if anyone disagrees feel free to reopen.

[2019-01-14 14:19] #110 closed, assigned to b5, dcwalk

[2019-01-15 01:12] lightandluck commented on #218
This template looks great!

+1 adding style guide as example in template. See umbrella [web-monitoring](https://github.com/edgi-govdata-archiving/web-monitoring/blob/master/CONTRIBUTING.md) repo

[2019-01-15 01:24] lightandluck commented on #170
This all looks great and let's go with creating that `REPO-TEMPLATE.md` file because it would work great as a checklist as we're cleaning all the repos up.

I think after we're done we could create an actual template repo with the 4 files: `CONDUCT`, `CONTRIBUTING`, `LICENSE` and `README`. `README` could explain everything and contain all those suggestions. There's probably tons out there, but wou

[2019-01-15 01:51] lightandluck commented on #219
Still sounds relevant and moved to `overview` repo

[2019-01-15 02:16] lightandluck commented on #217
Discussed with Nick and Steph and the `fiscal` repo should be archived

[2019-01-15 02:28] lightandluck commented on #148
Saw [this](https://github.com/ipfs/community/issues/369#issuecomment-451102702) over on IPFS and how they list contributors. Maybe we can use that and link to our members page for this overview repo?

[2019-01-15 03:13] Mr0grog commented on #148
I am not a big fan of that because:

- I think the score-keeping feeling of counting all the PR/issues/comments someone makes is not healthy.
- I care a lot about the fact that we take pains to include contributions that do not happen in ways tracked by GitHub. A script like this explicitly takes the opposite approach.

[2019-01-24 02:48] Frijol commented on #217
Thanks @lightandluck, reflected that change in the checklist above.

Looks like I don't have the permissions to archive or delete repos– can someone who does please take this one on?

[2019-01-24 02:50] Frijol commented on #218
That makes sense. Style guide is considered to be per-repo rather than an EDGI standard?

[2019-01-24 03:22] Frijol commented on #170
Do we typically have a CONDUCT file in our repos? I looked at a few repos but haven't found one yet other than the one in this repo (and reference to it from the CONTRIBUTING files).

Any preference on having it as a separate file that refs back to the canonical one (a la [contributing](https://github.com/edgi-govdata-archiving/overview/issues/218)) vs just mentioning it in the readme and contribu

[2019-01-24 03:41] Mr0grog commented on #217
Are we certain on the checklist? I can smash repos.

[2019-01-24 03:47] Mr0grog commented on #218
The web monitoring one applies to all `web-monitoring-*` repos, but wasn’t done in any way that was coordinated across other EDGI projects. It overlaps a lot with what `web-monitoring-ui` has (and that’s the only one that has explicit coding style guidelines, IIRC), so it’s all a little messy. I *think* I’d prefer there only be one for all the projects (and it needs to clarify which rules are lang

[2019-01-24 17:47] Frijol commented on #219
Is this something we can get legal advice on? CLA's can be a major barrier to contribution ("you want me to sign some contract before you'll accept my PR?"). Is it possible that we could include this as a piece of our Contributing or License docs ("by contributing to this repo you agree...")?

[2019-01-24 18:20] Frijol commented on #170
Answering my own question: we do not typically have a CONDUCT file in our repos, but per https://github.com/edgi-govdata-archiving/overview/issues/207#issuecomment-382048478 should reference the canonical one in the Readme.

**Bigger note:** it appears we already have a template-style resource in our [project guidelines](https://github.com/edgi-govdata-archiving/overview/blob/master/guidelines/pro

[2019-02-01 19:01] Frijol commented on #218
~Currently blocked by https://github.com/edgi-govdata-archiving/overview/pull/220 – once template is accepted there, I can apply it to the repos~ *merged, can proceed now!*

[2019-02-01 19:09] Frijol commented on #179
Direct link to all EDGI "good-first-issue" issues: https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3Agood-first-issue+user%3Aedgi-govdata-archiving

[2019-02-01 19:16] Frijol commented on #212
# How to contribute to this issue

1. Pick an unchecked repo from [the list above](https://github.com/edgi-govdata-archiving/overview/issues/212#issue-389903389)
1. Make a pull request to add [.github/stale.yml](https://github.com/edgi-govdata-archiving/overview/pull/213/files#diff-0582c54ce27332bb1bf68e65f7b91d0d) to that repo, tagging this issue in the commit message
1. Merging the PR will autom

[2019-02-04 17:32] Frijol commented on #207
Heads up that I'm tracking application of the badge in [this spreadsheet](https://docs.google.com/spreadsheets/d/1IcPchZkOGjQnTUqRb9oH01Q9B7zZSAKtdU1F9mA51QA/edit#gid=0) which I made for the [Repo Audit issue](https://github.com/edgi-govdata-archiving/overview/issues/217)

[2019-02-13 22:17] Mr0grog commented on #217
After 20 days with no feedback on the issues for each repo, I’ve archived (or deleted) all of them. Should we close this issue now, or is there more to do? /cc @Frijol

[2019-02-15 21:48] Frijol commented on #217
Yay! Thanks for the diligence on that @Mr0grog. Closing!

[2019-02-15 21:48] #217 closed, assigned to nobody

[2019-02-19 22:25] Frijol opened #224 "More explicit merge guidelines in CONTRIBUTING?"
I'd like to have more explicit metrics around when something is ready for merge. Currently, I worry both that (a) PR's aren't getting seen by the people who might want to review them before merge and (b) PR's just sit there even after an "approve" review or two because it's not clear who all should review them. It feels fairly no-win and concentrates the power of repo maintenance into people who a

[2019-02-27 17:43] b5 commented on #193
here's a link to a gist for automating label creation https://gist.github.com/b5/d3bd0de5aa88842b2455a2e5c1112c87

[2019-02-27 20:19] jsnshrmn commented on #193
I like the proposed changes as they currently stand. 👍

[2019-03-05 18:04] Mr0grog commented on #193
Over in web monitoring land we have the following that I find very useful, though they are inconsistently implemented across our repos:

- **API** for anything that would involve changes to the external API of the project in question (only applicable to 3 out of 5 repos, so maybe not universal?)

- **Code Quality** for anything focused mainly on code quality, organization, developer happiness, etc

[2019-03-05 18:43] Frijol commented on #170
Can I close based on https://github.com/edgi-govdata-archiving/overview/pull/220 or do we want to leave this open pending an automation step?

Personally I lean towards closing it/don't think automation need currently be on our to-do list

[2019-03-05 21:41] b5 commented on #193
Over at Qri our standard set of labels derived from the Angluar JS contributor guidelines:

| label | description | already proposed here
| ----- | ----------- | --- |
| docs | changes & issues with documentation | yes |
| chore | clerical non-docs related chores (often things like CI, cutting releases, dependency upgrades)  | |
| fix | a change, or discussion of a change that removes a bug | |
|

[2019-03-05 22:16] Mr0grog commented on #193
I think `chore` is a lot more broad, though it covers most stuff I would tag with `Code Quality`. The main exception: I always vacillate on whether a refactor qualifies as `code quality`, but it would not be a `chore` (obviously commitizen has a specific tag for this). Conversely, release-related tasks (bumping version numbers, fixing `package.json`/`setup.py`/etc.) would definitely be a `chore` b

[2019-03-05 22:27] b5 commented on #193
OoOooOOoh I like this point a lot. Everything I've suggested is code specific, and that's not the way we use GitHub at EDGI. I think we structure "code repos" and "all repos" as separate discussions. I'd hate to see something like `perf` end up as a tag in an overview repo just b/c it's "standard". Based on that, I think @Frijol's proposal above is great.

[2019-03-05 23:26] lightandluck commented on #193
Agree with the "code repo" vs "all repo" perspective. In that light, `question` would be good to add to the proposed list. And `㊋ furious debate` is just too cool not to have!

Also, in WM it was decided to use `idea` as an exempt label to tell stale-bot to leave long-term issues alone. I think that makes sense to carry over to the standard set as well.

[2019-03-06 00:18] lightandluck commented on #170
+1 to closing. Don't think automating is worth it right now

[2019-03-06 00:43] Frijol opened #227 "Repos that don't have licenses"
When I was doing the [repo audit](https://docs.google.com/spreadsheets/d/1IcPchZkOGjQnTUqRb9oH01Q9B7zZSAKtdU1F9mA51QA/edit#gid=0) I noticed that some of the repos don't have licenses.

1. Can we blanket-apply the [standard license](https://github.com/edgi-govdata-archiving/overview/blob/master/repo_guidelines.md#about-the-license) from the template?
1. Do we want/need to put licenses on the forks?

[2019-03-06 01:12] Frijol commented on #212
Have been finding this pretty cool so far, had an old issue pop up in my notifications recently that I would otherwise have completely forgotten about :)

[2019-03-06 01:18] Frijol commented on #212
ok, I think I have PRs in for all of the active repos. It would be a good idea to stagger merges so that we don't have a deluge of stale issues to check over!

[2019-03-06 01:20] Frijol commented on #207
We did it! 🎆 🎊 💃

[2019-03-06 01:20] #207 closed, assigned to nobody

[2019-03-06 05:09] Mr0grog commented on #224
In Web Monitoring, sufficient time is generally 3 days, unless there’s some strong reason to do something different (a hotfix That needs to go in now, or a deeply drastic change that would break everyone’s development environment and needs more time to break or people to see/review). What qualifies for being special in that way is fuzzy, so there’s no hard rule—being given commit permissions is an

[2019-03-06 05:13] Mr0grog commented on #224
Also, apologies if you’ve left PRs sitting in web monitoring repos waiting for someone to merge them, unaware that we were expecting *you* to.

[2019-03-07 16:12] #165 closed, assigned to nobody

[2019-03-19 18:35] #218 closed, assigned to nobody

[2019-03-19 18:35] #170 closed, assigned to nobody

[2019-03-19 18:37] Frijol commented on #208
I think https://github.com/edgi-govdata-archiving/overview/pull/215 resolves the two unchecked boxes as much as makes sense for right now– ok to close?

[2019-03-19 18:49] Frijol commented on #179
I checked over a lot of the repos that don't have "good first issue" labels and there really aren't a lot of issues that would be good for new folks–  ok to resolve?

I also looked over a bunch of the links for how to list our sites as up-for-grabs etc. but came away unsure how to actually list our stuff. I've done this before for other projects & remember it being easy (e.g. just enter a label na

[2019-03-19 19:56] Frijol commented on #186
Just noticed that we already use this plugin on edgi-hubot-halpy and edgi-scripts. Is there anything we learned from those repos that can inform this conversation?

[2019-03-19 19:58] Frijol commented on #193
👍 I'll begin to implement per the proposal above, including adding "idea" and "question" to the core set, and will separate out the "code repo" conversation to a separate GH issue.

I added a list for tracking implementation of the core issue set to the issue description (I'll make sure these labels are present, but won't delete labels except in Overview as listed above).

**Question:** are we com

[2019-03-19 20:35] Frijol opened #228 "Core set of labels for code repos"
Separating out the "code repo labels" discussion from the more general core labels discussion at https://github.com/edgi-govdata-archiving/overview/issues/193:

@Mr0grog:

@b5:

| label | description | already proposed here
| ----- | ----------- | --- |
| docs | changes & issues with documentation | yes |
| chore | clerical non-docs related chores (often things like CI, cutting releases, dependenc

[2019-03-22 03:14] Mr0grog commented on #193
Two thoughts here…

1. I think the permissions elevation issue @dcwalk pointed out in this comment is a blocker: https://github.com/edgi-govdata-archiving/overview/issues/186#issuecomment-322040219

    Not sure if new settings have been added since @patcon’s original reply or if I’m misunderstanding, but it certainly seems like it does things now that a non-admin shouldn’t be able to do.

2. If t

[2019-04-01 11:23] #208 closed, assigned to nobody

[2019-04-01 11:24] #179 closed, assigned to nobody

[2019-04-01 11:26] #212 closed, assigned to nobody

[2019-04-02 13:52] Frijol opened #229 "Put a "Donate" button in the readme?"
I'd like to suggest we add, at the bottom of this repo's readme, a footer like:

Thoughts on this? Any hesitations? Suggestions for wording changes?

[2019-04-03 00:01] Frijol commented on #193
Bookmarking this script for exporting a json of our GH labels: https://gist.github.com/MoOx/93c2853fee760f42d97f

[2019-04-03 18:55] lightandluck commented on #229
+1 Makes sense to do

[2019-04-07 01:36] Frijol opened #231 "The "idea" label and stalebot exemption"
From a conversation at https://github.com/edgi-govdata-archiving/overview/pull/230#discussion_r271905317 with @lightandluck, wanted to be more explicit about how we're using the "idea" label.

Personally, I had taken "idea" at face value, to label issues as ideas we're floating.

Web Monitoring is exempting "idea"-labeled issues from stalebot. I had thought this was to keep ideas around (a perfect

[2019-04-08 17:48] lightandluck commented on #231
I think going with the default `pinned` would reduce confusion and we certainly need & want an exemption label.

If we do, I feel we should just drop `idea` because that was its only function. I don't think such an amorphous term adds much and is almost as redundant as having a label called `issue`.

We do have the problem of going back and fixing issues in WM if we make this change, but I'm willi

[2019-04-19 17:04] Frijol commented on #231
Any input from others in WM (@Mr0grog in particular)?

[2019-04-20 23:14] patcon commented on #231
what about just `never-stale` or `not-stale`, (or even `forever-fresh` or `always-fresh`)? Then it's more clearly tied to it's purpose -- no need to stumble on docs that `idea`/`pinned` means for stalebot to ignore it :)

[2019-04-20 23:15] patcon commented on #231
Also, "pinned" refers to an uncommon state of native github issues as well:

![Screen Shot 2019-04-20 at 7 14 39 PM](https://user-images.githubusercontent.com/305339/56463365-a83d0800-63a0-11e9-997e-d5e132589636.png)

[2019-04-22 03:13] Mr0grog commented on #231
Oh, no, I use both `idea` and `pinned`, and use them as you had expected, @Frijol. e.g:
- Pinned: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/379
- Idea: https://github.com/edgi-govdata-archiving/web-monitoring-db/issues/199

But if we really wanted just one, I think `pinned` is clear. Also, IIRC, it’s @danielballan who had stronger opinions here.

*(Update: changed the exam

[2019-04-22 03:25] Mr0grog commented on #231
Yeah, that is definitely an unfortunate collision. If we want the label to just be explicitly for this purpose, I think your `never-stale` suggestion is best. I think the original idea with `idea` was that we wanted to avoid having a label that was purely a signal to some technical tool we're using (stalebot) and not meaningful for humans. That may have been a bad fundamental approach, though.

I

[2019-04-22 03:29] Mr0grog commented on #231
(Also, sorry, I have been *buried* trying to finish a client project this past week, and I haven’t been keeping up very well with EDGI issues.)

[2019-04-22 17:27] lightandluck commented on #231
Sorry, that I misunderstood. That fuzziness probably contributed for my confusion.

+1 with going with `never-stale`. Thanks @patcon for pointing out that github has a `pinned` state, too.

[2019-04-22 19:44] danielballan commented on #231
:+1: for `never-stale`

[2019-04-23 16:58] Frijol commented on #231
Sounds good. Circling back, I think we decided:

* [x] There should be a standard core label `never-stale` which is exempt from stalebot (action: update list of core labels in template and apply to repos, update stalebot yml file in each repo and in the template)
* [x] There still exists a standard core label `idea` but it is not exempt from stalebot (action: change labels on WM repos to `never-st

[2019-04-23 22:17] Mr0grog commented on #231
Makes sense to me!

[2019-04-24 03:44] lightandluck commented on #231
That sounds good 👍

[2019-04-24 17:44] Frijol commented on #231
**Help needed**: Here are [all the issues labeled `idea`](https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3Aidea+user%3Aedgi-govdata-archiving). I made sure a `never-stale` label exists on all of those repos. Can someone from WM (probably @Mr0grog) please sort out which issues should be `idea` labeled vs. `never-stale`?

(I updated the stalebot yml for all repos to exempt `never-stale` but

[2019-04-24 20:57] Frijol commented on #193
🎊 I implemented the core labels across repos! We can close this issue as soon as https://github.com/edgi-govdata-archiving/overview/pull/230 is merged, documenting core labels and how to apply them.

[2019-04-24 21:39] Mr0grog commented on #231
I took a pass at re-tagging where it seemed appropriate across all the web-monitoring projects.

[2019-05-01 18:28] #193 closed, assigned to patcon

[2019-05-02 23:48] lightandluck commented on #231
I created PRs to remove `idea` from exempt labels in the WM repos. I _think_ it's ok to do that now? Just need an approval for one and I'll merge them all in.

[2019-05-06 18:25] Frijol commented on #231
Thanks all!

[2019-05-06 18:25] #231 closed, assigned to nobody

[2019-06-12 04:18] Frijol commented on #229
Porting over discussion from that PR in order to merge without losing the discussion!

---

@patcon [April 24](https://github.com/edgi-govdata-archiving/overview/pull/232#issuecomment-486503346):

Love this idea! Should we think of it like a websites call-to-action? As in, is there a more active or effective framing for call-to-actions that we should use instead? (Channeling our inner Jimmy Wales,

[2019-06-12 04:19] #229 closed, assigned to nobody

[2019-06-24 19:45] #119 closed, assigned to nobody

[2019-06-25 17:56] #197 closed, assigned to nobody

[2019-06-25 21:56] #188 closed, assigned to nobody

[2019-06-25 22:56] #192 closed, assigned to nobody

[2019-06-26 21:10] #125 closed, assigned to nobody

[2019-07-29 20:43] lightandluck opened #234 "Fix threading with bridged Slacks channels"
We have 3 channels bridged between EDGI and Archivers Slack:

- webmonitoring
- datatogether
- community-building

One of the caveats of the bridge is that it doesn't maintain threading between bridged channels. @patcon has pointed out that it's possible and we may only need to update our [matterbridge deployment](https://github.com/edgi-govdata-archiving/matterbridge-heroku).

Learn more about ou

[2019-07-29 20:45] lightandluck commented on #187
I've added new pinned messages to each bridged channel and edited the topics of the channels with more information on bridging: https://hackmd.io/3fZbzWBfRZGpbpD_V-1GhQ?view

Also opened a related issue: #234

[2019-07-29 20:45] #187 closed, assigned to patcon, lightandluck

[2019-07-30 15:26] Frijol opened #235 "Extend stalebot time"
Checking in on the Stalebot implementation– does it feel too aggressive? Many issues are getting marked stale/closed.

It's a bit more churn than I can personally keep up with, curious to hear how others feel.

@lightandluck weighed in on Slack:

[2019-09-03 18:34] Mr0grog commented on #224
@Frijol is there anything actionable here? Should we adopt (and make explicit) the Web Monitoring rules I attempted to codify above?

[2019-09-03 18:40] Mr0grog commented on #224
Also, having seen some surprising (to me at least) usages of the term “hotfix” lately, I think I’d want to clarify that, too, since I mentioned it above. e.g:

[2019-09-04 19:05] Frijol commented on #224
Yes, I think it would be great to have all of the above implicit rules in Contributing.md as a fix! Thanks for codifying these, it makes it really clear what's expected

[2019-09-17 00:12] #224 closed, assigned to nobody

[2019-09-19 21:54] Frijol commented on #175
@lightandluck I feel like we've come a long way in our understanding of data generally since this conversation– what do you think about this issue at this point?

[2019-09-22 21:12] #148 closed, assigned to nobody

[2019-09-22 21:12] #186 closed, assigned to nobody

[2019-10-01 04:03] lightandluck commented on #175
Personally I don't know what the archived data is? I think I've heard that stuff is in the Internet Archive, but I don't know what the list of those things are or how to find them in the IA.

Have you been able to find that out?

[2019-10-03 00:17] patcon commented on #175
fwiw I heard this "where's the data" question just last night from @dkurukula.

I maybe had the wrong answer, but basically said that it all migrated into other systems like Internet Archive, and that the more active focus of EDGI had become `web-monitoring`

[2019-10-07 19:05] Frijol commented on #175
As far as I know that's more or less correct (though, active focus of EDGI is a good bit broader, now covering environmental data justice, theories for future of archiving through decentralized technologies, etc. as well as web monitoring)

[2019-10-21 20:24] Frijol commented on #227
I suspect we *can* blanket-apply the standard license.

[2019-10-21 23:26] Mr0grog commented on #227
FYI, web-monitoring-ops has since added a license.

[2020-01-24 21:18] Frijol commented on #235
Moving this from discussion format to to-do format, here's how to close this issue:

* Find the .yml file (in each repo I think?) that controls stalebot
* Extend the time between marking "stale" and closing the issue from 7 days to 14 days

[2020-01-24 21:22] Frijol opened #238 "Add a bot that explains our "it's ok to merge after X time without review" policy"
EDGI (or at least web monitoring) typically has an "ok to merge" policy for any straightforward PR that hasn't gotten reviews after 3 days. It would be nice to have a bot call this out on PRs that sit for 3 days without any interaction. (Otherwise the contributor might not be aware of this policy)

[2020-01-27 01:08] Mr0grog commented on #238
For web monitoring, at least, I don’t think we really have many contributors with commit rights, so it feels like it’s easy enough to teach people this when giving them commit rights.

But also: I have stopped following this policy much of the time for the past several months (though I did talk that through with other contributors). Because we have so few active contributors, the policy mostly jus

[2020-01-27 01:35] Mr0grog commented on #235
So… where does this need to be done in order to close the issue? Can we add a checklist to the issue description?

For my part, I’m not really bothered by the timeframe when it comes to web monitoring. (I have missed acting on it fast enough a few times, but giving myself another week would not have fixed the issue — it was always just less important than an endless list of other pressing things i

[2020-01-30 22:37] Frijol commented on #235
Yeah, this has felt very non-urgent to change but I have a slight preference for expending our timeline to respond.

This would need to be done, unfortunately, in every repo that has the stalebot.yml (we have some closed issues in this repo which we could steal checkboxes from). (Is there a way to have one canonical stalebot.yml that all the repos pull from?)

[2020-01-31 09:23] #219 closed, assigned to nobody

[2020-02-01 01:26] Mr0grog commented on #235
I don’t think there’s a way to effectively redirect to a different configuration file in a different repo, but we could make a script that updates all repos. Not perfect, but useful in that we could extend it to other things, like issue labels, etc.

[2020-02-01 01:31] Mr0grog commented on #235
(Could also have a CircleCI job or GitHub action that runs the update whenever changes are made here.)

I’d be happy to help start or work on this if you think it’s worthwhile. Is JS, Python, or something else best for you?

[2020-02-01 21:22] #234 closed, assigned to nobody

[2020-02-05 18:40] Frijol commented on #235
Seems like a good idea, though hard to feel urgent about it. If you have the capacity, I think it makes sense/reduces our long-term tech debt!

Personally I'm more comfortable in JS but have been doing more Python lately so either is fine for me! (Or a shell script?)

[2020-02-07 21:32] Mr0grog commented on #235
Was thinking I would have some capacity for it this week, but alas, no. I’m still behind on figuring out what’s wrong with the Zoom → YouTube upload script. :(

[2020-03-25 00:02] #228 closed, assigned to nobody

[2020-04-11 20:18] #175 closed, assigned to nobody

[2020-04-19 17:12] Mr0grog commented on #227
So… is this still important? Someone (or I) can go ahead and add licenses to these. Is the repo list in the OP still accurate?

[2020-04-20 17:31] Frijol commented on #227
@Mr0grog thanks! I think the list is accurate but haven't checked in over a year I think

[2020-04-21 21:55] Frijol opened #239 "Switch to new ActBlue Github sponsor link"
The "Sponsor" button on our repos should link to https://secure.actblue.com/donate/edgi_github
(cc @Mr0grog)

[2020-04-21 21:57] Frijol commented on #239
Should we add this to our repo guidelines so every EDGI repo has a Sponsor button?

[2020-04-21 22:02] Frijol commented on #239
Ah, I see we do this through an org-wide setting. Excellent.

[2020-04-22 00:54] Mr0grog commented on #227
Hmmmm, [edgi-hubot-halpy](https://github.com/edgi-govdata-archiving/edgi-hubot-halpy) has been archived. Should we still add a license there? (That requires un-archiving it.)

[2020-04-22 01:01] Mr0grog commented on #227
Ah, yeah, I hadn’t realized there’s not even really an significant documentation or code there — and even if there were, it probably wouldn’t make sense to license for reuse. I’ll skip this one, too.

[2020-04-22 01:05] Mr0grog commented on #227
*Technically, yes,* but our choice of license may be (*is,* in this case) constrained by the licensing terms of the thing we forked. BUT! In this case, I think we have removed all uses of it (as of edgi-govdata-archiving/edgi-scripts#55), so it maybe better to just archive it and leave it be.

/cc @lightandluck any thoughts there?

[2020-04-22 01:22] Mr0grog commented on #227
Looks like a license has since been added to [eis-search](https://github.com/edgi-govdata-archiving/eis-search/commit/c473572a5ca3f4c5b421d933f3e9e61d2ecb5bd8).

[2020-04-22 01:35] Mr0grog commented on #227
OK, I updated all the repos except the three kinda fuzzy ones I commented about above.

[2020-04-22 17:12] #239 closed, assigned to nobody

[2020-04-22 17:14] Frijol commented on #227
Cool, thanks! And yay, we get to close this issue finally!

[2020-04-22 17:14] #227 closed, assigned to nobody

[2020-06-15 20:00] Mr0grog opened #241 "Choosing a different default branch name than `master`"
One thing that’s come up recently in some software development fora is renaming the default branch in Git repositories from “master” to something else (“master” actually doesn’t mean anything special in Git — it’s just the default chosen when you run `git init` — so you are always free to choose a different name for your default/main/primary/base branch).

Unfortunately, it’s pretty early for this

[2020-06-15 20:11] ericnost commented on #241
I had been thinking about this recently and had settled on "main" as well. I believe new repositories should use "main", but I don't really understand what it would take to update existing repos so I can't comment there. Would we have to create a new branch called "main" and then update the default branch from "master" to "main"? I know how to do this in GitHub but not Git.

Would it break code an

[2020-06-15 20:47] Mr0grog commented on #241
Pretty much (but don’t forget to delete “master” on the GitHub side at the end).

The complexity I’d worry about here isn’t really technical — it’s more the human fuzziness of everyone using the repo needs to update their local copies and/or forks, remember to stop using “master” on their end, etc. (The downside of git being distributed! Everyone’s forks and local copies are *independent* repos.)

[2020-06-15 21:16] patcon commented on #241
Seems like a nice & easy gesture. I support this! +1 to `main`.

I wanted to ack that someone can recognize `git`'s alternate *origin*, however *remote* (\*cough\*) -- more like "masterpiece" or "master recording", rather than "master-slave" paradigm of databases --  and _still_ support this change. Just because words have meaning outside a racialized context, that doesn't mean we have to choose t

[2020-06-15 22:27] Mr0grog commented on #241
Agree! Although, super interesting note… the “master” in git *is* about “master/slave,” not “master copy:” https://mail.gnome.org/archives/desktop-devel-list/2019-May/msg00066.html (I only found this the other day because I also had the exact same thought as you here, but was curious if I was assuming correctly about the history.)

We could. I worry it would lead to maximum confusion for someone w

[2020-06-15 22:46] patcon commented on #241
Thought experiments:
1. **Keep unused branch.** Any confusion will be from someone _cloning project_ and working locally.
    - What will that person do next? Will they likely be in a position to be supported by a "resident human" on the project?
2. **Delete unused branch.** Any confusion will be from someone _clicking links_ and finding 404s.
    - What will that person do next? Will they likely

[2020-06-15 23:28] Frijol commented on #241
+1 to all this!

Heads up to @lourdesvera that upon implementation of this change in the EEW notebooks all the links to the colabs would change – are they linked to anywhere other than the EEW Tracking spreadsheet and the Congressional District primer? (Updating these links in a thorough way would likely be the most challenging aspect of this change at the moment, but this is a good moment to do i

[2020-06-16 00:14] Mr0grog commented on #241
The other kind of confusion I foresee with this is: a month or more after the change, someone clicks a link that *works,* but leads to code that is way out of date without any clear indicators that’s the case. (Best case, it’s just old code/documentation; worst case, it’s totally broken code/inaccurate documentation. In either case, it has similar broad impacts to the broken link problem from poin

[2020-06-16 00:46] patcon commented on #241
Ah good point! Or maybe add **a final commit to master that changes every file** to a simple link to the new place. (could even make reference to the rationale, so that it's not a silent swap, but a mild moment of enlightenment)

[2020-06-16 02:29] Frijol commented on #241
Biggest failure mode I'd expect is someone thoughtlessly pushing to master instead of main, in which having links in the files wouldn't work. (I mean, one should pull request, but EDGI doesn't have a great track record on this)

Is there a way to explicitly archive the branch in github/git so it doesn't accept new commits?

[2020-06-16 03:27] Mr0grog commented on #241
Oh, yeah, we can *protect* the branch so you can’t push to the copy in GitHub. See the branch settings page, e.g: https://github.com/edgi-govdata-archiving/overview/settings/branches

[2020-06-16 03:28] Mr0grog commented on #241
(Has to be done on each repo, though.)

[2020-06-17 17:17] Mr0grog commented on #241
Did some testing on template repos. The default branch applies to the new repo (yay!), but branch protection rules do not come along for the ride (even if you check “include all branches”). So we might leave the `master` branch in other existing repos, but I think we should remove it from the template repo.

As far as branch names, it seems like everyone likes “main,” so I’ll file PRs to update in

[2020-06-17 22:31] patcon commented on #241
\*main :)

[2020-06-18 02:33] Mr0grog commented on #241
Ugh, fixed! 😅

[2020-06-18 17:08] lightandluck commented on #241
I like `main` as well =)

So, sounds like to transition old repos we would need to:

1. Create a new `main` branch from `master`
1. Fix links where we can.
1. Create a final commit in `master` with a message in the README explaining the switch over
1. Make the `main` branch the default branch in the settings
1. Put lots of restrictions on the `master` branch as a reminder not to work on it going f

[2020-06-18 19:55] patcon commented on #241
If the only reason we're leaving `master` around is to help the click-through ppl, then there's maybe no purpose to any of the files on `master` except pointing ppl in the right direction. If so, then why stop at the README, when we could just change all files into pointers :)

Running this should iterate through all files in git, and point them to their new equivalents on the new branch, if that'

[2020-06-20 01:32] Mr0grog commented on #241
I think that might be problematic for things that aren’t linking for the purpose of web browsing, e.g. the Google Colab notebooks @ericnost mentioned above would break if we did that: https://github.com/edgi-govdata-archiving/overview/issues/241#issuecomment-644353782

[2020-06-23 18:10] Frijol commented on #241
making sure @maalvikabhat also sees this is going on as it may have ramifications for EEW notebook links

[2020-06-23 18:14] maalvikabhat commented on #241
thank you so much

[2020-07-01 17:00] lightandluck commented on #241
Yea, I wouldn't want to edit all files in case it breaks something.

If there's no other objections or concerns, I'll start working on the steps I outlined above tomorrow.

[2020-07-05 19:47] ericnost commented on #241
Haven't looked closely yet, but see this: https://twitter.com/jywarren/status/1279856631271100416

[2020-07-07 21:17] lightandluck opened #243 "Moving from `master` to `main` for unarchived EDGI projects"
This is a tracking issue for the [decision to move from master -> main](https://github.com/edgi-govdata-archiving/overview/issues/241) for existing repos.

This outlines the steps agreed with some great pointers from @jywarren and [how they did things for Public Lab repos](https://github.com/publiclab/plots2/issues/8077) and these [additional pointers](https://twitter.com/jywarren/status/127985663

[2020-07-07 21:18] lightandluck commented on #241
Thanks @ericnost! That's extremely helpful!

[2020-07-07 21:19] lightandluck commented on #241
Closing and tracking progress here: https://github.com/edgi-govdata-archiving/overview/issues/243

[2020-07-07 21:19] #241 closed, assigned to nobody

[2020-07-08 18:16] morrme commented on #243
First of all, thank you. ❤️
Next, is this open to new contributors, or does it require someone who is a maintainer?

[2020-07-09 12:56] ericnost commented on #243
@morrme thanks for asking! I think that in order to make the main branch the default branch in the repo's settings, you would need to have some sort of admin access, but can someone else confirm that?

[2020-07-09 13:31] ericnost commented on #243
- [x] https://github.com/edgi-govdata-archiving/ECHO-COVID19

[2020-07-09 14:09] jywarren commented on #243
@ericnost yes that's right. It's great to see you all getting this process going! Happy to offer input if it's helpful!

[2020-07-28 19:22] Frijol commented on #216
I think it really is stale this time! Closing

[2020-07-28 19:22] #216 closed, assigned to nobody

[2020-07-31 17:34] Mr0grog commented on #243
This seems a little excessive to me! Requiring an approval is good, but 6 just feels like it makes even useful changes too hard to bother.

The rest of this is super helpful, though. 🙏

[2020-07-31 18:55] Mr0grog commented on #243
Updated:
- https://github.com/edgi-govdata-archiving/web-monitoring-changed-terms-analysis
- https://github.com/edgi-govdata-archiving/web-monitoring-task-sheets
- https://github.com/edgi-govdata-archiving/wayback

Will try to get to other Web Monitoring repos soon; now dealing with some Internet Archive problems. 😞

EXCEPT https://github.com/edgi-govdata-archiving/web_monitoring_research, which I

[2020-07-31 19:25] jywarren commented on #243
Awesome! Great to see this progressing! 🎉

[2020-07-31 19:53] ericnost commented on #243
- [x] https://github.com/edgi-govdata-archiving/web_monitoring_research
cc @Mr0grog @lightandluck

We are _probably_ going to archive
- https://github.com/edgi-govdata-archiving/ECHO-Clean-Air-Act
- https://github.com/edgi-govdata-archiving/ECHO-Clean-Water-Act
- https://github.com/edgi-govdata-archiving/ECHO-Hazardous-Waste
so they may not get moved over.

[2020-07-31 21:35] lightandluck commented on #243
@Mr0grog Haha, true, it is excessive. Was thinking we didn't want folks push to `master` at all and couldn't find a setting like that. So wanted to set it to something that would set off alarm bells if someone tried and basically making it impossible.

But you're right, we might need to change something and don't think there's any PR approval requirements currently on any of the repos, so 1 should

[2020-07-31 21:49] jywarren commented on #243
Oh this is really interesting methodologically - have you set the review requirement for the `master` branch only? It occurred to me that one could use a CODEOWNERS file in the `master` branch only to auto-trigger review requests to a specific team. https://github.blog/2017-07-06-introducing-code-owners/

Maybe it's solving a problem that doesn't exist, but i like the idea just as a neat trick tha

[2020-08-01 04:44] #238 closed, assigned to nobody

[2020-08-01 06:34] Mr0grog commented on #243
I’m not sure any EDGI projects currently have review requirements for the primary branch right now. As far as `CODEOWNERS`, I *personally* feel like it’s super useful for big projects where there really are different people or teams that own parts of the codebase, but kind of a weird hindrance from projects where that’s not the case — and most EDGI projects are not at all that big or complex, or a

[2020-08-06 14:13] patcon commented on #235
Boop 👃👈

https://github.com/probot/stale/issues/220#issuecomment-538467079

(Yep, that's right -- I booped you all on the nose and left a link for org-wide config 🙂 )

[2020-08-10 22:05] lightandluck commented on #235
Thanks, @patcon for the link!

I think we should do this once we've moved repos to `main` #243.

[2020-08-10 22:55] Frijol commented on #235
oh yayy fewer per-repo things to do

[2020-08-10 22:57] Frijol opened #245 "Access token param deprecated (labels config)"
We use [this process](https://github.com/edgi-govdata-archiving/overview/blob/main/repo_guidelines.md#core-issue-label-configuration) to configure our labels, but it looks like one of the query parameters is deprecated:

I haven't looked into this at all, possibly the CLI we use has been updated already to support a new process

[2020-08-11 01:18] Mr0grog commented on #235
This is great! We still have to delete the existing stalebot config from every repo, though. :P

[2020-08-11 01:19] Mr0grog commented on #235
I don’t think there’s any major reason this can’t be happening at the same time as #243, though.

[2020-08-11 18:14] lightandluck commented on #235
Yea, was just thinking it'd be more convenient to be able to do it all in one swoop without worrying about which was the default branch, but we're doing that bit by bit anyway, so this is just another addition to the list of transition tasks.

Rob, did you still want to find a way to automate this? Haven't worked enough with the different options suggested to recommend a choice among them.

[2020-08-11 18:48] Mr0grog commented on #235
Since this is a one-off operation (we’re just deleting `.github/stale.yml` from every repo), it’s probably not worth writing something re-usable for. But you could make a file that lists each repo, one per line, and run this in bash:

[code]

[2020-08-11 18:49] Mr0grog commented on #235
But do we want to remove it from just one repo first and make sure the global one takes correctly?

[2020-08-11 18:56] Mr0grog commented on #235
Ahhhh, I didn’t read the original well enough. We have to keep the stalebot config in each repo, but its only contents should be `_extends: .github`. So we’d alter the above bash accordingly.

Instead of:

[code]

Do:

[code]

[2020-08-11 20:07] Mr0grog commented on #243
Updated:
- edgi-govdata-archiving/web-monitoring
- edgi-govdata-archiving/web-monitoring-ops
- edgi-govdata-archiving/web-monitoring-versionista-scraper
- edgi-govdata-archiving/web-monitoring-ui
- edgi-govdata-archiving/web-monitoring-processing
- edgi-govdata-archiving/web-monitoring-db

So all the Web Monitoring repos should be done.

[2020-08-12 18:13] lightandluck commented on #243
Thanks, Rob! I've been hitting some roadblocks with the apps connected to Heroku, but making progress. More info in EDGI's private [Slack](https://edgi.slack.com/archives/C57QL8M1T/p1597255916008800).

[2020-08-13 18:00] Frijol commented on #235
oh hm good catch. There are also other globals that might be worth checking out while we're at it e.g. I think we have global Contributing

[2020-08-13 20:43] Mr0grog commented on #235
In any case, I made a PR to add the global config file in edgi-govdata-archiving/.github#4. We’ll still need to update everything else to reference it, but getting the file there so it can be referenced seemed like a no-brainer at this point. (It also updates the timeframe from 7 to 14 days.)

[2020-08-14 23:48] Mr0grog commented on #245
Seems like that NPM package isn’t maintained. 😞

[“github-label-sync”](https://github.com/Financial-Times/github-label-sync) looks pretty well maintained and very similar in usage. It’s maintained by the Financial Times, so I imagine it’s pretty likely to be around and updated for a long time.

[2020-08-17 17:42] Frijol commented on #245
Thanks for checking into this, sounds like we should switch to that

[2020-08-25 20:41] lightandluck commented on #235
Adding checklist to keep track of progress:
- [x] https://github.com/edgi-govdata-archiving/overview
- [x] https://github.com/edgi-govdata-archiving/eis-search
- [x] https://github.com/edgi-govdata-archiving/edgi-website
- [x] https://github.com/edgi-govdata-archiving/eot-nomination-tool
- [x] https://github.com/edgi-govdata-archiving/Template
- [x] https://github.com/edgi-govdata-archiving/edgi-s

[2020-08-25 20:54] lightandluck commented on #235
I'll be working on the misc EDGI repos right now!

[2020-08-26 21:54] lightandluck commented on #243
@ericnost @Frijol @maalvikabhat
Hey y'all, so we've done the switch for all unarchived EDGI repos and WM repos, besides the EEW repos. I have no idea what's in each and how they could be affected by this change. Can someone on the EEW team take a stab at it or write up what needs to happen if it's fairly consistent? Is this something that can happen near-term? I know there's a lot going on with Op

[2020-08-26 21:55] lightandluck commented on #235
Ran the script over all the EEW repos with a stalebot config file (not all of them did.) Thanks for the script, Rob!

Everything should be done!

[2020-08-26 21:55] #235 closed, assigned to nobody

[2020-08-27 12:23] ericnost commented on #243
Hi @lightandluck, thank you so much for moving this along! I will see if Maalvika can work on this next week. In short, I don't think there should be any issues. We aren't sharing links to notebooks widely, and development is fairly minimal.

[2020-08-29 02:00] #245 closed, assigned to nobody

[2020-09-04 21:57] ericnost commented on #243
- [x]  https://github.com/edgi-govdata-archiving/ECHO-Environmental-Crime
- [x]  https://github.com/edgi-govdata-archiving/ECHO-Sunrise
- [x] https://github.com/edgi-govdata-archiving/ECHO-Geo

Requires someone with permissions I don't have. I have created main branches in all or most, but I need someone else to approve and set up main as the default.
- [x]  https://github.com/edgi-govdata-archivi

[2020-09-05 19:28] Mr0grog commented on #243
I can take care of that, @ericnost!

[2020-09-05 19:37] Mr0grog commented on #243
@ericnost [EEW_Planning](https://github.com/edgi-govdata-archiving/EEW_Planning) was on your checklist twice — just making sure that was an accidental duplication and that you didn’t mean to type something else the second time it was listed.

[2020-09-05 19:41] Mr0grog commented on #243
Also, [edgi-govdata-archiving/ECHO-DB-Views](https://github.com/edgi-govdata-archiving/ECHO-DB-Views) and [edgi-govdata-archiving/ECHO-Watershed](https://github.com/edgi-govdata-archiving/ECHO-Watershed) didn’t have a `main` branch yet so I didn’t touch them. LMK if I should create the branches there.

[2020-09-08 14:44] ericnost commented on #243
thank you for the help Rob!

Yes, I think eew_planning was there twice on accident

Ive asked the owners of dbviews and watershed to create branches...

[2021-06-04 02:38] Mr0grog commented on #243
Updated the original post with ones that have since been updated:
- https://github.com/edgi-govdata-archiving/ECHO-Watershed
- https://github.com/edgi-govdata-archiving/EEW-Image-Assets
- https://github.com/edgi-govdata-archiving/EEW-Website

I also checked off https://github.com/edgi-govdata-archiving/echo-data since it’s been archived and https://github.com/edgi-govdata-archiving/echo-ux-testing

[2021-06-10 22:56] Mr0grog commented on #243
Almost there! The only holdout is https://github.com/edgi-govdata-archiving/CD-report
PR at edgi-govdata-archiving/CD-report#21

[2021-06-29 05:04] Mr0grog commented on #243
…and we’re done, [CD-report](https://github.com/edgi-govdata-archiving/CD-report) has switched.

[2021-06-29 05:04] #243 closed, assigned to nobody